<!-- Locks view -->
<div ng-controller="LocksController">
    <div class="page-header"><h1>{{_t('nav_locks')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div id="table_mobile"  ng-if="locks.show">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <!-- id -->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'idSort'" label="'#'"></sort-by>
                    </th>
                    <!-- name-->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'name'"
                                 label="_t('device_name')"></sort-by>
                    </th>
                    <!-- status-->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'status'"
                                 label="_t('nav_status')"></sort-by>
                    </th>
                    <!-- time -->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'updateTime'"
                                 label="_t('datetime')"></sort-by>
                    </th>
                    <!-- action -->
                    <th>&nbsp;</th>
                    <!-- on/off -->
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in locks.all | orderBy:predicate:reverse track by $index" id="{{ v.rowId}}">
                    <!-- id -->
                    <td data-title="#">{{ v.id}}<span ng-show="v.iId != 0">.{{v.iId}}</span></td>
                    <!-- name -->
                    <td data-title="{{ _t('device_name')}}">{{ v.name}}</td>
                    <!-- status -->
                    <td data-title="{{ _t('nav_status')}}" class="row-level">{{_t(v.status)}} &nbsp;</td>
                    <!-- time -->
                    <td data-title="{{ _t('datetime')}}">
                        <bb-date-time obj="v.dateTime" updated="v.isUpdated"></bb-date-time>
                    </td>
                    <!-- update -->
                    <td class="td-action" data-title="">
                        <button class="btn btn-default" id="btn_update_{{ v.rowId}}"
                                ng-click="updateLock(v.urlToStore)"
                                ng-disabled="rowSpinner[v.urlToStore]">
                            <bb-row-spinner
                                    spinner="rowSpinner[v.urlToStore]"
                                    label=" _t('update')"
                                    icon="'fa-circle text-success'">

                            </bb-row-spinner>
                        </button>
                    </td>
                    <!-- on/off -->
                    <td class="lock-controll td-action" data-title="">
                       <div class="btn-group btn-group-lock">
                          <button 
                                type="button" 
                                class="btn btn-default btn-lock"
                                id="btn_lock_{{ v.rowId}}"
                                title="{{_t('btn_close')}}"
                                ng-class="{active: v.level=='255'}"
                                ng-click="updateLock(v.urlToOn)"
                                ng-disabled="rowSpinner[v.urlToOn]">
                              <bb-row-spinner
                                      spinner="rowSpinner[v.urlToOn]"
                                      icon="'fa-lock text-success'">
                              </bb-row-spinner>
                          </button>
                            <button 
                                type="button" 
                                class="btn btn-default btn-unlock"
                                id="btn_unlock_{{ v.rowId}}"
                                title="{{_t('btn_open')}}"
                                ng-class="{active: v.level=='0'}"
                                ng-click="updateLock(v.urlToOff)"
                                ng-disabled="rowSpinner[v.urlToOff]">
                                <bb-row-spinner
                                        spinner="rowSpinner[v.urlToOff]"
                                        icon="'fa-unlock text-danger'">
                                </bb-row-spinner>
                            </button>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
