<!-- Locks view -->
<div ng-controller="LocksController">
    <div class="page-header"><h1>{{_t('nav_locks')}}</h1></div>
    <div class="table-responsive" id="tbl_lock">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="orderBy('id')">#  
                            <span ng-show="predicate == 'id'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('name')">{{ _t('device_name')}}
                            <span ng-show="predicate == 'name'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('level')">{{ _t('device_name')}}
                            <span ng-show="predicate == 'status'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('updateTime')">{{ _t('datetime')}}
                            <span ng-show="predicate == 'updateTime'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in locks| orderBy:predicate:reverse" id="{{ v.rowId}}">
                    <td>{{ v.id}}</td>
                    <td>{{ v.name}} Name</td>
                    <td class="row-level">{{ v.level |lockStatus }}</td>
                    <td class="row-time is-updated-{{v.isUpdated}}">{{ v.updateTime | isTodayFromUnix }}</td>
                    <td>
                        <button 
                            data-ng-click="store('#btn_update_' + v.rowId)" 
                            data-store-url="{{ v.urlToStore}}.Get()" 
                            class="btn btn-primary spin-true" 
                            id="btn_update_{{ v.rowId}}"
                            >{{ _t('update')}} <i class="fa fa-spinner fa-spin"></i></button>
                    </td>
                    <td class="lock-controll">
                       
                        <div class="btn-group btn-group-lock">
                          <button 
                                type="button" 
                                class="btn btn-primary btn-lock"
                                id="btn_lock_{{ v.rowId}}"
                                title="{{_t('btn_close')}}"
                                ng-class="{active: v.level=='255'}"
                                data-ng-click="store('#btn_lock_' + v.rowId)" 
                                data-store-url="{{ v.urlToStore}}.Set(255)" 
                                ><i class="fa fa-lock fa-lg"></i></button>
                            <button 
                                type="button" 
                                class="btn btn-primary btn-unlock"
                                id="btn_unlock_{{ v.rowId}}"
                                title="{{_t('btn_open')}}"
                                ng-class="{active: v.level=='0'}"
                                data-ng-click="store('#btn_unlock_' + v.rowId)" 
                                data-store-url="{{ v.urlToStore}}.Set(0)" 
                                ><i class="fa fa-unlock fa-lg"></i></button>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
