<!-- Dimmer view -->
<div ng-controller="MetersController">
    <bb-loader></bb-loader>
    <div class="page-header"><h1>{{_t('nav_meters')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div id="table_mobile" ng-if="meters.show">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="orderBy('id')">#  
                            <span ng-show="predicate == 'id'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('name')">{{ _t('device_name')}}
                            <span ng-show="predicate == 'name'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('purpose')">{{ _t('device_description_device_type')}}
                            <span ng-show="predicate == 'purpose'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th class="text-right">
                        <a href="" ng-click="orderBy('level')">{{ _t('th_level')}}
                            <span ng-show="predicate == 'level'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('levelExt')">{{ _t('th_scale')}}
                            <span ng-show="predicate == 'levelExt'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('updateTime')">{{ _t('datetime')}}
                            <span ng-show="predicate == 'updateTime'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th class="mobile-show td-action">
                        <button class="btn btn-info" id="btn_update_all_1"
                                ng-click="updateAllMeters('all_1','urlToStore')"
                                ng-disabled="rowSpinner['all_1']">
                            <bb-row-spinner
                                    spinner="rowSpinner['all_1']"
                                    label="_t('switches_update_all')"
                                    icon="'fa-check'">
                            </bb-row-spinner>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in meters.all | orderBy:predicate:reverse track by $index" id="{{ v.rowId}}">
                    <td data-title="#">{{ v.id}}<span ng-show="v.iId != 0">.{{v.iId}}</span></td>
                    <td data-title="{{ _t('device_name')}}"><i class="fa fa-lightbulb-o fa-lg"></i> {{ v.name}}</td>
                    <td data-title="{{ _t('device_description_device_type')}}">{{ v.purpose}} &nbsp;</td>
                    <td data-title="{{ _t('th_level')}}" class="row-level text-right">{{ v.level}} &nbsp;</td>
                    <td data-title="{{ _t('th_scale')}}" class="row-level-ext">{{ v.levelExt}} &nbsp;</td>
                    <td data-title="{{ _t('datetime')}}" class="row-time is-updated-{{v.isUpdated}}">{{ v.updateTime | isTodayFromUnix }} &nbsp;</td>
                    <td class="td-action" data-title="">
                        <button class="btn btn-default" id="btn_update_{{ v.rowId}}"
                                ng-click="updateMeter(v.urlToStore)"
                                ng-disabled="rowSpinner[v.urlToStore]">
                            <bb-row-spinner
                                    spinner="rowSpinner[v.urlToStore]"
                                    label=" _t('update')"
                                    icon="'fa-check text-success'">

                            </bb-row-spinner>
                        </button>

                        <button class="btn btn-default" id="btn_reset_{{ v.rowId}}"
                                ng-if="v.urlToReset"
                                ng-click="updateMeter(v.urlToReset)"
                                ng-disabled="rowSpinner[v.urlToReset]">
                            <bb-row-spinner
                                    spinner="rowSpinner[v.urlToReset]"
                                    label=" _t('reset')"
                                    icon="'fa-refresh text-success'">

                            </bb-row-spinner>
                        </button>

                        <button
                            data-ng-click="store(v.urlToStore, 'update')" 
                            data-action="update" 
                            data-store-url="{{ v.urlToStore}}" 
                            class="btn btn-primary spin-true" 
                            id="btn_update_{{ v.rowId}}">{{ _t('update')}} <i class="fa fa-spinner fa-spin"></i> 
                        </button>
                        <button 
                            ng-if="v.urlToReset"
                            data-ng-click="store(v.urlToReset, 'reset')"
                            data-action="reset" 
                            class="btn btn-primary spin-true" 
                            id="btn_reset_{{ v.rowId}}">{{ _t('reset')}} <i class="fa fa-spinner fa-spin"></i> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>