<!-- Dimmer view -->
<div ng-controller="MetersController">
    <div class="page-header"><h1>{{_t('nav_meters')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div id="table_mobile" ng-if="meters.show">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <!-- id -->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'idSort'" label="'#'"></sort-by>
                    </th>
                    <!-- name-->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'name'"
                                 label="_t('device_name')"></sort-by>
                    </th>
                    <!-- type -->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'purpose'"
                                 label="_t('device_description_device_type')"></sort-by>
                    </th>
                    <!-- level -->
                    <th class="text-right">
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'level'"
                                 label="_t('th_level')"></sort-by>
                    </th>
                    <!-- scale -->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'levelExt'"
                                 label="_t('th_scale')"></sort-by>
                    </th>
                    <!-- time -->
                    <th>
                        <sort-by callback="orderBy(field)" obj="orderByArr" field="'updateTime'"
                                 label="_t('datetime')"></sort-by>
                    </th>
                    <!-- action -->
                    <th class="mobile-show td-action">
                        <button class="btn btn-primary" id="btn_update_all_1"
                                ng-click="updateAllMeters('all_1','urlToStore')"
                                ng-disabled="rowSpinner['all_1']">
                            <bb-row-spinner
                                    spinner="rowSpinner['all_1']"
                                    label="_t('switches_update_all')"
                                    icon="'fa-circle'">
                            </bb-row-spinner>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in meters.all | orderBy:predicate:reverse track by $index" id="{{ v.rowId}}">
                    <!-- id -->
                    <td data-title="#">{{ v.id}}<span ng-show="v.iId != 0">.{{v.iId}}</span></td>
                    <!-- name -->
                    <td data-title="{{ _t('device_name')}}">{{ v.name}}</td>
                    <!-- type -->
                    <td data-title="{{ _t('device_description_device_type')}}">{{ v.purpose}} &nbsp;</td>
                    <!-- level -->
                    <td data-title="{{ _t('th_level')}}" class="row-level text-right">{{ v.level}} &nbsp;</td>
                    <!-- extension -->
                    <td data-title="{{ _t('th_scale')}}" class="row-level-ext">{{ v.levelExt}} &nbsp;</td>
                    <!-- time -->
                    <td data-title="{{ _t('datetime')}}">
                        <bb-date-time obj="v.dateTime" updated="v.isUpdated"></bb-date-time>
                    </td>
                    <!-- action -->
                    <td class="td-action" data-title="">
                        <button class="btn btn-default" id="btn_update_{{ v.rowId}}"
                                ng-click="updateMeter(v.urlToStore)"
                                ng-disabled="rowSpinner[v.urlToStore]">
                            <bb-row-spinner
                                    spinner="rowSpinner[v.urlToStore]"
                                    label=" _t('update')"
                                    icon="'fa-circle text-success'">

                            </bb-row-spinner>
                        </button>

                        <button class="btn btn-default" id="btn_reset_{{ v.rowId}}"
                                ng-if="v.urlToReset"
                                ng-click="updateMeter(v.urlToReset)"
                                ng-disabled="rowSpinner[v.urlToReset]">
                            <bb-row-spinner
                                    spinner="rowSpinner[v.urlToReset]"
                                    label=" _t('reset')"
                                    icon="'fa-sync text-success'">

                            </bb-row-spinner>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>