<!-- Sensors view -->
<div ng-controller="SensorsController">
    <div class="page-header"><h1>Sensor Data</h1></div>
    
     <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th><a href="" ng-click="predicate = 'id';reverse = !reverse">#</a></th>
                <th><a href="" ng-click="predicate = 'name';reverse = !reverse">Name</a></th>
                 <th>Type</th>
                 <th class="text-right"><a href="" ng-click="predicate = 'level';reverse = !reverse">Level</a></th>
                <th>&nbsp;</th>
                <th><a href="" ng-click="predicate = 'updateTime';reverse = !reverse">Date</a></th>
                <th><button class="btn btn-success" data-ng-click="storeAll('all_1')" id="btn_update_all_1">Update all</button>&nbsp;<btn-spinner /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="v in sensors | orderBy:predicate:reverse" id="{{ v.rowId }}">
                <td>{{ v.id }}</td>
                <td ng-switch on="v.type">
                    <i ng-switch-when="SensorBinary" class="fa fa-eye fa-lg"></i>
                     <i ng-switch-when="Meter" class="fa fa-lightbulb-o fa-lg"></i> 
                    <i ng-switch-default class="fa fa-bullseye fa-lg"></i> 
                    {{ v.name }}
                    </td>
                <td>{{ v.purpose }}</td>
                <td class="row-level text-right">{{ v.level }}</td>
                 <td class="row-level-ext">{{ v.levelExt }}</td>
                <td class="row-time is-updated-{{v.isUpdated}}">{{ v.updateTime | isTodayFromUnix }}</td>
               <td><button data-ng-click="store(v.rowId)" data-store-url="{{ v.urlToStore }}" class="btn btn-primary btn-spinner" id="btn_update_{{ v.rowId }}">Update</button>&nbsp;<btn-spinner /></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>