<!-- Switch view -->
<div ng-controller="SwitchController">
    <div class="page-header"><h1>{{_t('nav_switch')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div id="table_mobile"  ng-if="switches.show">
        <table class="table table-striped table-condensed table-hover">
            <thead class="cf">
            <tr>
                <th>
                    <a href="" ng-click="orderBy('id')">#
                        <span ng-show="predicate == 'id'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i
                                ng-show="reverse" class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderBy('name')">{{ _t('device_name')}}
                        <span ng-show="predicate == 'name'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i
                                ng-show="reverse" class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th class="text-right">
                    <a href="" ng-click="orderBy('level')">{{ _t('th_level')}}
                        <span ng-show="predicate == 'level'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i
                                ng-show="reverse" class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderBy('updateTime')">{{ _t('datetime')}}
                        <span ng-show="predicate == 'updateTime'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i
                                ng-show="reverse" class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderBy('switchAllValue')">{{ _t('th_switchall')}}
                        <span ng-show="predicate == 'switchAllValue'"><i ng-show="!reverse"
                                                                         class="fa fa-sort-asc"></i><i ng-show="reverse"
                                                                                                       class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th class="mobile-show">
                    <button class="btn btn-primary" id="btn_update_all_1"
                            ng-click="updateAllSwitches('all_1','urlToStore')"
                            ng-disabled="rowSpinner['all_1']">
                        <bb-row-spinner
                                spinner="rowSpinner['all_1']"
                                label="_t('switches_update_all')"
                                icon="'fa-circle-o'">
                        </bb-row-spinner>
                    </button>
                </th>
                <th class="mobile-show">
                    <div class="btn-group" style="min-width: 150px !important;">
                        <button class="btn btn-primary" id="btn_all_of"
                                ng-click="updateAllSwitches('btn_all_of','urlToOff')"
                                ng-disabled="rowSpinner['btn_all_of']">
                            <bb-row-spinner
                                    spinner="rowSpinner['btn_all_of']"
                                    label=" _t('btn_all_off')"
                                    icon="'fa-toggle-off'">

                            </bb-row-spinner>
                        </button>
                        <button class="btn btn-primary" id="btn_all_on"
                                ng-click="updateAllSwitches('btn_all_on','urlToOn')"
                                ng-disabled="rowSpinner['btn_all_on']">
                            <bb-row-spinner
                                    spinner="rowSpinner['btn_all_on']"
                                    label="_t('btn_all_on')"
                                    icon="'fa-toggle-on'"></bb-row-spinner>
                        </button>
                    </div>
                </th>
                <th class="th-slider td-action">&nbsp;</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="v in switches.all| orderBy:predicate:reverse track by $index" id="{{ v.rowId}}"
                ng-init="range.maxs = v.levelVal">
                <td data-title="#">{{ v.id}}<span ng-show="v.multiChannel || v.iId > 0">.{{v.iId}}</span></td>
                <td data-title="{{ _t('device_name')}}">
                    <switch-type-icon generic="{{ v.genericType}}" specific="{{ v.specificType}}"></switch-type-icon>
                    {{ v.name}}
                </td>
                <td data-title="{{ _t('th_level')}}">
                    <strong class="row-level text-right" style="color: {{ v.levelColor}};">{{ v.level}}</strong>

                </td>
                <td data-title="{{ _t('datetime')}}" lass="row-time is-updated-{{v.isUpdated}}" title="{{v.dateTime.date}} {{v.dateTime.time}}">
                    {{v.dateTime.today}}
                </td>
                <td data-title="{{ _t('th_switchall')}}">
                    <switch-all-icon hasall="{{ v.switchAllValue}}" ng-if="v.switchAllValue !== null"></switch-all-icon>
                    &nbsp;
                </td>
                <td data-title="">
                    <button class="btn btn-default" id="btn_update_{{ v.rowId}}"
                            ng-click="updateSwitch(v.urlToStore)"
                            ng-disabled="rowSpinner[v.urlToStore]">
                        <bb-row-spinner
                                spinner="rowSpinner[v.urlToStore]"
                                label=" _t('update')"
                                icon="'fa-circle-o text-success'">

                        </bb-row-spinner>
                    </button>
                </td>
                <td data-title="" ng-switch on="v.deviceType">
                    <div ng-switch-when="multilevel">
                        <div class="btn-group" style="min-width: 110px !important;">
                            <label class="switch" title="v.levelStatus === 'on' ? v.btnOff : v.btnOn"
                                   ng-hide="rowSpinner['btn_all_of'] || rowSpinner['btn_all_on']">
                                <input type="checkbox"
                                       ng-disabled="rowSpinner[v.urlToOn]"
                                       ng-checked="v.levelStatus === 'on'"
                                       ng-model="switches.switchButton[v.rowId]"
                                       ng-change="updateSwitch(switches.switchButton[v.rowId] ? v.urlToOn : v.urlToOff)"
                                >
                                <div class="slider round"></div>
                            </label>

                            <i class="fa fa-spinner fa-spin fa-lg" ng-if="rowSpinner['btn_all_of'] || rowSpinner['btn_all_on'] "></i>
                            <!--<button class="btn btn-default" id="btn_off_{{ v.rowId}}"
                                    ng-disabled="rowSpinner[v.urlToOff]"
                                    ng-click="updateSwitch(v.urlToOff)">
                                <bb-row-spinner spinner="rowSpinner[v.urlToOff]"
                                                label="v.btnOff"
                                                icon="'fa-toggle-off text-info'">
                                </bb-row-spinner>
                            </button>
                            <button class="btn btn-default" id="btn_on_{{ v.rowId}}"
                                    ng-disabled="rowSpinner[v.urlToOn]"
                                    ng-click="updateSwitch(v.urlToOn)">
                                <bb-row-spinner spinner="rowSpinner[v.urlToOn]"
                                                label="v.btnOn"
                                                icon="'fa-toggle-on text-success'">
                                </bb-row-spinner>
                            </button>-->
                        </div>

                        <button class="btn btn-default" id="btn_full_{{ v.rowId}}"
                                ng-show_="!v.hasMotor"
                                ng-disabled="rowSpinner[v.urlToFull]"
                                ng-click="updateSwitch(v.urlToFull)">
                            <bb-row-spinner spinner="rowSpinner[v.urlToFull]"
                                            label="v.btnFull"
                                            icon="'fa-circle-o-notch text-success'">
                            </bb-row-spinner>
                        </button>

                    </div>

                    <div class="btn-group" ng-switch-when="binary">
                        <label class="switch" title="v.levelStatus === 'on' ? v.btnOff : v.btnOn"
                        ng-hide="rowSpinner['btn_all_of'] || rowSpinner['btn_all_on']">
                            <input type="checkbox"
                                   ng-disabled="rowSpinner[v.urlToOn]"
                                   ng-checked="v.levelStatus === 'on'"
                                   ng-model="switches.switchButton[v.id]"
                                   ng-change="updateSwitch(switches.switchButton[v.id] ? v.urlToOn : v.urlToOff)"
                            >
                            <div class="slider round"></div>
                        </label>

                        <i class="fa fa-spinner fa-spin fa-lg" ng-if="rowSpinner['btn_all_of'] || rowSpinner['btn_all_on'] "></i>

                        <!--<button class="btn btn-default" id="btn_off_{{ v.rowId}}"
                                ng-disabled="rowSpinner[v.urlToOff]"
                                ng-click="updateSwitch(v.urlToOff)">
                            <bb-row-spinner spinner="rowSpinner[v.urlToOff]"
                                            label="v.btnOff"
                                            icon="'fa-toggle-off text-info'">
                            </bb-row-spinner>
                        </button>
                        <button class="btn btn-default" id="btn_on_{{ v.rowId}}"
                                ng-disabled="rowSpinner[v.urlToOn]"
                                ng-click="updateSwitch(v.urlToOn)">
                            <bb-row-spinner spinner="rowSpinner[v.urlToOn]"
                                            label="v.btnOn"
                                            icon="'fa-toggle-on text-success'">
                            </bb-row-spinner>
                        </button>-->

                    </div>
                    <div ng-switch-default>&nbsp;</div>
                </td>
                <td class="td-action" data-title="" ng-switch on="v.deviceType">
                    <div ng-switch-when="multilevel"
                         id="range_slider_{{$index}}"
                         class="app-range-slider"
                         range-slider
                         min="0"
                         max="v.levelMax"
                         model-max="switches.rangeSlider[$index]"
                         pin-handle="min"
                         on-handle-down="sliderOnHandleDown()"
                         on-handle-up="sliderOnHandleUp(v.urlToSlide,$index)"></div>
                    <div ng-switch-default>&nbsp;</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>