<!-- Thermostat view -->
<div ng-controller="ThermostatController">
    <div class="page-header"><h1>{{_t('nav_thermostat')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div id="table_mobile" ng-if="thermostats.show">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="orderBy('id')">#  
                            <span ng-show="predicate == 'id'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('name')">{{ _t('device_name')}}
                            <span ng-show="predicate == 'name'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('temp')">{{ _t('switch_point_temp')}}
                            <span ng-show="predicate == 'temp'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('updateTime')">{{ _t('datetime')}}
                            <span ng-show="predicate == 'updateTime'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                     <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="th-slider">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in thermostats.all| orderBy:predicate:reverse track by v.id" id="{{ v.rowId}}">
                    <td data-title="#">{{ v.id}}</td>
                    <td data-title="{{ _t('device_name')}}"><i class="fa fa-sort-amount-asc fa-lg"></i> {{ v.name}}</td>
                    <td data-title="{{ _t('switch_point_temp')}}" class="row-level">
                        <span class="level-val" ng-show="v.level != null">{{ v.level}}</span>&nbsp;<span  ng-show="v.hasExt">{{ v.scale}}</span>
                    </td>
                    <td data-title="{{ _t('datetime')}}" class="row-time">
                        <span class="is-updated-{{v.isUpdated}}" ng-show="v.level != null">{{ v.updateTime | isTodayFromUnix }}</span>
                    </td>
                    <td>
                        <div class="form-inline" ng-show="v.isThermostatMode">
                            <select class="form-control"
                                    ng-model="thermostats.mChangeMode[v.id]"
                                    ng-change="updateThermostatMode(v.urlToStore,thermostats.mChangeMode[v.id])">
                                <option value="">--- {{_t.('thermostat_mode_change')}} ---</option>
                                <option ng-repeat="m in v.modeList" value="{{m.key}}" ng-selected="m.key == v.curThermMode">{{m.val}}</option>
                            </select>
                            <bb-row-spinner spinner="rowSpinner[v.urlToStore]"></bb-row-spinner>
                        </div>
                    </td>
                    <td> 
                        <!-- <span ng-bind="rangeSlider[$index]"></span>  -->
                        <div class="btn-group" ng-show="!v.curThermMode">
                            <button title="{{_t.('btn_minus')}}" class="btn btn-default"
                                    ng-click="updateThermostatTempClick(v.urlChangeTemperature, $index, '-')">
                                <i class="fa fa-minus text-danger"></i>
                            </button>
                            <button title="{{_t.('btn_plus')}}" class="btn btn-default"
                                    ng-click="updateThermostatTempClick(v.urlChangeTemperature, $index, '+')">
                                <i class="fa fa-plus text-success"></i>
                            </button>
                        </div>
                        <bb-row-spinner spinner="rowSpinner[v.urlChangeTemperature]"></bb-row-spinner>
                    </td>
                    <td>
                        <div ng-show="!v.curThermMode">
                            <div id="range_slider_{{$index}}" 
                                 class="app-range-slider" 
                                 range-slider 
                                 min='cfg.thermostat_range.min' 
                                 max='cfg.thermostat_range.max'  
                                 model-max="thermostats.rangeSlider[$index]"
                                 pin-handle="min"
                                 on-handle-down="sliderOnHandleDown()"
                                 on-handle-up="sliderOnHandleUp(v.urlChangeTemperature,$index)">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>