<!-- Controller Maintenance -->
<div class="panel panel-default" ng-controller="ZwaveChipRebootResetController">
    <div class="panel-heading"><i class="fa fa-gear"></i> {{_t('nm_ctrl_maintance')}}</div>
    <div class="panel-body">
        <!-- soft_reset_controller -->
        <div class="cfg-block form-inline">
            <p class="input-help">{{_t('nm_chip_reboot_war')}}</p>
            <button class="btn btn-primary"
                    id="btn_chip_reboot"
                    ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="serialAPISoftReset('SerialAPISoftReset()')"
                    ng-disabled="rowSpinner['SerialAPISoftReset()']">
                <bb-row-spinner
                    spinner="rowSpinner['SerialAPISoftReset()']"
                    label="_t('nm_soft_reset_controller')"
                    icon="'fa-refresh'">
            </bb-row-spinner>
            </button>
        </div>
        <!-- reset_controller -->
        <div class="cfg-block form-inline">
            <p class="input-help">{{_t('nm_chip_reset_war_ima')}}</p>
            <!--controllerState: {{controlDh.controller.controllerState}}<br/>
            controlDh.factory.process: {{controlDh.factory.process}}-->
            <bb-alert alert="controlDh.factory.alert"></bb-alert>
            <button class="btn btn-danger"
                    ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['controller.SetDefault()']"
                    ng-click="handleModal('rebootResetModal', $event)">
                <bb-row-spinner
                        spinner="rowSpinner['controller.SetDefault()']"
                        label="_t('nm_reset_controller')"
                        icon="'fa-exclamation-triangle'">
                </bb-row-spinner>
                </button>
        </div>
    </div>
</div>

<!-- rebootResetModal -->
<div id="rebootResetModal" class="appmodal" ng-if="modalArr.rebootResetModal" ng-controller="ZwaveChipRebootResetController">
    <div class="appmodal-in">
        <div class="appmodal-header">
                <span class="appmodal-close" ng-click="handleModal('rebootResetModal', $event)"><i
                        class="fa fa-times"></i></span>
                <h3>{{_t('nm_reset_controller')}}</h3>
            </div>
            <div class="appmodal-body">
                <div class="alert alert-warning">
                    <p>{{_t('nm_controller_reset_war')}}<p>
                    <p><input type="checkbox" name="reset_confirm" id="reset_confirm" value="1" ng-click="goSetDefault = !goSetDefault" /> {{_t('yes')}}<p>
                </div>

            </div>
            <div class="appmodal-footer">
                <!-- Close -->
                <button type="button" class="btn btn-default" ng-click="handleModal('rebootResetModal', $event)">
                    <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                </button>
                <!-- Set Default -->
                <button type="button" class="btn btn-danger" id="btn_reset_controller"
                        ng-show="goSetDefault"
                        ng-click="setDefault('controller.SetDefault()');handleModal('rebootResetModal', $event)"
                        ng-disabled="rowSpinner['controller.SetDefault()']">
                    <bb-row-spinner
                            spinner="rowSpinner['controller.SetDefault()']"
                            label="_t('nm_reset_controller')"
                            icon="'fa-exclamation-triangle'">
                    </bb-row-spinner>
            </div>
    </div>
</div><!-- /#modal rebootResetModal -->
