<!-- Device Management -->
<div class="panel panel-default panel-highlighted">
    <div class="panel-heading"><i class="fa fa-cubes"></i> {{_t('nm_device_management')}}</div>
    <div class="panel-body">
        <!-- Secure/Unsecure  -->
        <div class="cfg-block" ng-controller="SetSecureInclusionController">
            {{_t('nm_force_unsecure')}}
            <div class="btn-group">
                <!-- Secure -->
                <button type="button" class="btn btn-primary" id="btn_force_secure_lock"
                        ng-class="controlDh.controller.secureInclusion ? 'active' : ''"
                        ng-click="setSecureInclusion('controller.data.secureInclusion=true')"
                        ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['controller.data.secureInclusion=true']">
                    <bb-row-spinner
                            spinner="rowSpinner['controller.data.secureInclusion=true']"
                            label="_t('btn_secure')"
                            icon="'fa-lock'">
                    </bb-row-spinner>
                </button>
                <!-- Unsecure -->
                <button type="button" class="btn btn-primary" id="btn_force_unsecure_lock"
                        ng-class="!controlDh.controller.secureInclusion ? 'active' : ''"
                        ng-click="setSecureInclusion('controller.data.secureInclusion=false')"
                        ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['controller.data.secureInclusion=false']">
                    <bb-row-spinner
                            spinner="rowSpinner['controller.data.secureInclusion=false']"
                            label="_t('btn_unsecure')"
                            icon="'fa-unlock'">
                    </bb-row-spinner>
                </button>
            </div>
        </div>

        <!-- Include/Exclude  -->
        <div class="cfg-block" ng-controller="IncludeExcludeDeviceController">
            <!-- Basic info  -->
            <p class="input-help" ng-show="controlDh.controller.isSIS || controlDh.controller.isPrimary">
                {{_t('nm_learn_mode_you_are_primary_no_sis')}}</p>
            <p class="input-help" ng-show="!controlDh.controller.isSIS && !controlDh.controller.isPrimary">
                {{_t('nm_learn_mode_you_are_secondary_can_not_add')}}</p>
            <div ng-hide="controlDh.inclusion.lastIncludedDevice.message || controlDh.inclusion.lastExcludedDevice.message">
                <!-- Info about siss/primary  -->
                <bb-alert alert="controlDh.inclusion.alertPrimary"></bb-alert>
                <!-- Controller status  -->
                <bb-alert alert="controlDh.inclusion.alert"></bb-alert>
            </div>
            <!-- Inclusion success  -->
            <bb-alert alert="controlDh.inclusion.lastIncludedDevice"></bb-alert>
            <!-- Exclusion success  -->
            <bb-alert alert="controlDh.inclusion.lastExcludedDevice"></bb-alert>
            <!-- S2 Alert  -->
            <bb-alert alert="controlDh.inclusion.alertS2"></bb-alert>
            <!-- include start -->
            <button class="btn btn-primary" id="btn_nm_include_start" title="{{_t('nm_include_start_tooltip')}}"
                    ng-disabled="[5, 6, 7, 20].indexOf(controlDh.controller.controllerState) > -1 || (!controlDh.controller.isRealPrimary && !controlDh.controller.isSIS)"
                    ng-show="[1, 2, 3, 4].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="addNodeToNetwork('controller.AddNodeToNetwork(1)')">
                <i class="fa fa-play-circle"></i> {{_t('nm_include_start')}}
            </button>
            <!-- include stop -->
            <button
                    class="btn btn-danger"
                    id="btn_nm_include_stop"
                    ng-show="[1, 2, 3, 4].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="addNodeToNetwork('controller.AddNodeToNetwork(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('nm_include_stop')}}
            </button>
            <!-- exclude start -->
            <button class="btn btn-info" id="nm_exclude_start" title="{{_t('nm_exclude_start_tooltip')}}"
                    ng-disabled="[1, 2, 3, 4, 20].indexOf(controlDh.controller.controllerState) > -1 || (!controlDh.controller.isRealPrimary && !controlDh.controller.isSIS)"
                    ng-show="[5, 6, 7].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="removeNodeToNetwork('controller.RemoveNodeFromNetwork(1)')">
                <i class="fa fa-play-circle"></i> {{_t('nm_exclude_start')}}
            </button>
            <!-- exclude stop -->
            <button class="btn btn-danger" id="nm_exclude_stop"
                    ng-show="[5, 6, 7].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="removeNodeToNetwork('controller.RemoveNodeFromNetwork(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('nm_exclude_stop')}}
            </button>
        </div>
    </div>
</div>

<!-- inclusionS2GrantKeysModal -->
<div id="inclusionS2GrantKeys" class="appmodal" ng-if="controlDh.inclusion.grantKeys.show && cfg.app_type != 'installer'">
    <!-- <div class="appmodal-in">-->
    <form class="appmodal-in" name="form_inclusionS2GrantKeys" id="form_inclusionS2GrantKeys" ng-submit="">
    <div class="appmodal-header">
                <!--<span class="appmodal-close" ng-click="closeInclusionModal()"><i
                        class="fa fa-times"></i></span>-->
        <h3>{{_t('granted_keys')}}</h3>
    </div>
    <div class="appmodal-body">
        <p>{{_t('select_auth_for_device')}}:</p>
        <div class="alert alert-warning">{{controlDh.inclusion.grantKeys.countDown}}s {{_t('remain')}}</div>
        <!--<pre>{{controlDh.inclusion.input|json}}</pre>-->
        <div>
            <input type="checkbox" name="grantS0" value="false" id="grantS0" ng-model="controlDh.inclusion.input.keysGranted.S0" ng-disabled="!controlDh.inclusion.input.keysRequested.S0" />
            <label ng-class="{diabled_label: !controlDh.inclusion.input.keysRequested.S0}">{{_t('S0')}}</label>
        </div>
        <div>
            <input type="checkbox" name="grantS2Unauthenticated" value="false" id="grantS2Unauthenticated" ng-model="controlDh.inclusion.input.keysGranted.S2Unauthenticated" ng-disabled="!controlDh.inclusion.input.keysRequested.S2Unauthenticated" />
            <label ng-class="{diabled_label: !controlDh.inclusion.input.keysRequested.S2Unauthenticated}">{{_t('S2_Unauthenticated')}}</label>
        </div>
        <div>
            <input type="checkbox" name="grantS2Authenticated" value="false" id="grantS2Authenticated" ng-model="controlDh.inclusion.input.keysGranted.S2Authenticated" ng-disabled="!controlDh.inclusion.input.keysRequested.S2Authenticated" />
            <label ng-class="{diabled_label: !controlDh.inclusion.input.keysRequested.S2Authenticated}">{{_t('S2_Authenticated')}}</label>
        </div>
        <div>
            <input type="checkbox" name="grantS2Access" value="false" id="grantS2Access" ng-model="controlDh.inclusion.input.keysGranted.S2Access" ng-disabled="!controlDh.inclusion.input.keysRequested.S2Access" />
            <label ng-class="{diabled_label: !controlDh.inclusion.input.keysRequested.S2Access}">{{_t('S2_Access')}}</label>
        </div>
    </div>
    <div class="appmodal-footer">
        <!-- Ok -->
        <button type="button" class="btn btn-submit" ng-click="handleInclusionS2GrantKeys(controlDh.inclusion.input.keysGranted)">
            <i class="fa fa-check"></i> <span class="btn-name">{{_t('ok')}}</span>
        </button>
    </div>
    </form>
    <!--</div>-->
</div><!-- /#inclusionS2GrantKeysModal -->
<!-- inclusionVerifyDSKModal -->
<div id="inclusionVerifyDSKModal" class="appmodal" ng-if="controlDh.inclusion.grantKeys.anyChecked && controlDh.inclusion.verifyDSK.show && cfg.app_type != 'installer'">
    <div class="appmodal-in">
        <form name="dskForm">
        <div class="appmodal-header">
               <!-- <span class="appmodal-close" ng-click="closeInclusionModal()"><i
                        class="fa fa-times"></i></span>-->
            <h3>{{_t('verify_device_pin')}}</h3>
        </div>
        <div class="appmodal-body form-group form-inline">
            <p>{{_t('verify_included_pin')}}</p>
            <div class="alert alert-warning">{{controlDh.inclusion.verifyDSK.countDown}}s remain</div>
            <!-- name -->
            <label>{{_t('pin')}}</label>
            <input name="dsk_pin" id="dsk_pin" type="number" size="5" class="form-control input_number input-valid-{{dskForm.dsk_pin.$valid}}" min="0" max="65533" ng-show="controlDh.inclusion.input.publicKeyAuthenticationRequired"
                   ng-model="controlDh.inclusion.input.dskPin" required />

            <input name="dsk_1" id="dsk_1" type="number" size="5" class="form-control input_number" ng-value="dskBlock(controlDh.inclusion.input.publicKey, 1)" disabled="true" ng-show="!controlDh.inclusion.input.publicKeyAuthenticationRequired" />
            -
            <input name="dsk_2" id="dsk_2" type="number" size="5" class="form-control input_number" ng-value="dskBlock(controlDh.inclusion.input.publicKey, 2)" disabled="true" />
            -
            <input name="dsk_3" id="dsk_3" type="number" size="5" class="form-control input_number" ng-value="dskBlock(controlDh.inclusion.input.publicKey, 3)" disabled="true" />
            -
            <input name="dsk_4" id="dsk_4" type="number" size="5" class="form-control input_number" ng-value="dskBlock(controlDh.inclusion.input.publicKey, 4)" disabled="true" />
            -
            <input name="dsk_5" id="dsk_5" type="number" size="5" class="form-control input_number" ng-value="dskBlock(controlDh.inclusion.input.publicKey, 5)" disabled="true" />
            -
            <input name="dsk_6" id="dsk_6" type="number" size="5" class="form-control input_number" ng-value="dskBlock(controlDh.inclusion.input.publicKey, 6)" disabled="true" />
            -
            <input name="dsk_7" id="dsk_7" type="number" size="5" class="form-control input_number" ng-value="dskBlock(controlDh.inclusion.input.publicKey, 7)" disabled="true" />
            -
            <input name="dsk_8" id="dsk_8" type="number" size="5" class="form-control input_number" ng-value="dskBlock(controlDh.inclusion.input.publicKey, 8)" disabled="true" />
        </div>
        <div class="appmodal-footer">
            <!-- Cancel -->
            <button type="button" class="btn btn-default" ng-click="handleInclusionVerifyDSK(false)">
                <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
            </button>
            <!-- Confirm -->
            <button type="button" class="btn btn-submit" ng-click="handleInclusionVerifyDSK(true)">
                <i class="fa fa-check"></i> <span class="btn-name">{{_t('confirm')}}</span>
            </button>
        </div>
            </form>
    </div>
</div><!-- /#inclusionVerifyDSKModal -->

