<!-- Promiscuous Mode -->
<div class="panel panel-default" ng-controller="SetPromiscuousModeController">
    <div class="panel-heading"><i class="fa fa-copy-o"></i> {{_t('promiscuous_mode')}}</div>
    <div class="panel-body">
        <!--<p class="input-help" style="color: #d9534f;">{{_t('promiscuous_mode_info')}}</p>-->
        <div class="btn-group">
            <!-- ON -->
            <button type="button" class="btn btn-primary" id="btn_promi_on"
                    ng-click="setPromiscuousMode('SetPromiscuousMode(true)')"
                    ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['SetPromiscuousMode(true)']">
                <bb-row-spinner
                        spinner="rowSpinner['SetPromiscuousMode(true)']"
                        label="_t('on')">
                </bb-row-spinner>
            </button>
            <!-- OFF -->
            <button type="button" class="btn btn-default" id="btn_promi_off"
                    ng-click="setPromiscuousMode('SetPromiscuousMode(false)')"
                    ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['SetPromiscuousMode(false)']">
                <bb-row-spinner
                        spinner="rowSpinner['SetPromiscuousMode(false)']"
                        label="_t('off')">
                </bb-row-spinner>
            </button>
        </div>
    </div>
</div>

