<!-- Device Management -->
<div class="panel panel-default panel-highlighted">
    <div class="panel-heading"><i class="fa fa-cubes"></i> {{_t('nm_device_management')}}</div>
    <div class="panel-body">
        <!-- Secure/Unsecure  -->
        <div class="cfg-block" ng-controller="SetSecureInclusionController">
            {{_t('nm_force_unsecure')}}
            <div class="btn-group">
                <!-- Secure -->
                <button type="button" class="btn btn-primary" id="btn_force_secure_lock"
                        ng-class="controlDh.controller.secureInclusion ? 'active' : ''"
                        ng-click="setSecureInclusion('controller.data.secureInclusion=true')"
                        ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['controller.data.secureInclusion=true']">
                    <bb-row-spinner
                            spinner="rowSpinner['controller.data.secureInclusion=true']"
                            label="_t('btn_secure')"
                            icon="'fa-lock'">
                    </bb-row-spinner>
                </button>
                <!-- Unsecure -->
                <button type="button" class="btn btn-primary" id="btn_force_unsecure_lock"
                        ng-class="!controlDh.controller.secureInclusion ? 'active' : ''"
                        ng-click="setSecureInclusion('controller.data.secureInclusion=false')"
                        ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['controller.data.secureInclusion=false']">
                    <bb-row-spinner
                            spinner="rowSpinner['controller.data.secureInclusion=false']"
                            label="_t('btn_unsecure')"
                            icon="'fa-unlock'">
                    </bb-row-spinner>
                </button>
            </div>
        </div>

        <!-- Include/Exclude  -->
        <div class="cfg-block" ng-controller="IncludeExcludeDeviceController">
            <!-- Basic info  -->
            <p class="input-help" ng-show="controlDh.controller.isSIS || controlDh.controller.isPrimary">
                {{_t('nm_learn_mode_you_are_primary_no_sis')}}</p>
            <p class="input-help" ng-show="!controlDh.controller.isSIS && !controlDh.controller.isPrimary">
                {{_t('nm_learn_mode_you_are_secondary_can_not_add')}}</p>
            <div ng-hide="controlDh.inclusion.lastIncludedDevice.message || controlDh.inclusion.lastExcludedDevice.message">
                <!-- Info about siss/primary  -->
                <bb-alert alert="controlDh.inclusion.alertPrimary"></bb-alert>
                <!-- Controller status  -->
                <bb-alert alert="controlDh.inclusion.alert"></bb-alert>
            </div>
            <!-- Inclusion success  -->
            <bb-alert alert="controlDh.inclusion.lastIncludedDevice"></bb-alert>
            <!--<div class="alert alert-success" ng-if="controlDh.inclusion.lastIncludedDevice">
                <p ng-bind-html="controlDh.inclusion.lastIncludedDevice | toTrusted"></p>
            </div>-->
            <!-- Exclusion success  -->
            <bb-alert alert="controlDh.inclusion.lastExcludedDevice"></bb-alert>
            <!--<div class="alert alert-success" ng-if="controlDh.inclusion.lastExcludedDevice">
                <p ng-bind-html="controlDh.inclusion.lastExcludedDevice | toTrusted"></p>
            </div>-->
            <!-- include start -->
            <button class="btn btn-primary" id="btn_nm_include_start" title="{{_t('nm_include_start_tooltip')}}"
                    ng-disabled="[5, 6, 7, 20].indexOf(controlDh.controller.controllerState) > -1 || (!controlDh.controller.isRealPrimary && !controlDh.controller.isSIS)"
                    ng-show="[1, 2, 3, 4].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="addNodeToNetwork('controller.AddNodeToNetwork(1)')">
                <i class="fa fa-play-circle"></i> {{_t('nm_include_start')}}
            </button>
            <!-- include stop -->
            <button
                    class="btn btn-danger"
                    id="btn_nm_include_stop"
                    ng-show="[1, 2, 3, 4].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="addNodeToNetwork('controller.AddNodeToNetwork(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('nm_include_stop')}}
            </button>
            <!-- exclude start -->
            <button class="btn btn-info" id="nm_exclude_start" title="{{_t('nm_exclude_start_tooltip')}}"
                    ng-disabled="[1, 2, 3, 4, 20].indexOf(controlDh.controller.controllerState) > -1 || (!controlDh.controller.isRealPrimary && !controlDh.controller.isSIS)"
                    ng-show="[5, 6, 7].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="removeNodeToNetwork('controller.RemoveNodeFromNetwork(1)')">
                <i class="fa fa-play-circle"></i> {{_t('nm_exclude_start')}}
            </button>
            <!-- exclude stop -->
            <button class="btn btn-danger" id="nm_exclude_stop"
                    ng-show="[5, 6, 7].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="removeNodeToNetwork('controller.RemoveNodeFromNetwork(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('nm_exclude_stop')}}
            </button>
        </div>
       <!-- <pre>{{controlDh.inclusion|json}}</pre>-->
        <!--<a href="" ng-click="controlDh.inclusion.cc.Basic.show = true;controlDh.inclusion.cc.Basic.done = true;countDownTest()">Show POPUP Basic</a> |
        <a href="" ng-click="controlDh.inclusion.cc.SwitchMultilevel.show = true;controlDh.inclusion.cc.SwitchMultilevel.done = true">Show POPUP SwitchMultilevel</a>-->
    </div>
</div>

<!-- inclusionBasicModal -->
<div id="inclusionBasicModal" class="appmodal" ng-if="controlDh.inclusion.cc.Basic.show && cfg.app_type != 'installer'">
    <!-- <div class="appmodal-in">-->
    <form class="appmodal-in" name="form_inclusion1" id="form_inclusion1" ng-submit="">
    <div class="appmodal-header">
                <!--<span class="appmodal-close" ng-click="closeInclusionModal()"><i
                        class="fa fa-times"></i></span>-->
        <h3>{{_t('POPUP 1 headline')}}</h3>
    </div>
    <div class="appmodal-body">
        <p>POPUP 1 text Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
        <div class="alert alert-warning">{{controlDh.inclusion.cc.Basic.countDown}}s remain to do something about it</div>
        <!--<pre>{{controlDh.inclusion.input|json}}</pre>-->
        <div>
            <input type="radio" name="basic_level" value="true" id="basic_level_1" ng-model="controlDh.inclusion.input.basic_level" />
            <label>Basic.data.level=True</label>
        </div>
        <div>
            <input type="radio" name="basic_level" value="false" id="basic_level_2" ng-model="controlDh.inclusion.input.basic_level" />
            <label>Basic.data.level=False</label>
        </div>
        <div>
            <input type="radio" name="basic_level" value="true" id="basic_level_3" ng-model="controlDh.inclusion.input.basic_level" />
            <label>Basic.data.level=True</label>
        </div>
        <div>
            <input type="radio" name="basic_level" value="false" id="basic_level_4" ng-model="controlDh.inclusion.input.basic_level" />
            <label>Basic.data.level=False</label>
        </div>

    </div>
    <div class="appmodal-footer">
        <!-- OK -->
        <button type="button" class="btn btn-submit" ng-click="handleInclusionBasic(controlDh.inclusion.input.basic_level)">
            <i class="fa fa-check"></i> <span class="btn-name">{{_t('ok')}}</span>
        </button>
    </div>
    </form>
    <!--</div>-->
</div><!-- /#inclusionBasicModal -->

<!-- inclusionSwitchMultilevelModal -->
<div id="inclusionSwitchMultilevelModal" class="appmodal" ng-if="controlDh.inclusion.cc.SwitchMultilevel.show && cfg.app_type != 'installer'">
    <div class="appmodal-in">
        <div class="appmodal-header">
               <!-- <span class="appmodal-close" ng-click="closeInclusionModal()"><i
                        class="fa fa-times"></i></span>-->
            <h3>{{_t(' POPUP 2 headline')}}</h3>
        </div>
        <div class="appmodal-body form-group form-inline">
            <p>POPUP 2 text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <div class="alert alert-warning">{{controlDh.inclusion.cc.SwitchMultilevel.countDown}}s remain to do something about it</div>
            <!-- name -->
            <label>SwitchMultilevel.data.level: </label>
            <input name="switch_multilevel_level" id="switch_multilevel_level" type="text" class="form-control"
                   value=""/>

        </div>
        <div class="appmodal-footer">
            <!-- Cancel -->
            <button type="button" class="btn btn-default" ng-click="handleInclusionSwitchMultilevel(5)">
                <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
            </button>
            <!-- Confirm -->
            <button type="button" class="btn btn-submit" ng-click="handleInclusionSwitchMultilevel(6)">
                <i class="fa fa-check"></i> <span class="btn-name">{{_t('confirm')}}</span>
            </button>
        </div>
    </div>
</div><!-- /#inclusionBasicModal -->

