<!-- Control view default -->
<div ng-controller="ControlController">
    <div class="page-header"><h1>{{_t('nav_control')}}</h1></div>
    <div class="row" id="row_controll">
        <div class="col-md-6 col-lg-6">
            <!-- Device Management -->
            <div ng-include="'app/views/network/control/control_management.html'"></div>
            <!-- Enter / Leave different Networks -->
            <div ng-include="'app/views/network/control/control_different.html'"></div>
            <!-- Backup and Restore -->
            <!--<div ng-include="'app/views/network/control/control_restore.html'"></div>-->
            <!-- Controller Maintenance -->
            <div ng-include="'app/views/network/control/control_controller_maintance.html'"></div>
            <!-- Promiscuous Mode -->
            <div ng-include="'app/views/network/control/control_promiscuous.html'"
            ng-if="controlDh.controller.SetPromiscuousMode"></div>
            <!-- Operating frequency Change -->
            <!--<div ng-include="'app/views/network/control/control_frequency.html'"></div>-->
        </div>

        <div class="col-md-6 col-lg-6">
            <!-- Link to controller -->
            <div ng-include="'app/views/network/control/control_link_controller.html'"></div>
            <!-- Network Maintenance -->
            <div ng-include="'app/views/network/control/control_network_maintance.html'"></div>
            <!-- SUC/SIS management -->
            <div ng-include="'app/views/network/control/control_sucsic.html'"></div>
        </div>
    </div>

    <!-- Modal reset controller -->
    <!--<div ng-include="'app/views/network/control/control_modal_reset_controler.html'"></div>-->
    <!-- Modal restore backup -->
    <!--<div ng-include="'app/views/network/control/control_modal_restore_backup.html'"></div>-->
    <!-- Modal failed battery node -->
   <!-- <div ng-include="'app/views/network/control/control_modal_battery_node.html'"></div>-->
    <!-- Modal failed node -->
    <!--<div ng-include="'app/views/network/control/control_modal_failed_node.html'"></div>-->
</div><!-- /ng-controller -->
