
<!-- restoreModal -->
<div id="restoreModal" class="appmodal" ng-if="modalArr.restoreModal" ng-controller="BackupRestoreController">
    <div class="appmodal-in">
        <form name="form_notes" id="form_modal" class="form"
              ng-model="notes.input"
              ng-submit="handleModal('restoreModal', $event);storeSettings(settings.input)" novalidate>
            <div class="appmodal-header">
                <span class="appmodal-close" ng-click="handleModal('restoreModal', $event)"><i
                        class="fa fa-times"></i></span>
                <h3>{{_t('nm_restore_backup_upload')}}</h3>
            </div>
            <div class="appmodal-body">
                <bb-loader></bb-loader>
                <div class="restore-backup-control" ng-if_="restoreBackupStatus == 0">
                    <!-- restore info -->
                    <div class="alert alert-warning">
                        <input type="checkbox" name="restore_confirm" value="1" id="restore_confirm"
                               ng-click="restore.allow = !restore.allow"/>
                        {{_t(cfg.app_type == 'installer' ? 'are_you_sure_restore_cit' : 'are_you_sure_restore')}}
                    </div>
                    <!-- if restore allowed -->
                    <div ng-if="restore.allow">
                        <p> <bb-help-text trans="_t('restore_secondary_primary')"></bb-help-text></p>

                        <p ng-if="cfg.app_type !== 'installer' && controlDh.controller.isRealPrimary">
                            <input type="checkbox"
                                   name="restore_chip_info"
                                   id="restore_chip_info"
                                   value="1"
                                   ng-true-value="1"
                                   ng-false-value="0"
                                   ng-model="restore.input.restore_chip_info"/> {{_t('restore_backup_chip')}}

                        </p>

                        <p class="text-center">
                            <input id="btn_upload" type="file" name="file"
                                   onchange="angular.element(this).scope().restoreFromBackup(this.files)"/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="appmodal-footer">
                <!-- Close -->
                <button type="button" class="btn btn-default" ng-click="handleModal('restoreModal', $event)">
                    <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                </button>
            </div>
        </form>
    </div>
</div><!-- /#modal restoreModal -->


