<!-- Modal failed node -->
<div class="modal fade" id="modal_failed_node" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_t('nm_remove_failed') + ' #' + modelNodeFailed}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <input type="checkbox" name="remove_node_confirm" id="remove_node_confirm" value="1" ng-click="goFailedNode = !goFailedNode" /> {{are_you_sure_remove_node}} <span ng-bind-html="_t('are_you_sure_remove_node') | toTrusted"></span> <strong>{{deviceInfo.name}}</strong>
                    <p>{{_t('txt_controller_delete_node')}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-danger"
                        id="btn_reset_controller"
                        ng-show="goFailedNode"
                        ng-click="runCmd('devices[' + modelNodeFailed + '].RemoveFailedNode()', '#modal_failed_node', null, {'name': 'remove_option', 'id': '#remove_failed_node', 'value': modelNodeFailed});
                                    goFailedInfo = !goFailedInfo"
                ><i class="fa fa-exclamation-triangle"></i> {{_t('nm_remove_failed')}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeFailedNode('#modal_failed_node')">{{_t('btn_cancel')}}</button>
            </div>
        </div>
    </div>
</div><!-- /.Modal -->