<!-- Enter / Leave different Networks -->
<div class="panel panel-default" ng-controller="IncludeDifferentNetworkController">
    <div class="panel-heading"><i class="fa fa-sitemap"></i> {{_t('nm_inc_into_nw')}}</div>
    <div class="panel-body">
        <!-- Not included in network -->
        <span ng-if="controlDh.controller.isRealPrimary && (!controlDh.controller.hasDevices)">
            <p class="input-help">{{_t('device_not_included_info')}}</p>
            <bb-alert alert="controlDh.network.alert"></bb-alert>
            <button class="btn btn-primary" id="btn_learn_start"
                    ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || (controlDh.controller.SUCNodeId == controlDh.controller.nodeId && controlDh.controller.isSIS && controlDh.controller.hasDevices) || controlDh.controller.isInOthersNetwork"
                    ng-show="[9].indexOf(controlDh.controller.controllerState) == -1 && controlDh.network.inclusionProcess !== 'processing'"
                    ng-click="includeToNetwork('controller.SetLearnMode(1)')">
                <i class="fa fa-play-circle"></i> {{_t('include_into_network')}}
            </button>
            <button class="btn btn-danger" id="btn_learn_stop"
                    ng-show="[9].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="includeToNetwork('controller.SetLearnMode(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('include_into_network_stop')}}
            </button>
        </span>
        <!-- included in network - disabled-->
        <span ng-if="controlDh.controller.isRealPrimary && (controlDh.controller.hasDevices)">
            <p class="input-help">{{_t('device_included_info')}}</p>
            <button class="btn btn-primary" id="btn_learn_start_2" disabled>{{_t('leave_network')}}
            </button>
        </span>

        <!-- already included in network - displays exclude from network -->
        <span ng-if="!controlDh.controller.isRealPrimary">
            <p class="input-help">{{_t('device_included_info')}}</p>
            <div ng-hide="controlDh.network.modal && [0].indexOf(controlDh.controller.controllerState) > -1">
                <bb-alert alert="controlDh.network.alert"></bb-alert>
            </div>
            <div>
                <bb-alert alert="controlDh.alert"></bb-alert>
            </div>

            <button class="btn btn-info" id="btn_learn_start"
                    ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || !controlDh.controller.isInOthersNetwork"
                    ng-hide="(controlDh.network.inclusionProcess == 'processing' && !controlDh.network.modal) || [9].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="includeToNetwork('controller.SetLearnMode(1)',_t('before_leaving_network'))">
                <i class="fa fa-play-circle"></i> {{_t('leave_network')}}
            </button>
            <button class="btn btn-danger" id="btn_learn_stop"
                    ng-show="[9].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="includeToNetwork('controller.SetLearnMode(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('leave_network_stop')}}
            </button>
        </span>
        <!-- S2 DSK -->
        <button class="btn btn-default"
                ng-show="_.size(controlDh.controller.publicKey) && !controlDh.controller.isRealPrimary"
                ng-click="handleModal('networkS2Modal')">
            S2 DSK
        </button>
        <!-- Controller change -->
        <div class="cfg-block-top-border" ng-if="cfg.app_type == 'default'" ng-include="'app/views/network/control/control_network_maintance_ctrlchange.html'"></div>

    </div>

    <!-- successNetworkIncludeModal -->
    <div id="successNetworkIncludeModal" class="appmodal" ng-if="controlDh.network.modal && controlDh.network.inclusionProcess !== 'processing' && (!controlDh.controller.isRealPrimary || controlDh.controller.isInOthersNetwork)">
        <div class="appmodal-in">
            <div class="appmodal-header">
                <span class="appmodal-close" ng-click="closeNetworkModal('successNetworkIncludeModal', $event)" ng-hide="controlDh.process"><i
                        class="fa fa-times"></i></span>
                <h3>{{_t('include_into_network')}}</h3>
            </div>
            <div class="appmodal-body">
                <div class="alert alert-success">
                    <i class="fa fa-smile-o"></i> {{_t('success_controller_include')}}

                </div>
                <div class="cfg-block">
                    <!-- restore -->
                    <button class="btn btn-primary"
                            ng-click="handleModal('restoreModal', $event)" ng-disabled="controlDh.process">
                        <i class="fa fa-repeat"></i> {{_t('make_restore')}}
                    </button>
                </div>
                <div class="cfg-block" ng-controller="RequestNifAllController">
                    <button class="btn btn-primary"
                            id="btn_request_nif"
                            ng-click="requestNifAll('requestNifAll');"
                            ng-disabled="rowSpinner['requestNifAll']">

                        <bb-row-spinner
                                spinner="rowSpinner['requestNifAll']"
                                label="_t('detect_all_nodes')"
                                icon="'fa-search-plus'">
                        </bb-row-spinner>
                    </button>
                </div>
                <div class="cfg-block">
                    <button type="button" class="btn btn-primary" ng-click="closeNetworkModal('successNetworkIncludeModal', $event)" ng-disabled="controlDh.process">
                        <i class="fa fa-arrow-right"></i> <span class="btn-name">{{_t('just_proceed')}}</span>
                    </button>
                </div>

            </div>
            <!-- <div class="appmodal-footer">
                 &lt;!&ndash; Close &ndash;&gt;
                 <button type="button" class="btn btn-default" ng-click="handleModal('successNetworkIncludeModal', $event)">
                     <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                 </button>
             </div>-->
        </div>
    </div><!-- /#modal successNetworkIncludeModal -->

    <!-- inclusionVerifyDSKModal -->
    <div id="inclusionVerifyDSKModal" class="appmodal" ng-if="modalArr.networkS2Modal">
        <div class="appmodal-in">
            <form name="dskForm">
                <div class="appmodal-header">
                    <!-- <span class="appmodal-close" ng-click="closeInclusionModal()"><i
                             class="fa fa-times"></i></span>-->
                    <h3>{{_t('S2 DSK')}}</h3>
                </div>
                <div class="appmodal-body modal-h-600 form-group form-inline" ng-controller="S2DskController">
                    <!-- name -->
                    <div class="qrcode-wrap">
                        <div id="qrcode_network"></div>
                    </div>
                    <div class="dsk-wrap">
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 0)|| ''}}</span>
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 1)}}</span>
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 2)}}</span>
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 3)}}</span>
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 4)}}</span>
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 5)}}</span>
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 6)}}</span>
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 7)}}</span>
                        <span class="dsk-block">{{dskBlock(controlDh.controller.publicKey, 8)}}</span>
                    </div>

                </div>
                <div class="appmodal-footer">
                    <!-- Cancel -->
                    <button type="button" class="btn btn-default" ng-click="handleModal()">
                        <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div><!-- /#inclusionVerifyDSKModal -->

</div>

<!-- Backup and Restore -->
<div ng-include="'app/views/network/control/control_restore_modal.html'"></div>