<!-- SUC/SIS management -->
<div class="panel panel-default" ng-controller="SucSisController">
    <div class="panel-heading"><i class="fa fa-share-alt"></i> {{_t('nm_suc_sis_title')}}</div>
    <div class="panel-body">

        <div class="cfg-block form-inline">
            <!-- GetSUCNodeId -->
            <button class="btn btn-primary"
                    ng-click="getSUCNodeId('controller.GetSUCNodeId()')"
                    ng-disabled="rowSpinner['controller.GetSUCNodeId()'] || [1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1">

                <bb-row-spinner
                        spinner="rowSpinner['controller.GetSUCNodeId()']"
                        label="_t('nm_get_suc_nodeid')"
                        icon="'fa-circle'">
                </bb-row-spinner>
            </button>
            <!-- RequestNetworkUpdate -->
            <button class="btn btn-primary"
                   ng-click="requestNetworkUpdate('controller.RequestNetworkUpdate()')"
                    ng-disabled="controlDh.controller.disableSUCRequest || rowSpinner['controller.RequestNetworkUpdate()'] || [1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1">

                <bb-row-spinner
                        spinner="rowSpinner['controller.RequestNetworkUpdate()']"
                        label="_t('nm_request_network_update')"
                        icon="'fa-circle'">
                </bb-row-spinner>
            </button>
        </div>

        <div class="cfg-block form-inline">
            <!-- SetSUCNodeId -->
            <button class="btn btn-primary"
                    data-ng-click="setSUCNodeId('controller.SetSUCNodeId(' + controlDh.input.sucSis + ')')"
                    ng-disabled="(!controlDh.controller.disableSUCRequest) || rowSpinner['controller.SetSUCNodeId(' + controlDh.input.sucSis + ')'] || [1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1">

                <bb-row-spinner
                        spinner="rowSpinner['controller.SetSUCNodeId(' + controlDh.input.sucSis + ')']"
                        label="_t('nm_start_suc')"
                        icon="'fa-circle'">
                </bb-row-spinner>
            </button>
            <!-- SetSISNodeId -->
            <button class="btn btn-primary"
                    data-ng-click="setSISNodeId('controller.SetSISNodeId(' + controlDh.input.sucSis + ')')"
                    ng-disabled="(!controlDh.controller.disableSUCRequest) || rowSpinner['controller.SetSISNodeId(' + controlDh.input.sucSis + ')']|| [1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1">

                <bb-row-spinner
                        spinner="rowSpinner['controller.SetSISNodeId(' + controlDh.input.sucSis + ')']"
                        label="_t('nm_start_sis')"
                        icon="'fa-circle'">
                </bb-row-spinner>
            </button>
            <!-- DisableSUCNodeId -->
            <button class="btn btn-primary"
                    data-ng-click="disableSUCNodeId('controller.DisableSUCNodeId(' + controlDh.input.sucSis + ')')"
                    ng-disabled="(!controlDh.controller.disableSUCRequest) || rowSpinner['controller.DisableSUCNodeId(' + controlDh.input.sucSis + ')'] || [1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1">

                <bb-row-spinner
                        spinner="rowSpinner['controller.DisableSUCNodeId(' + controlDh.input.sucSis + ')']"
                        label="_t('nm_stop_suc_sis')"
                        icon="'fa-circle'">
                </bb-row-spinner>
            </button>

            <p>
                <br />{{_t('nm_start_suc_on_node')}}
                <select name="suc_sic_node" id="suc_sic_node" class="form-control"
                        ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1"
                  ng-model="controlDh.input.sucSis">
                    <option ng-repeat="v in controlDh.nodes.sucSis track by $index" value="{{v}}"
                    ng-selected="v == controlDh.controller.nodeId">{{v}}</option>
            </select>
            <p>
        </div>
    </div>
</div>

