<!-- Device Management -->
<div class="panel panel-default panel-highlighted">
    <div class="panel-heading"><i class="fa fa-cubes"></i> {{_t('nm_device_management')}}</div>
    <div class="panel-body">
        <!-- Secure/Unsecure  -->
        <div class="cfg-block" ng-controller="SetSecureInclusionController">
            {{_t('nm_force_unsecure')}}
            <div class="btn-group">
                <!-- Secure -->
                <button type="button" class="btn btn-primary" id="btn_force_secure_lock"
                        ng-class="controlDh.controller.secureInclusion ? 'active' : ''"
                        ng-click="setSecureInclusion('controller.data.secureInclusion=true')"
                        ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['controller.data.secureInclusion=true']">
                    <bb-row-spinner
                            spinner="rowSpinner['controller.data.secureInclusion=true']"
                            label="_t('btn_secure')"
                            icon="'fa-lock'">
                    </bb-row-spinner>
                </button>
                <!-- Unsecure -->
                <button type="button" class="btn btn-primary" id="btn_force_unsecure_lock"
                        ng-class="!controlDh.controller.secureInclusion ? 'active' : ''"
                        ng-click="setSecureInclusion('controller.data.secureInclusion=false')"
                        ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || rowSpinner['controller.data.secureInclusion=false']">
                    <bb-row-spinner
                            spinner="rowSpinner['controller.data.secureInclusion=false']"
                            label="_t('btn_unsecure')"
                            icon="'fa-unlock'">
                    </bb-row-spinner>
                </button>
            </div>
        </div>

        <!-- Include/Exclude  -->
        <div class="cfg-block" ng-controller="IncludeExcludeDeviceController">
            <!-- Basic info  -->
            <p class="input-help" ng-show="controlDh.controller.isSIS || controlDh.controller.isPrimary">
                {{_t('nm_learn_mode_you_are_primary_no_sis')}}</p>
            <p class="input-help" ng-show="!controlDh.controller.isSIS && !controlDh.controller.isPrimary">
                {{_t('nm_learn_mode_you_are_secondary_can_not_add')}}</p>
            <div ng-hide="controlDh.inclusion.lastIncludedDevice.message || controlDh.inclusion.lastExcludedDevice.message">
                <!-- Info about siss/primary  -->
                <bb-alert alert="controlDh.inclusion.alertPrimary"></bb-alert>
                <!-- Controller status  -->
                <bb-alert alert="controlDh.inclusion.alert"></bb-alert>
            </div>
            <!-- Inclusion success  -->
            <bb-alert alert="controlDh.inclusion.lastIncludedDevice"></bb-alert>
            <!-- Exclusion success  -->
            <bb-alert alert="controlDh.inclusion.lastExcludedDevice"></bb-alert>
            <!-- S2 Alert  -->
            <bb-alert alert="controlDh.inclusion.alertS2"></bb-alert>
            <!-- include start -->
            <button class="btn btn-primary" id="btn_nm_include_start" title="{{_t('nm_include_start_tooltip')}}"
                    ng-disabled="[5, 6, 7, 20].indexOf(controlDh.controller.controllerState) > -1 || (!controlDh.controller.isRealPrimary && !controlDh.controller.isSIS)"
                    ng-show="[1, 2, 3, 4].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="addNodeToNetwork('controller.AddNodeToNetwork(1)')">
                <i class="fa fa-play-circle"></i> {{_t('nm_include_start')}}
            </button>
            <!-- include stop -->
            <button
                    class="btn btn-danger"
                    id="btn_nm_include_stop"
                    ng-show="[1, 2, 3, 4].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="addNodeToNetwork('controller.AddNodeToNetwork(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('nm_include_stop')}}
            </button>
            <!-- exclude start -->
            <button class="btn btn-info" id="nm_exclude_start" title="{{_t('nm_exclude_start_tooltip')}}"
                    ng-disabled="[1, 2, 3, 4, 20].indexOf(controlDh.controller.controllerState) > -1 || (!controlDh.controller.isRealPrimary && !controlDh.controller.isSIS)"
                    ng-show="[5, 6, 7].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="removeNodeToNetwork('controller.RemoveNodeFromNetwork(1)')">
                <i class="fa fa-play-circle"></i> {{_t('nm_exclude_start')}}
            </button>
            <!-- exclude stop -->
            <button class="btn btn-danger" id="nm_exclude_stop"
                    ng-show="[5, 6, 7].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="removeNodeToNetwork('controller.RemoveNodeFromNetwork(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('nm_exclude_stop')}}
            </button>
        </div>
    </div>
</div>
