<!-- Enter / Leave different Networks -->
<div class="panel panel-default" ng-controller="IncludeDifferentNetworkController">
    <div class="panel-heading"><i class="fa fa-sitemap"></i> {{_t('nm_inc_into_nw')}}</div>
    <div class="panel-body">
        <!-- Not included in network -->
        <div ng-if="controlDh.controller.isRealPrimary && (!controlDh.controller.hasDevices)">
            <p class="input-help">{{_t('device_not_included_info')}}</p>
            <bb-alert alert="controlDh.network.alert"></bb-alert>
            <button class="btn btn-primary" id="btn_learn_start"
                    ng-disabled="rowSpinner['controller.SetLearnMode(1)'] || [1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || (SUCNodeId == controllerNodeId && isSIS && hasDevices)"
                    ng-show="[9].indexOf(controlDh.controller.controllerState) == -1"
                    ng-click="includeToNetwork('controller.SetLearnMode(1)','successNetworkIncludeModal',$event)">
                <i class="fa fa-play-circle"></i> {{_t('include_into_network')}}
            </button>
            <button class="btn btn-danger" id="btn_learn_stop"
                    ng-show="[9].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="includeToNetwork('controller.SetLearnMode(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('include_into_network_stop')}}
            </button>
        </div>
        <!-- included in network - disabled-->
        <div ng-if="controlDh.controller.isRealPrimary && (controlDh.controller.hasDevices)">
            <p class="input-help">{{_t('device_included_info')}}</p>
            <button class="btn btn-primary" id="btn_learn_start_2" disabled
            >{{_t('leave_network')}} {{controlDh.controller.homeName}}
            </button>
        </div>

        <!-- already included in network - displays include from network -->
        <div ng-if="!controlDh.controller.isRealPrimary">
            <p class="input-help">{{_t('device_included_info')}}</p>
            <div ng-hide="controlDh.network.modal && [0].indexOf(controlDh.controller.controllerState) > -1">
                <bb-alert alert="controlDh.network.alert"></bb-alert>
            </div>
            <div>
                <bb-alert alert="controlDh.alert"></bb-alert>
            </div>

            <button class="btn btn-info" id="btn_learn_start"
                    ng-disabled="(controlDh.network.inclusionProcess && !controlDh.network.modal) || [1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1"
                    ng-hide="[9].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="excludeFromNetwork('controller.SetLearnMode(1)',_t('before_leaving_network'))">
                <i class="fa fa-play-circle"></i> {{_t('leave_network') + ' ' + controlDh.controller.homeName}}
            </button>
            <button class="btn btn-danger" id="btn_learn_stop"
                    ng-show="[9].indexOf(controlDh.controller.controllerState) > -1"
                    ng-click="includeToNetwork('controller.SetLearnMode(0)')">
                <i class="fa fa-stop-circle"></i> {{_t('leave_network_stop') + ' ' + controlDh.controller.homeName}}
            </button>

            <button class="btn btn-primary" id="update_network"
                    ng-show="!controlDh.controller.isSIS && controlDh.controller.SUCNodeId !== 0"
                    ng-click="requestNetworkUpdate('controller.RequestNetworkUpdate()', _t('update_form_primary'), 'update_network')"
                    ng-disabled="rowSpinner['update_network'] || ([1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || (controlDh.network.inclusionProcess && !controlDh.network.modal)">
                <bb-row-spinner
                        spinner="rowSpinner['update_network']"
                        label="_t('replicate_receive_update')"
                        icon="'fa-level-up'">
                </bb-row-spinner>
            </button>
            <button class="btn btn-primary" id="update_network2"
                    ng-show="controlDh.controller.isSIS && controlDh.controller.SUCNodeId !== 0"
                    ng-click="requestNetworkUpdate('controller.RequestNetworkUpdate()', _t('update_form_sis'), 'update_network2')"
                    ng-disabled="rowSpinner['update_network2'] || [1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1 || (controlDh.network.inclusionProcess && !controlDh.network.modal)">
                <bb-row-spinner
                        spinner="rowSpinner['update_network2']"
                        label="_t('request_update')"
                        icon="'fa-level-up'">
                </bb-row-spinner>
            </button>
        </div>
    </div>

    <!-- successNetworkIncludeModal -->
    <div id="successNetworkIncludeModal" class="appmodal" ng-if="controlDh.network.modal && !controlDh.controller.isRealPrimary">
        <div class="appmodal-in">
            <div class="appmodal-header">
                <span class="appmodal-close" ng-click="closeNetworkModal('successNetworkIncludeModal', $event)"><i
                        class="fa fa-times"></i></span>
                <h3>{{_t('include_into_network')}}</h3>
            </div>
            <div class="appmodal-body">
                <div class="alert alert-success">
                    <i class="fa fa-smile-o"></i> {{_t('success_controller_include')}}

                </div>
                <div class="cfg-block">
                    <!-- restore -->
                    <button class="btn btn-primary"
                            ng-click="handleModal('restoreModal', $event);handleModal('successNetworkIncludeModal', $event)">
                        <i class="fa fa-repeat"></i> {{_t('make_restore')}}
                    </button>
                </div>
                <div class="cfg-block"  ng-controller="RequestNifAllController">
                    <button class="btn btn-primary"
                            id="btn_request_nif"
                            ng-click="requestNifAll('requestNifAll');handleModal('successNetworkIncludeModal', $event)"
                            ng-disabled="rowSpinner['requestNifAll']">

                        <bb-row-spinner
                                spinner="rowSpinner['requestNifAll']"
                                label="_t('detect_all_nodes')"
                                icon="'fa-search-plus'">
                        </bb-row-spinner>
                    </button>
                </div>
                <div class="cfg-block">
                    <button type="button" class="btn btn-primary" ng-click="closeNetworkModal('successNetworkIncludeModal', $event)">
                        <i class="fa fa-arrow-right"></i> <span class="btn-name">{{_t('just_proceed')}}</span>
                    </button>
                </div>

            </div>
           <!-- <div class="appmodal-footer">
                &lt;!&ndash; Close &ndash;&gt;
                <button type="button" class="btn btn-default" ng-click="handleModal('successNetworkIncludeModal', $event)">
                    <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                </button>
            </div>-->
        </div>
    </div><!-- /#modal successNetworkIncludeModal -->
</div>

<!-- Backup and Restore -->
<div ng-include="'app/views/network/control/control_restore_modal.html'"></div>

