<!-- Backup and Restore -->
<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-download"></i> {{_t('nm_backup_title')}}</div>
    <div class="panel-body">
        <!-- backup -->
        <a class="btn btn-primary" href="{{cfg.server_url}}/ZWaveAPI/Backup" ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1">
            <i class="fa fa-download"></i> {{_t('nm_backup_download')}}
        </a>
        <!-- restore -->
        <button class="btn btn-primary"
                ng-disabled="[1, 2, 3, 4, 5, 6, 7].indexOf(controlDh.controller.controllerState) > -1"
                ng-click="handleModal('restoreModal', $event)">
            <i class="fa fa-repeat"></i> {{_t('nm_restore_backup_upload')}}
        </button>
    </div>
</div>

<!-- restoreModal -->
<div ng-include="'app/views/network/control/control_restore_modal.html'"></div>


