<div class="" ng-controller="ZnifferRSSIMeterController">
  <section class="page-topbar">
    <h1>{{ _t('nav_rssimeter')}}
        <i class="fa fa-spinner fa-spin" ng-if="rssi.trace === 'start'"></i>
    </h1>
    <!-- Control -->
    <div class="form-group">
        <button class="btn btn-default" title="{{ _t('start_trace')}}" ng-if="rssi.trace === 'pause'" ng-click="setTrace('start')">
          <i class="fa fa-play"></i> <span class="btn-name">{{ _t('start_trace')}}</span>
        </button>
        <button class="btn btn-default" title="{{ _t('pause_trace')}}" ng-if="rssi.trace === 'start'" ng-click="setTrace('pause')">
          <i class="fa fa-pause"></i> <span class="btn-name">{{ _t('pause_trace')}}</span>
        </button>
      </div>
  </section>

  <div id="gauge2" class="gauge">
  </div>
  <div id="gauge1" class="gauge">
  </div>
</div>