/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Navigation
-------------------------------------------------- */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-brand {
    margin: 0;
    height: 35px;
    padding: 5px 0 0 0;
    margin-right: 40px;
}
.navbar, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:  0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.navbar-inverse{
    background: #1f355e; /* Old browsers */
    background: -moz-linear-gradient(top,  #1f355e 0%, #174a7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f355e), color-stop(100%,#174a7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1f355e 0%,#174a7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1f355e 0%,#174a7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1f355e 0%,#174a7c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1f355e 0%,#174a7c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f355e', endColorstr='#174a7c',GradientType=0 ); /* IE6-9 */
    border-bottom: solid 4px #2A6496;
}
.navbar-inverse .navbar-nav > li > a {
    color: #6BA2C8;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #6BA2C8;
}

.navbar-inverse .navbar-toggle {
    border-color: #174778;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1f355e;
}

.navbar .divider-vertical {
  height: 50px;
  /*    margin: 0 9px;*/
  border-left: 1px solid #1C3B67;
  border-right: 1px solid #1e578c;
}

li.lang-switch_ a{
    padding: 15px 5px;
/*    width: 24px;*/
}
.current-lang{
    text-transform: uppercase;
}


/* Typo
-------------------------------------------------- */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
h1 {
    font-size: 26px;
    /*    text-shadow: 3px 1px 2px rgba(150, 150, 150, 1);*/
    color: #2A6496;
    /*    color: #083B84;*/
}

h3 {
    font-size: 20px;
}

.perex{
    margin: 20px 0;
    padding: 20px 0 0 0;
    border-top: 1px dotted #9fd8ef;
}
.red,.is-updated-false{
    color: red;
}

.green,.is-rfreshed{
    color: green;
}

.main_spinner{
    font-size: 14px;
    color:#555;
}

.text-yellow{
    color: yellow;
}
.text-orange{
    color: orange;
}

/* Page CSS
-------------------------------------------------- */
.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: 0;
}

.container {}

/* Commands CSS
-------------------------------------------------- */
#row_commands .thumbnail{
   width: 100%;
}
#row_commands .thumbnail:hover{
   border: solid 1px #6BA2C8;
}
#row_commands .thumbnail-title a{
   color: #012F49;
   font-weight: bold;
}

#row_commands img{
    vertical-align: top !important;
}

/* Tables
-------------------------------------------------- */
.table > thead > tr > th {
    border-bottom: 2px solid #9fd8ef;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, .table > tbody > tr > td, 
.table > tfoot > tr > td {
    border-top: 1px solid #9fd8ef;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #e4f5fc;
}
/* Form CSS
-------------------------------------------------- */

/* Footer
-------------------------------------------------- */
#footer {
    border-top: solid 2px #6BA2C8;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
   
}
#footer .text-muted{
    margin: 15px 0;
    text-align: center;
    color: #6BA2C8;
}
#footer a{
    color: #6BA2C8;
    display: inline-block;
    width: 15%;
    text-align: center;
}
#footer a:hover{
    color: #17497B;
}