<!-- Auth installer -->

<div id="cit_init" class="container-500" ng-controller="InitInstallerController">
    <div class="text-center">
        <img class="product-logo" ng-src="{{getCustomCfgVal('logo')}}" alt="Logo"/>
    </div>

    <form name="form_init" id="form_login" class="form form-page" ng-submit="authenticate(auth.input)" novalidate>
        <fieldset class="text-center cit-welcome">
            <h1 ng-if="!cfg.system_info.cit_authorized">{{_t('initial_welcome')}}</h1>
            <h1 ng-if="cfg.system_info.cit_authorized">{{cfg.system_info.cit_identifier}}</h1>
        </fieldset>
        <bb-alert alert="auth.alert"></bb-alert>
        <fieldset>
            <!-- login -->
            <div class="form-group">
                <input name="user" id="user" type="text" class="form-control" placeholder="{{_t('lb_login')}}"
                       ng-model="auth.input.user" ng-blur="userBlur = true" ng-required="true" />
                <bb-validator input-name='form_init.user.$error.required' trans='_t("field_required")' has-blur='userBlur'></bb-validator>
            </div>
            <!-- password -->
            <div class="form-group">
                <input name="pass" id="pass" type="password" class="form-control" placeholder="{{_t('lb_password')}}"
                       ng-model="auth.input.pass" ng-blur="passBlur = true" ng-required="true" />
                <bb-validator input-name='form_init.pass.$error.required' trans='_t("field_required")' has-blur='passBlur'></bb-validator>
            </div>
            <!-- identifier -->
            <div class="form-group" ng-if="!cfg.system_info.cit_authorized">
                <input name="cit_identifier" id="cit_identifier" type="text" class="form-control" placeholder="{{_t('cit_identifier')}}"
                       ng-model="auth.input.cit_identifier" ng-blur="cit_identifierBlur = true" ng-required="true" />
                <bb-validator input-name='form_init.cit_identifier.$error.required' trans='_t("field_required")' has-blur='passBlur'></bb-validator>
                <bb-help-text trans="_t('cit_identifier_info')"></bb-help-text>
            </div>
            <div ng-if_="cfg.system_info.cit_authorized && auth.findcit_referrer">
                <a ng-href="{{cfg.logout_redirect['findcit.z-wavealliance.org']}}" class="">
                    {{_t('goto')}}: {{cfg.logout_redirect['findcit.z-wavealliance.org']}}  <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <div class="text-right"><small>{{_t('remote_id')}}: {{cfg.system_info.remote_id}}</small></div>
        </fieldset>
        <!-- password -->
        <fieldset class="submit-entry">
            <button type="submit" class="btn btn-submit" title="{{_t('lb_enter')}}" ng-disabled="form_init.$invalid || rowSpinner['installer_auth']">
                <bb-row-spinner
                        spinner="rowSpinner['installer_auth']"
                        label="cfg.system_info.cit_authorized ? _t('lb_login') : _t('initialize')"
                        icon="'fa-circle-o'">
                </bb-row-spinner>
            </button>

        </fieldset>
    </form>


</div>
