<!-- Auth installer -->

<div id="cit_init" class="container-500" ng-controller="InitInstallerController">
    <div class="text-center">
        <img class="product-logo" ng-src="{{getCustomCfgVal('logo')}}" alt="Logo"/>
    </div>
    <form name="form_init" id="form_login" class="form form-page" ng-submit="authenticate(auth.input,ethernet)" novalidate>
        <fieldset class="text-center cit-welcome">
            <h1 ng-if="!cfg.system_info.cit_authorized">{{_t('initial_welcome')}}</h1>
            <h1 ng-if="cfg.system_info.cit_authorized">{{cfg.system_info.cit_identifier}}</h1>
        </fieldset>
        <bb-alert alert="auth.alert"></bb-alert>
         <!-- login -->
        <fieldset ng-include="'app/views/auth/login.html'"></fieldset>
         <!-- ethernet -->
         <fieldset ng-if="!cfg.system_info.cit_authorized" ng-include="'app/views/auth/ethernet.html'"></fieldset>
        <!-- submit -->
        <fieldset class="submit-entry">
            <button type="submit" class="btn btn-submit" title="{{_t('lb_enter')}}" ng-disabled="form_init.$invalid || rowSpinner['installer_auth']">
                <bb-row-spinner
                        spinner="rowSpinner['installer_auth']"
                        label="cfg.system_info.cit_authorized ? _t('lb_login') : _t('initialize')"
                        icon="'fa-circle-o'">
                </bb-row-spinner>
            </button>

        </fieldset>
    </form>


</div>
