/* Shared styles
-------------------------------------------------- */

/* Body reset
-------------------------------------------------- */
html {
    font-size: $app-body-font-size;
}

body {
    font-size: $app-body-font-size;
    line-height: $app-line-height-base;
}

/* Header
-------------------------------------------------- */
#header{
    .divider-vertical {
        height: $header-h;
    }
}

/* Main navigation
-------------------------------------------------- */
#main_navigation_wrap{
    height: $header-h;
}

#main_navigation{
    line-height: $header-h;
    a{
        line-height: $header-h;
    }
    ul.navibar {
        .navibar-item{
            position: relative;
        }
    }
}

/* Subnavigation
-------------------------------------------------- */
.sub-navigation{
  min-width: $subnavigation-w;
    ul{
        //margin: $subnavigation-margin;
        li{
          padding: 0;
            a{
                padding: 0 $spacing;
            }

        }
    }
}
/* Gird
-------------------------------------------------- */
#main_content {
    //margin-top: $header-h + $spacing-double;
    margin-bottom: $footer-h + $spacing-double;
}
.container{
    max-width:$app-container-w;

}
.block-50{
    @include appFloat(left);
    width: 50%; 
}
/* Page navigation
-------------------------------------------------- */
.page-navi{
    ul{
        li{
            display: block;
            float: left;
            width: $page-navi-w;
            a{
                min-height: $page-navi-h;
                margin: auto 10px;
            }

            .page-navi-icon{
                display: none !important;
            }
        }
    }
}

/* Images
-------------------------------------------------- */

/* Input
-------------------------------------------------- */
.form-control {
    padding: $app-input-padding;
}
input[type=checkbox]{
    -ms-transform: scale($checkbox-scale);  //IE
    -moz-transform: scale($checkbox-scale); // FF
    -webkit-transform: scale($checkbox-scale);  //Safari and Chrome
    -o-transform: scale($checkbox-scale);  //Opera
}
input[type=radio] { 
    transform: scale($radio-scale, $radio-scale); 
    -moz-transform: scale($radio-scale, $radio-scale); 
    -ms-transform: scale($radio-scale, $radio-scale); 
    -webkit-transform: scale($radio-scale, $radio-scale); 
    -o-transform: scale($radio-scale, $radio-scale); 
}

/* Button
-------------------------------------------------- */
.btn,.btn-device-admin {
    padding: $app-input-padding;
    .fa{
        font-size: $app-btn-icon-size; 
    }
}
.btn-goup-block{
    width: auto !important;
    display: inline-block;
    margin: 0;
    .btn{
        width: auto !important;
    }
}
.btn-tag{
    display: inline-block;
    position: static;
    font-size: $app-btn-tag-font-size;
    margin: 0 $spacing $spacing 0;
    .fa{
        position: static;
        margin: 0 0 0 $spacing;
        font-size: $app-btn-tag-icon-size;
    }
}
/* Modal
-------------------------------------------------- */
.appmodal {
    .appmodal-in{
        width: $modal-w;
    }
}

.appmodal-header{
    .appmodal-close{
        font-size: $modal-close-size;
    }
}

/* Dropdown
-------------------------------------------------- */
.app-dropdown{
    min-width: $dropdown-w;

}
.app-dropdown{
    &.dropdown-lang{
        min-width: $dropdown-lang-w; 
        ul{
            li{
                padding: $spacing-half;
            }
        }
    }


}

/* Report
-------------------------------------------------- */
.report-img{
    max-width: $report-img;
    max-height: $report-img;
}

/* Footer
-------------------------------------------------- */
#footer{
    #footer_in{
        height: $footer-h;
        line-height: $footer-h;
    }
}

/* Others
-------------------------------------------------- */
.timestamp{
    font-size: $app-updatetime-font-size !important;
    .fa{
        font-size: $app-updatetime-icon-size !important; 
    }
}

