/* Helpers
-------------------------------------------------- */
/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 -------------------------------------------------- */
 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

/* Position
-------------------------------------------------- */
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}

/* Hide on the small devices
-------------------------------------------------- */
.s-hide {
  @include mqMax($break-s - 1px) {
    display: none;
  }
}

/* Hide on the large devices
-------------------------------------------------- */
.l-hide {
  @include mqMin($break-s) {
    display: none;
  }
}
/* Displays a horizontal scroll bar if the screen is too smal
-------------------------------------------------- */
.v-scroll{
  overflow: auto;
}



