/* Page topbar
-------------------------------------------------- */
$page-topbar-border-color: $border-color;
.page-topbar {
  @include displayFlex();
  @include justifyContent(space-between);
  @include alignItems(center);
  padding-bottom: $spacing-half;
  border-bottom: solid 1px $page-topbar-border-color;
}