/* Tooltip
-------------------------------------------------- */

$tooltip-spacing: $spacing;
$tooltip-w: 24rem;
$tooltip-color: $light-font-color;
$tooltip-bcg-color: lighten($darkest-bcg-color, 30%);
.tooltip-wrap {
  position: relative;
  display: inline-block;
  cursor: help;
  &.on-hover {
     &:hover {
      .tooltip {
        display: block;
      }
    }
  }
  .tooltip {
    white-space: normal;
    display: none;
    position: absolute;
    width: $tooltip-w;
    padding: $tooltip-spacing;
    background-color: $tooltip-bcg-color;
    color: $tooltip-color;
    z-index: $zindex-tooltip;
    text-align: left;
    @include boxShadow($box-shadow);
    /* Arrow */
    &::after {
      content: " ";
      position: absolute;
      border-width: $tooltip-spacing/2;
      border-style: solid;
    }
    /* Right tooltip */
    &.right {
      top: -$tooltip-spacing/2;
      left: 105%;
      /* Arrow To the left of the tooltip */
      &::after {
        //top: 50%;
        top: $tooltip-spacing*2;
        right: 100%;
        margin-top: -$tooltip-spacing/2;
        border-color: transparent $tooltip-bcg-color transparent transparent;
      }
    }
    /* Left tooltip */
    &.left {
      top: -$tooltip-spacing/2;
      margin-top: -$tooltip-spacing/2;
      right: 105%;
      /* Arrow To the right of the tooltip */
      &::after {
        //top: 50%;
        top: $tooltip-spacing*2;
        left: 100%;
        border-color: transparent transparent transparent $tooltip-bcg-color;
      }
    }
    /* Top tooltip */
    &.top {
      bottom: 100%;
      left: 50%;
      /* Use half of the width (120/2 = 60), to center the tooltip */
      margin-left: -$tooltip-w/2;
      /* Arrow To the bottom of the tooltip */
      &::after {
        top: 100%;
        left: 50%;
        margin-left: -$tooltip-spacing/2;
        border-color: $tooltip-bcg-color transparent transparent transparent;
      }
    }
    /* Bottom tooltip */
    &.bottom {
      top: 100%;
      left: 50%;
      /* Use half of the width (120/2 = 60), to center the tooltip */
      margin-left: -$tooltip-w/2;
      /* Arrow To the top of the tooltip */
      &::after {
        bottom: 100%;
        left: 50%;
        margin-left: -$tooltip-spacing/2;
        border-color: transparent transparent $tooltip-bcg-color transparent;
      }
    }
  }
}