/* Button
-------------------------------------------------- */
.btn{
    padding: var(--space);
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-regular);
}
.panel,.cfg-block {
    .btn{
       margin: 0 calc(var(--space) / 2) var(--space) 0;
    }
    .btn-group{
        .btn{
            margin: 0 0 var(--space) 0;
        }
    }
}

.btn-goup-block{
    display: table;
    width: 100%;
    margin: 0 0 var(--space) 0;
    .btn{
        &.active .fa{
            color: $btn-icon-active-color;
        }
    }



}

.btn-goup-1{
    .btn{
        width: 100%;
    }
}
.btn-goup-2{
    .btn{
        width: 50%;
    }
}
.btn-goup-3{
    .btn{
        width: 33.33333%;
    }
}

.btn-default {
    color: $btn-color;
    background-color: $btn-bcg-color;
    border-color: $btn-border-color;
}

.btn-default.active {
    background-color:$btn-active-bcg-color;
}

/*.btn,.btn-device-admin {
    font-size: $app-btn-font-size;
    .fa{
        font-size: $app-btn-icon-size; 
    }
}*/

.btn-submit{
    color: $btn-submit-color;
    border: solid 1px $app-brand-success;
    background-color: darken($app-brand-success, 20%);
    &:hover,&:focus {
        background-color: $app-brand-success;
    }
}

.btn-installed{
    border: 0 none;
    background-color: unset !important;
}

.btn-disabled{
    border: 0 none;
    background-color: transparent !important;
}

.btn-small{
    font-size: $app-btn-small-font-size;
    .fa{
        font-size: $app-btn-small-icon-size;
    }
}

.btn-tag{
    display: block;
    position: relative;
    text-align: left;
    font-size: $app-btn-tag-font-size;
    margin: 0 0 var(--space) 0;
    .fa{
        position: absolute;
        top: calc(var(--space) / 2);
        right: var(--space);
        font-size: 1.5rem;
    }
    &.active {
        background-color: $tabs-active-bcg-color;
    }
}



/* Button tabs
-------------------------------------------------- */
.tabs-wrap{
    margin: 0 0 var(--space) 0;
}
.btn-goup-tabs{
   /* display: table;
    width: 100%;
    margin: 0 0 $spacing 0;*/
    .btn{
        padding: var(--space);
        font-size: 1.05rem;
        background-color: $tabs-bcg-color;
        border-color: $app-border-color;
        &.active {
            background-color: $tabs-active-bcg-color;
        }
        .fa{
            font-size: $tab-icon-size;
            color: $tabs-icon-color;
        }
    }
    .active .fa{
        color: $tabs-icon-active-color;
    }
}
.enable-user-select {
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
.highlight-command {
    display: flex;
    flex: 1 1 auto;
    gap: .5rem;
    padding: .5rem;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    overflow: scroll;
    text-overflow: ellipsis;
    font-size: .8rem;
    &::-webkit-scrollbar {
        display: none;
        }
    scrollbar-width: none;
}
.panel-command {
    @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
    margin-bottom: -2px;
    .btn {
        margin: 0;
        padding: 0.25rem 0.75rem;
    }
}
/*.btn-tabs-2{
    .btn{
        width: 50%;
    }
}
.btn-tabs-3{
    .btn{
        width: 33.33333%;
    }
}
.btn-tabs-4{
    .btn{
        width: 25%;
    }
}
.btn-tabs-5{
    .btn{
        width: 20%;
    }
}
.btn-tabs-6{
    .btn{
        width: 16.66666%;
    }
}
.btn-tabs-7{
    .btn{
        width: 14.2857%;
    }
}*/

