/* Images
-------------------------------------------------- */
img {
    vertical-align: middle;
}
.img-circle{
    border-radius: 50%;
}
.fatal-error-img{
    max-width: $fatal-error-img;
    max-height: $fatal-error-img;
}
.report-img{
    max-width: $report-img;
    max-height: $report-img;
}
.navi-img{
    max-width: $navi-img;
    max-height: $navi-img;
    @include appBorderRadius(50%);
}

.widget-preview-img{
    max-width: $widget-img;
    max-height: $widget-img;
    border: solid 4px $widget-img-border-color;
    @include appBorderRadius(50%);
}

.report-img-s{
    display: inline-block;
    max-width: $report-img-s;
    max-height:$report-img-s;
}
.lang-img{
    max-width: $lang-img;
    max-height:$lang-img;
}
.img-opacity-50{
    opacity: 0.5;
    filter: alpha(opacity=50);

}
.config-device-img{
    max-width: $config-device-img;
}