/* Legend
-------------------------------------------------- */
.legend-entry {
  margin: $spacing 0 0 0;
}
.legend-inline {
  .legend-row {
    display: inline-block;
    margin: 0 $spacing 0 0;

  }
}
