/* Legend
-------------------------------------------------- */
.legend-entry {
  font-size: 95%;
  margin: $spacing-double 0 0 0;
  padding: $spacing 0 0 0;
  border-top: solid 1px $app-bcg-gray;
  .legend-title{
    margin: $spacing-half 0 $spacing-half 0;
    font-weight: bold;
  }
  .legend-row {
    margin:0 0  $spacing-half 0;

  }
}
.legend-inline {
  .legend-row {
    display: inline-block;
    margin: 0 $spacing 0 0;
    vertical-align: middle;
    line-height: 20px;
  }
}

.legend {
  position: absolute;
  height: auto;
  width: 300px;
  padding: 10px;
  z-index: 1;
  top: 20px;
  left: 15px;
  background-color: #e4f5fc;
  border: solid 1px #9fd8ef;

  .legend-entry {
    margin: $spacing-half 0 0 0;
    padding: $spacing-half 0 0 0;
    border-top: solid 1px #9fd8ef;
  }
}

.node {
  border-radius: 50%;
  background-color: #000000;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.dashed-line {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 15px;
  height: 1px;
  border: none;
  border-top: 3px dashed #000000;
}

.strong-line {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 15px;
  height: 1px;
  border: none;
  border-top: 7px solid #000000;
}

.strong-line-yellow {
  border-top: 7px solid yellow;
}

.thin-line {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 15px;
  height: 1px;
  border: none;
  border-top: 1px solid #000000;
}