/* Table
-------------------------------------------------- */
.table{
  .td-action{
    text-align: right;
  }
  margin-bottom: 0;
    thead{
        tr{
            th{
                border-bottom: 2px solid $table-border-color;
              color: $app-a-color;
            }
        }
    }
    tbody{
        tr{
            td{
                border-top: 1px solid $table-border-color;
            }
        }
    }
    tbody{
        tr{
            td{
                border-top: 1px solid $table-border-color;
            }
        }
    }

}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {

    background-color: #e4f5fc;
}
#inspect_queue_table{
    font-size: 12px;
    width: 100%;
}
.th-slider{
    min-width: 100px;
}

.table-condensed td p{
    margin: 0 !important;
    padding: 0 !important;
}

.table-report{
    border: 0 !important;
    margin-bottom: 0 !important;
    tbody{
        td{
            vertical-align: middle !important;
            background-color: $report-bcg-color;
        }
        .td-img{
            width: 30px;
        }
        .td-action{
            text-align: right;
        }
    }
}
.table-products{
    td{
        vertical-align: middle !important;
    }
}

.td20{
    width: 20%;
}
.td30{
    width: 30%;
}