/* Global variables
-------------------------------------------------- */
/* Global variables
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* Zwave alliance
-------------------------------------------------- */
/* Vendors
-------------------------------------------------- */
/* SmartHome UI variables nad functions
-------------------------------------------------- */
/* core
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* Page topbar
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* line 4, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_page-topbar.scss */
=======
/* Helpers
-------------------------------------------------- */
/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 -------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* line 8, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_helpers.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Position
-------------------------------------------------- */
/* line 14, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_helpers.scss */
.relative {
  position: relative;
}

/* line 17, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_helpers.scss */
.fixed {
  position: fixed;
}

/* line 20, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_helpers.scss */
.absolute {
  position: absolute;
}

/* Hide on the small devices
-------------------------------------------------- */
@media only screen and (max-width: 767px) {
  /* line 26, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_helpers.scss */
  .s-hide {
    display: none;
  }
}

/* Hide on the large devices
-------------------------------------------------- */
@media only screen and (min-width: 768px) {
  /* line 34, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_helpers.scss */
  .l-hide {
    display: none;
  }
}

/* Displays a horizontal scroll bar if the screen is too smal
-------------------------------------------------- */
/* line 41, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_helpers.scss */
.v-scroll {
  overflow: auto;
}

/* Page topbar
-------------------------------------------------- */
/* line 3, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_page-topbar.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.page-topbar {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #87cf83;
}

/* Section
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 4, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_section.scss */
=======
/* line 3, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_section.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
section {
  margin-bottom: 2rem;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 6, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_section.scss */
=======
/* line 5, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_section.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
section.has-border {
  padding: 1rem;
}

/* Tooltip
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 9, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 5, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap {
  position: relative;
  display: inline-block;
  cursor: help;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 15, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 11, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap.on-hover:hover .tooltip {
  display: block;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 20, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 16, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip {
  white-space: normal;
  display: none;
  position: absolute;
  width: 24rem;
  padding: 1rem;
  background-color: #4d4d4d;
  color: #ffffff;
  z-index: 2300;
  text-align: left;
  line-height: 1.5;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  /* Arrow */
  /* Right tooltip */
  /* Left tooltip */
  /* Top tooltip */
  /* Bottom tooltip */
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 33, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 29, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip::after {
  content: " ";
  position: absolute;
  border-width: 0.5rem;
  border-style: solid;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 40, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 36, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip.right {
  top: -0.5rem;
  left: 105%;
  /* Arrow To the left of the tooltip */
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 44, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 40, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip.right::after {
  top: 2rem;
  right: 100%;
  margin-top: -0.5rem;
  border-color: transparent #4d4d4d transparent transparent;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 53, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 49, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip.left {
  top: -0.5rem;
  margin-top: -0.5rem;
  right: 105%;
  /* Arrow To the right of the tooltip */
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 58, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 54, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip.left::after {
  top: 2rem;
  left: 100%;
  border-color: transparent transparent transparent #4d4d4d;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 66, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 62, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip.top {
  bottom: 100%;
  left: 50%;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-left: -12rem;
  /* Arrow To the bottom of the tooltip */
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 72, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 68, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip.top::after {
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-color: #4d4d4d transparent transparent transparent;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 80, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 76, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip.bottom {
  top: 100%;
  left: 50%;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-left: -12rem;
  /* Arrow To the top of the tooltip */
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 86, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
=======
/* line 82, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_tooltip.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.tooltip-wrap .tooltip.bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-color: transparent transparent #4d4d4d transparent;
}

/* Table
-------------------------------------------------- */
/* line 3, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_table.scss */
table {
  font-size: 100%;
  width: 100%;
  background-color: white;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_table.scss */
table th,
table td {
  border-bottom: 1px solid #87cf83;
  text-align: left;
  padding: 1rem;
  vertical-align: top;
}

/* line 18, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_table.scss */
table.is-condensed th,
table.is-condensed td {
  padding: 0.5rem;
}

/* line 25, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_table.scss */
table.has-hover tbody tr:hover {
  background-color: #eff6fe;
}

/* @import "core/_body";
@import "core/_helpers";
@import "core/_typo";
@import "core/_nav";
@import "core/_header";
@import "core/_aside";
@import "core/_footer";
@import "core/_page-topbar";
@import "core/_img"; 
@import "core/_table";
@import "core/_section";  
@import "core/_button"; 
@import "core/_form";
@import "core/_input-addon";
@import "core/_switch";
@import "core/_tag";
@import "core/_list";
@import "core/_definition-list";
@import "core/_list-panel";
@import "core/_panel";
@import "core/_flip";
@import "core/_flexcard";
@import "core/_dropdown";
@import "core/_accordion"; 
@import "core/_tab"; 
@import "core/_loader";
@import "core/_notification";
@import "core/_message";
@import "core/_modal";
@import "core/_pagination";
@import "core/_autocomplete";
@import "core/_progress";
@import "core/_tooltip"; */
/* Modifiers
-------------------------------------------------- */
/* Padding
-------------------------------------------------- */
/* line 4, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
.pad-spacing {
  padding: 1rem;
}

/* line 7, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
.pad-spacing-double {
  padding: 2rem;
}

/* line 10, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
.pad-spacing-half {
  padding: 0.5rem;
}

/*Fonts
-------------------------------------------------- */
/* line 16, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
.font-light {
  font-weight: 300;
}

/* line 20, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
.font-regular {
  font-weight: 400;
}

/* line 24, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
.font-heavy {
  font-weight: 700;
}

/* Text align
-------------------------------------------------- */
/* line 30, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
.left {
=======
.txt-left {
>>>>>>> citdev:app/css/tinyadmin/styles.css
  text-align: left;
}

/* line 33, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
.right {
=======
.text-right {
>>>>>>> citdev:app/css/tinyadmin/styles.css
  text-align: right;
}

/* line 36, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
.center {
=======
.txt-center {
>>>>>>> citdev:app/css/tinyadmin/styles.css
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 41, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
.justify {
  text-align: justify;
}

/* line 44, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
.hidden-sm {
  display: none;
}

/* Text color
-------------------------------------------------- */
/* line 50, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
.txt-justify {
  text-align: justify;
}

/* Text color
-------------------------------------------------- */
/* line 47, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.txt-light {
  color: #ffffff;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 53, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 50, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.txt-dark {
  color: #000000;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 56, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 53, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.txt-primary {
  color: #6494BC;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 59, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 56, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.txt-info {
  color: #5bc0de;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 62, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 59, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.txt-success {
  color: #80AD80;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 65, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 62, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.txt-warning {
  color: #f0ad4e;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 68, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 65, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.txt-danger {
  color: #d9534f;
}

/* Truncate text
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 74, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 71, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.truncate-100px {
  width: 100px;
  white-space: nowrap;
  /* force single line */
  overflow: hidden;
  /* don't show excess chars */
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /* Opera */
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 77, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 74, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.truncate-200px {
  width: 200px;
  white-space: nowrap;
  /* force single line */
  overflow: hidden;
  /* don't show excess chars */
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /* Opera */
}

/* Has border
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 83, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 80, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.has-border {
  border: solid 1px #87cf83;
}

/* Border color
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 89, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 86, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bor-primary {
  border-color: #6494BC;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 92, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 89, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bor-info {
  border-color: #5bc0de;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 95, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 92, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bor-success {
  border-color: #80AD80;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 98, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 95, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bor-warning {
  border-color: #f0ad4e;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 101, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 98, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bor-danger {
  border-color: #d9534f;
}

/* Background color
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 107, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 104, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bcg-light {
  background-color: #eff6fe;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 110, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 107, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bcg-dark {
  background-color: #6494BC;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 113, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 110, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bcg-primary {
  background-color: #6494BC;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 116, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 113, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bcg-info {
  background-color: #5bc0de;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 119, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 116, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bcg-success {
  background-color: #80AD80;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 122, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 119, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bcg-warning {
  background-color: #f0ad4e;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 125, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 122, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.bcg-danger {
  background-color: #d9534f;
}

/* Box shadow
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 131, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 128, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.box-shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.29);
}

/* Circle
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 137, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 134, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* Cursor
-------------------------------------------------- */
<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* line 143, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
=======
/* line 140, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/core/_modifiers.scss */
>>>>>>> citdev:app/css/tinyadmin/styles.css
.cur-pointer {
  cursor: pointer;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/* @import "core/_body";
@import "core/_helpers";
@import "core/_grid";
@import "core/_nav";
@import "core/_header";
@import "core/_aside";
@import "core/_main";
@import "core/_footer";
@import "core/_page-topbar";
@import "core/_img"; 
@import "core/_table"; 
@import "core/_page";
@import "core/_section";  
@import "core/_button"; 
@import "core/_form";
@import "core/_tag";
@import "core/_list";
@import "core/_definition-list";
@import "core/_list-panel";
@import "core/_box";
@import "core/_panel";
@import "core/_card";
@import "core/_dropdown";
@import "core/_infowindow";
@import "core/_accordion"; 
@import "core/_tab"; 
@import "core/_loader";
@import "core/_alert";
@import "core/_modal";
@import "core/_pagination";
@import "core/_autocomplete";
@import "core/_progress";
@import "core/_modifiers";
@import "core/_tooltip"; */
/* Extensions
-------------------------------------------------- */
/* Extensions
-------------------------------------------------- */
/* @import "_form";
@import "_button";
@import "_input-addon"; */
/* Input switch
-------------------------------------------------- */
/* line 11, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/extensions/_switch.scss */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
}

/* line 17, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/extensions/_switch.scss */
.switch input {
  display: none;
}

/* line 19, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/extensions/_switch.scss */
.switch input:checked + .slider:before {
  background-color: #80AD80;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* line 25, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/extensions/_switch.scss */
.switch input:focus + .slider {
  box-shadow: 0 0 1px #80AD80;
}

/* line 29, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/extensions/_switch.scss */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #87cf83;
  transition: .4s;
  -webkit-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* line 41, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/extensions/_switch.scss */
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  border-radius: 4px;
  border: solid 1px #87cf83;
  background-color: #fff;
  transition: .4s;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

/* line 55, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/extensions/_switch.scss */
.switch:after {
  content: attr(aria-label);
  position: absolute;
  top: 0;
  left: 65px;
  right: 0;
  bottom: 0;
  margin: auto 0;
  height: 50%;
  font-size: 90%;
  font-weight: normal;
}

/* Fallback
-------------------------------------------------- */
/* Custom
-------------------------------------------------- */
=======
>>>>>>> citdev:app/css/tinyadmin/styles.css
/* Custom
-------------------------------------------------- */
/* Global variables
-------------------------------------------------- */
/* Zwave alliance
-------------------------------------------------- */
/* Custom:  Page topbar
-------------------------------------------------- */
/* line 3, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_page-topbar.scss */
.page-topbar {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

/* Tooltip
-------------------------------------------------- */
/* line 4, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_tooltip.scss */
.tooltip-wrap .tooltip {
  color: #ffffff;
  background-color: #083366;
  /* Right tooltip */
  /* Left tooltip */
  /* Top tooltip */
  /* Bottom tooltip */
}

/* line 7, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_tooltip.scss */
.tooltip-wrap .tooltip.center {
  text-align: center;
}

/* line 12, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_tooltip.scss */
.tooltip-wrap .tooltip.right::after {
  border-color: transparent #083366 transparent transparent;
}

/* line 18, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_tooltip.scss */
.tooltip-wrap .tooltip.left::after {
  border-color: transparent transparent transparent #083366;
}

/* line 24, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_tooltip.scss */
.tooltip-wrap .tooltip.top::after {
  border-color: #083366 transparent transparent transparent;
}

/* line 30, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_tooltip.scss */
.tooltip-wrap .tooltip.bottom::after {
  border-color: transparent transparent #083366 transparent;
}

/* Header tooltip
-------------------------------------------------- */
/* line 42, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_tooltip.scss */
.navibar-item-root.tooltip-wrap .tooltip > * {
  display: block;
}

<<<<<<< HEAD:app/css/tinyadmin/tinyadmin.css
/*# sourceMappingURL=../../css/tinyadmin/tinyadmin.map */
=======
/* Table
-------------------------------------------------- */
/* line 5, C:/Development/git_repos/ExpertUI/app/sass/tinyadmin/custom/_table.scss */
table th {
  color: #083366;
}

/*# sourceMappingURL=../../css/tinyadmin/styles.map */
>>>>>>> citdev:app/css/tinyadmin/styles.css
