/* Expert Commands
-------------------------------------------------- */
#row_commands .thumbnail{
  width: 100%;
}
#row_commands .thumbnail:hover{
  border: solid 1px #6BA2C8;
}
#row_commands .thumbnail-title a{
  color: #012F49;
  font-weight: bold;
}

#row_commands img{
  vertical-align: top !important;
}

.commands-data{
  padding: 0 0 $spacing-half 0;
  //border-top: solid 1px #9fd8ef;
}

.commands-data-control{
  padding: 10px;
  background-color: #e4f5fc;
}
.commands-data-control .form-group{
  margin-bottom: 10px;
}
.commands-title-block{
  display: block;
}
.commands-table {
  display: grid;
  grid-template-columns: 1fr minmax(0, 95%);
  gap: var(--space) var(--space);
  &:nth-child(1){
    padding: .5em;
  }
  &-info {
    width: min-content;
    @media (max-width: $mq-phone - 1px) {
      th {
        padding: 3px 1px !important;
      }
    }
  }
}
.command-list {
  background-color: $breadcrumb-bg;
  opacity: 1;
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  &>label {
    display: flex;
    margin: 0;
    align-items: center;
    input {
      font-size: 100%;
    }
  }
}
.commands-label {
  white-space: nowrap;
}
.commands-body {
  flex: 1 1 auto;
}
input.commands-body {
  padding: 6px 12px;
}
.command-disable {
  opacity: .7;
  background-color: initial;
}
@keyframes swipe {
  from {
    left: 20%;
  }
  10% {
    left: 30%;
  }
  90% {
    left: 30%;
  }
  to {
    left: 40%;
  }
}
.swipe-arrow {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: scaleY(3);
  animation: swipe 3.5s ease-out infinite;
}
.side-panel {
  position: relative;
  background-color: #BDBDBC;
}
.mobile-hidden {
  @media (max-width: $mq-phone - 1px) {
      display: none;
  }
}
.mobile-only {
  display: none;
  @media (max-width: $mq-phone - 1px) {
    display: block;
  }
}
