/* Expert Commands
-------------------------------------------------- */
#row_commands .thumbnail{
  width: 100%;
}
#row_commands .thumbnail:hover{
  border: solid 1px #6BA2C8;
}
#row_commands .thumbnail-title a{
  color: #012F49;
  font-weight: bold;
}

#row_commands img{
  vertical-align: top !important;
}

.commands-data{
  padding: 0 0 $spacing-half 0;
  //border-top: solid 1px #9fd8ef;
}

.commands-data-control{
  padding: 10px;
  background-color: #e4f5fc;
}
.commands-data-control .form-group{
  margin-bottom: 10px;
}
.commands-title-block{
  display: block;
}
.commands-table {
  display: grid;
  grid-template-columns: 1fr minmax(0, 95%);
  gap: 1rem 1rem;
  &:nth-child(1){
    padding: .5em;
  }
  &-info {
    width: min-content;
  }
}
.command-list {
  background-color: $breadcrumb-bg;
  opacity: 1;
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  &>label {
    display: flex;
    margin: 0;
    align-items: center;
    input {
      padding: 5px 10px;
      font-size: 100%;
    }
  }
}
.commands-label {
  white-space: nowrap;
}
.commands-body {
  flex: 1 1 auto;
}
.command-disable {
  opacity: .7;
  background-color: initial;
}

