/* Network control
-------------------------------------------------- */

.nm-response.alert-danger{
    font-weight: bold;
}
.block-frequency .btn{
    margin: 8px 8px 0 0;
}

/* Inclusion S2
-------------------------------------------------- */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"].input_number {
    display: inline-block;
    -moz-appearance: textfield;
    width: 5em;
}

.diabled_label {
    color: darkgrey;
}

/* S2 DSK window
-------------------------------------------------- */

.dsk-wrap{
    margin: $spacing;
    text-align: center;
    .dsk-block{
        padding: 0 2px;
        font-size: 120%
    }
}