
/* Configuration
-------------------------------------------------- */
.table-cfg-interview th{
    width: 25%;
}
.cfg-block {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: solid 1px #9fd8ef;
}

.cfg-block-top-border {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: solid 1px #9fd8ef;
}

.cfg-block h4{
    color: #2A6496;
}

.cfg-control-content{
    padding: 10px;
    margin: 10px 0;
    background-color: #e4f5fc;
}
.cfg-info{
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: solid 1px #fff;
}
.commads-is-current{
    text-decoration: underline;
}
#wakeup_cont .form-inline{
    /*    max-width: 300px;*/
    float: left;
}

#device_select_image_container{
    margin: 20px;
}

#device_select_image{
    margin: 0 auto;
    text-align: center;
}


#device_select_image img{
    margin: 0 auto;
    max-width: 200px;
}

.btn-assoc{
    margin-bottom: 5px;
}

.btn-group-assoc-devices{
    margin: 0 5px 5px 0;
}



