/*  Controller info
-------------------------------------------------- */
.table-controller table{
    margin-bottom: 20px;
}
.table-controller h3{
    font-size: 100%;
    font-weight: bold;
}
.controller-th{
    width: 15%;
}