/* Network control
-------------------------------------------------- */

.nm-response.alert-danger{
    font-weight: bold;
}
.block-frequency .btn{
    margin: 8px 8px 0 0;
}

/* Inclusion S2
-------------------------------------------------- */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"].input_number {
    -moz-appearance: textfield;
    width: 5em;
}

.diabled_label {
    color: darkgrey;
}

/* TODO !!! check dsk_1 field to make red border on min-max invalidation */