/* Network map / cytoscype
-------------------------------------------------- */
#cy {
  width: 600px;
  height: 600px;
  display: block;
  border: solid 1px red;
  
/*   height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;*/
}