/* Print
-------------------------------------------------- */

#page_print{
    body{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #000000;
        background-color: #FFFFFF;
        font-size: 11px;
        line-height: 1.4em;
    }
    #header,.container-installer,#footer,.print-hide,.fa{
        display: none;
    }
    #main_content.container{
        padding: 0;
       // margin: 10px;
        //border: solid 1px red;
        min-width: 100%;
    }
    a,h1,h2,h3,h4,h5,h6{
        color: #000000;
    }
    //h1{page-break-before: always;}
    a{
        text-decoration: none;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        td,th{
            vertical-align: top;
            text-align: left;
            padding: 5px;
            color: #000000;
            border: solid 1px #CCCCCC;
            display: table-cell;
        }

    }

}