/* Settings
-------------------------------------------------- */
.settings-lang{
    a{
        &:hover,
        &:active,
        &:focus,
        &:visited{
            text-decoration: none;
        }

        &:active,
        &:focus,
        &:visited{
            border: none;
            outline: 0;
        }

        img{
            width: 32px;
            height: 32px;
            display: inline-block;
            margin-right: $spacing-half;
        }
    }
   a.active{
       img{
           border: solid 4px $app-border-color;
       }

   }
}