<!-- Controller Maintenance -->
<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-gear"></i> {{_t('nm_ctrl_maintance')}}</div>
    <div class="panel-body">
        <!-- soft_reset_controller -->
        <div class="cfg-block form-inline">
            <p class="input-help">{{_t('nm_chip_reboot_war')}}</p>
            <button class="btn btn-primary"
                    id="btn_chip_reboot"
                    ng-disabled="[1, 2, 3, 4, 5, 6, 7, 20].indexOf(controllerState) > -1"
                    ng-click="runCmd('SerialAPISoftReset()')"
            >{{_t('nm_soft_reset_controller')}}</button>
        </div>
        <!-- reset_controller -->
        <div class="cfg-block form-inline">
            <p class="input-help" ng-hide="cfg.app_type === 'installer'">{{_t('nm_chip_reset_war')}}</p>
            <p class="input-help" ng-if="cfg.app_type === 'installer'">{{_t('nm_chip_reset_war_ima')}}</p>

            <button
                    class="btn btn-primary"
                    ng-disabled="[1, 2, 3, 4, 5, 6, 7, 20].indexOf(controllerState) > -1"
                    data-ng-click="showModal('#modal_reset_controller')"
            >{{_t('nm_reset_controller')}}</button>
        </div>
    </div>
</div>
