<!-- linkStatusModal -->
<div id="linkStatusModal" class="appmodal" ng-if="modalArr.linkStatusModal" ng-controller="BackupRestoreController">
    <div class="appmodal-in">
        <div class="appmodal-header">
                <span class="appmodal-close" ng-click="handleModal('linkStatusModal', $event)"><i
                        class="fa fa-times"></i></span>
            <h3>{{testNode.name|cutText:true:25}}</h3>
        </div>
        <div class="appmodal-body">
            <div class="progress modal-progress" ng-repeat="v in testNode.data track by $index">
                <div class="progress-bar" title="{{v}}%" style="width: {{v}}%"
                     ng-class="{'progress-bar-danger': v <= 30 ,
                     'progress-bar-warning': v > 30 && v <= 50,
                     'progress-bar-info': v > 50 && v <= 70,
                    'progress-bar-success': v == 100
                    }">
                    <span>{{v}}%</span>
                </div>
            </div>
            <!--<pre>{{testNode|json}}</pre>-->
        </div>
        <div class="appmodal-footer">
            <!-- Close -->
            <button type="button" class="btn btn-default" ng-click="handleModal('linkStatusModal', $event)">
                <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
            </button>
        </div>
    </div>
</div><!-- /#modal linkStatusModal -->


