<!-- Backup and Restore -->
<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-download"></i> {{_t('nm_backup_title')}}</div>
    <div class="panel-body">
        <!-- backup -->
        <a class="btn btn-primary" href="{{cfg.server_url}}/ZWaveAPI/Backup">{{_t('nm_backup_download')}}</a>
        <button
                class="btn btn-primary"
                ng-disabled="[1, 2, 3, 4, 5, 6, 7, 20].indexOf(controllerState) > -1"
                data-ng-click="showModal('#modal_restore_backup')"
        >{{_t('nm_restore_backup_upload')}}</button>
    </div>
</div>

