<!-- Controll view -->
<div ng-controller="ControllController">
    <div class="page-header"><h1>Controll</h1></div>
    <div class="row" id="row_controll">
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Basic network management</div>
                <div class="panel-body">
                    <div>Controller is primary in the network. It is the only that can add and remove devices to/from the network.</div>
                    <div class="well">
                        <div>Per-device job counter is disabled</div>
                        <div class="message-container">Ready to include. Press a button on the device to be (re-)included.</div>
                    </div>
                    <button class="btn btn-info btn-exincl">(Re)include device <span></span></button>
                    <button class="btn btn-primary btn-exincl">Exclude device <span></span></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Backup of Z-Way configurations</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">SUC/SIS management</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Misc staff</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>