<!-- Controller info default -->
<div ng-controller="ControllerController">
    <div class="page-header"><h1>{{_t('nav_controller_info')}}</h1></div>
    <div class="well well-sm">
        <a href="#network/queue" target="_blank" class="btn btn-primary"><i
                class="fa fa-search"></i> {{_t('nm_inspect_queue_title')}}</a> <em>{{_t('txt_inspect_queue')}}</em>
    </div>
    <div class="table-responsive table-controller">
        <!-- Role in Network -->
        <h3>{{_t('ctrl_info_role_title')}}</h3>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td id="ctrl_info_nodeid_title" class="controller-th">{{_t('ctrl_info_nodeid_title')}}</td>
                <td id="ctrl_info_nodeid_value">{{master['controller.data.nodeId']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_homeid_title" class="controller-th">{{_t('ctrl_info_homeid_title')}}</td>
                <td id="ctrl_info_homeid_value">{{master['txtHomeId']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_primary_title" class="controller-th">{{_t('ctrl_info_primary_title')}}</td>
                <td id="ctrl_info_primary_value">{{master['controller.data.isPrimary']? 'Yes': 'No'}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_real_primary_title" class="controller-th">{{_t('ctrl_info_real_primary_title')}}</td>
                <td id="ctrl_info_real_primary_value">{{master['controller.data.isRealPrimary']? 'Yes': 'No'}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_suc_sis_title" class="controller-th">{{_t('ctrl_info_suc_sis_title')}}</td>
                <td id="ctrl_info_suc_sis_value">{{master['txtSucSis']}}</td>
            </tr>
            </tbody>
        </table>
        <!-- Hardware -->
        <h3>{{_t('ctrl_info_hw_title')}}</h3>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td id="ctrl_info_hw_vendor_title" class="controller-th">{{_t('ctrl_info_hw_vendor_title')}}</td>
                <td id="ctrl_info_hw_vendor_value">{{master['controller.data.vendor']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_hw_product_title" class="controller-th">{{_t('ctrl_info_hw_product_title')}}</td>
                <td id="ctrl_info_hw_product_value">{{master['controller.data.manufacturerProductType']}} /
                    {{master['controller.data.manufacturerProductId']}}
                </td>
            </tr>
            <tr>
                <td id="ctrl_info_hw_chip_title" class="controller-th">{{_t('ctrl_info_hw_chip_title')}}</td>
                <td id="ctrl_info_hw_chip_value">{{master['controller.data.ZWaveChip']}}</td>
            </tr>
            </tbody>
        </table>
        <!-- Firmware -->
        <h3>{{_t('ctrl_info_sw_title')}}</h3>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td id="ctrl_info_sw_lib_title" class="controller-th">{{_t('ctrl_info_sw_lib_title')}}</td>
                <td id="ctrl_info_sw_lib_value">{{master['controller.data.libType']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_sw_sdk_title" class="controller-th">{{_t('ctrl_info_sw_sdk_title')}}</td>
                <td id="ctrl_info_sw_sdk_value">{{master['controller.data.SDK']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_sw_api_title" class="controller-th">{{_t('ctrl_info_sw_api_title')}}</td>
                <td id="ctrl_info_sw_api_value">{{master['controller.data.APIVersion']}}</td>
            </tr>
            </tbody>
        </table>
        <!-- Capabilities -->
        <h3>{{_t('ctrl_info_sw_caps_title')}}</h3>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td id="ctrl_info_uuid_title" class="controller-th">{{_t('ctrl_info_uuid_title')}}</td>
                <td id="ctrl_info_uuid_value">{{master['controller.data.uuid']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_caps_subvendor_title" class="controller-th">{{_t('ctrl_info_caps_subvendor_title')}}</td>
                <td id="ctrl_info_caps_subvendor_value">{{master['controller.data.firmware.caps.subvendor']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_caps_nodes_title" class="controller-th">{{_t('ctrl_info_caps_nodes_title')}}</td>
                <td id="ctrl_info_caps_nodes_value">{{master['controller.data.firmware.caps.nodes']}}</td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_staticApi_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.staticApi'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_maxPower_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.maxPower'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_backup_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.backup'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_wup_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.wup'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_advancedIMA_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.advancedIMA'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_longRange_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.longRange'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_ultraUART_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.ultraUART'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_swapSubvendor_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.swapSubvendor'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_promisc_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.promisc'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_zniffer_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.zniffer'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td class="controller-th">{{_t('ctrl_info_caps_jammingDetection_title')}}</td>
                <td><i class="fa fa-{{master['controller.data.firmware.caps.jammingDetection'] ? 'check' : 'times'}}"></i></td>
            </tr>
            <tr>
                <td id="ctrl_info_caps_cap_title" class="controller-th">{{_t('ctrl_info_caps_cap_title')}}</td>
                <td id="ctrl_info_caps_cap_value">{{master['controller.data.firmware.caps.cap']}}</td>
            </tr>
            </tbody>
        </table>
        <!-- Z_Way Software Information -->
        <h3>{{_t('ctrl_info_sw_rev_title')}}</h3>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td id="ctrl_info_sw_rev_ver_title" class="controller-th">{{_t('ctrl_info_sw_rev_ver_title')}}</td>
                <td id="ctrl_info_sw_rev_ver_value">{{master['controller.data.softwareRevisionVersion']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_sw_rev_id_title" class="controller-th">{{_t('ctrl_info_sw_rev_id_title')}}</td>
                <td id="ctrl_info_sw_rev_id_value">{{master['controller.data.softwareRevisionId']}}</td>
            </tr>
            <tr>
                <td id="ctrl_info_sw_rev_date_title" class="controller-th">{{_t('ctrl_info_sw_rev_date_title')}}</td>
                <td id="ctrl_info_sw_rev_date_value">{{master['controller.data.softwareRevisionDate']}}</td>
            </tr>
            </tbody>
        </table>

        <!-- Z_Way Software Information -->
        <h3>{{_t('ui')}}</h3>
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td id="ctrl_ui_version" class="controller-th">{{_t('ui_version')}}</td>
                <td id="ctrl_ui_version_value">{{cfg.app_version}}</td>
            </tr>
            <tr>
                <td id="ctrl_ui_version" class="controller-th">{{_t('built_date')}}</td>
                <td id="ctrl_ui_version_value">{{builtInfo.built}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="well well-sm">
        <!-- nm_send_node_information  -->
        <button class="btn btn-primary"
                ng-controller="SendNodeInformationController"
                data-ng-click="sendNodeInformation('controller.SendNodeInformation()')"
                ng-disabled="rowSpinner['controller.SendNodeInformation()']">

            <bb-row-spinner
                    spinner="rowSpinner['controller.SendNodeInformation()']"
                    label="_t('nm_send_node_information')"
                    icon="'fa-circle'">
            </bb-row-spinner>
        </button>


        <!-- Debug mode  -->
        <button class="btn"
                ng-class="cfg.zwavecfg.debug === true ? 'btn-success active': 'btn-primary'"
                ng-click="setDebugMode(cfg.zwavecfg.debug === true ? false : true,'debugMode')"
                ng-disabled="rowSpinner['debugMode']">

            <bb-row-spinner
                    spinner="rowSpinner['debugMode']"
                    label="_t('debug_mode')"
                    icon="'fa-bug'">
            </bb-row-spinner>
            <!--<i class="fa fa-bug"></i> {{_t('Debug mode')}}-->
        </button>

        <!-- ctrl_info_data  -->
        <button class="btn btn-default"
                ng-controller="DataHolderInfoController"
                ng-click="dataHolderModal('dataHolderModal',$event, ZWaveAPIData.controller.data)">
            <i class="fa fa-list"></i> {{_t('ctrl_info_data')}}
        </button>

        <!-- ctrl_info_device_data  -->
        <button class="btn btn-default"
                ng-controller="DataHolderInfoController"
                ng-click="dataHolderModal('dataHolderModal',$event, ZWaveAPIData.devices[ZWaveAPIData.controller.data.nodeId.value].data)">
            <i class="fa fa-list"></i> {{_t('ctrl_info_device_data')}}
        </button>

        <!-- S0/S2 keys -->
        <z-wave-encryption-keys ng-if="cfg.zwavecfg.debug"></z-wave-encryption-keys>
        
        <!-- Update firmware  -->
        <a href="#uzb" class="btn btn-default">
            <i class="fa fa-level-up-alt"></i> {{_t('upgrade_bootloader_firmware')}}
        </a>

        <!-- Update licence  -->
        <a href="#licence" class="btn btn-default"
           ng-if="master['controller.data.manufacturerProductId'] == 1 && master['controller.data.manufacturerId'] == 277 && master['controller.data.manufacturerProductType'] == 1024 && master['controller.data.ZWaveChip'] == 'ZW0500'">
            <i class="fa fa-certificate"></i> {{_t('licence_upgrade')}}
        </a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{_t('ctrl_info_func_list_title')}}</h3>
        </div>
        <div class="panel-body" ng-bind-html="funcList | toTrusted"></div>
    </div>

    <!-- dataHolderModal -->
    <div id="dataHolderModal" class="appmodal appmodal-100" ng-show="modalArr.dataHolderModal">
        <div class="appmodal-in">
            <div class="appmodal-header">
                <span class="appmodal-close" ng-click="handleModal('dataHolderModal', $event)"><i
                        class="fa fa-times"></i></span>
                    <h3>{{_t('th_command_class')}}</h3>
                </div>
                <div class="appmodal-body modal-h-400">
                    {{dataHolderInfo.all}}
                </div>
                <div class="appmodal-footer">
                    <!-- Close -->
                    <button type="button" class="btn btn-default" ng-click="handleModal('dataHolderModal', $event)">
                        <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                    </button>
                </div>
        </div>
    </div><!-- /#modal dataHolderModal -->
</div><!-- /ng-controler -->