<!-- Modal reset controller -->
<div class="modal fade" id="modal_reset_controller" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_t('nm_reset_controller')}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <p>{{_t('nm_controller_reset_war')}}<p>
                    <p><input type="checkbox" name="reset_confirm" id="reset_confirm" value="1" ng-click="goReset = !goReset" /> {{_t('yes')}}<p>
                </div>

            </div>
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-danger"
                        id="btn_reset_controller"
                        ng-show="goReset"
                        ng-click="runCmd('controller.SetDefault()', '#modal_reset_controller', null, {'name': 'reset_controller'})"
                ><i class="fa fa-exclamation-triangle"></i> {{_t('nm_reset_controller')}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeResetController('#modal_reset_controller')">{{_t('btn_cancel')}}</button>
            </div>
        </div>
    </div>
</div><!-- /.Modal -->