<!-- Queue view -->
<div ng-controller="QueueController">
    <div class="page-header"><h1>{{_t('nm_inspect_queue_title')}}</h1></div>
    <p>
        {{ _t('txt_queue_length')}}: {{queueData.length}} <bb-alert-text alert="alert"></bb-alert-text>
    </p>
    <!-- New view -->
    <div id="inspect_queue_table" class="table-responsive">
        <table id="inspect_queue_table__" class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th title="Send count">n</th>
                <th title="Urgent">U</th>
                <th title="Wait wakeup">W</th>
                <th title="Wait security">S</th>
                <th title="Encapsulated">E</th>
                <th title="Done">D</th>
                <th title="Awaiting/received an Ack">Ack</th>
                <th title="Awaiting/received a Respinse">Resp</th>
                <th title="Awaiting/received a Callback">Cbk</th>
                <th title="Awaiting/received a Reply">Repl</th>
                <th>{{_t('th_timeout')}}</th>
                <th>{{_t('th_nodeid')}}</th>
                <th>{{_t('th_description')}}</th>
                <th>{{_t('th_progress')}}</th>
                <th>{{_t('th_buffer')}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in queueData.all track by $index">
                <td>{{v.n}}</td>
                <td>{{v.U}}</td>
                <td>{{v.W}}</td>
                <td>{{v.S}}</td>
                <td>{{v.E}}</td>
                <td>{{v.D}}</td>
                <td>{{v.Ack}}</td>
                <td>{{v.Resp}}</td>
                <td>{{v.Cbk}}</td>
                <td>{{v.Repl}}</td>
                <td>{{v.Timeout}}</td>
                <td>{{v.NodeId}}</td>
                <td ng-bind-html="v.Description | toTrusted"></td>
                <td  ng-bind-html="v.Progress | toTrusted"></td>
                <td>{{v.Buffer}}</td>
            </tbody>
        </table>

    </div>
    <!-- Legend -->
    <div class="legend-entry">
        <div class="legend-title">{{_t('legend')}}</div>
        <div class="legend-row">
            {{_t('inspect_queue_legend_help')}}
        </div>
    </div>

    <hr />
    <div class="text-right">
        <a href="javascript:closeWindow();" class="btn btn-default">
            <i class="fa fa-times text-danger"></i> <span class="btn-name ng-binding">{{_t('btn_close')}}</span>
        </a>

    </div>
    <script>
        function closeWindow() {
            window.open('', '_parent', '');
            window.close();
        }
    </script>

</div><!-- /ng-controler -->
