<!-- Reorganization view -->
<div ng-controller="ReorganizationController">
    <div class="page-header"><h1>Reorganization</h1></div>
    <div class="table-responsive">
        <input id="mainsPowered" type="checkbox" ng-model="mainsPowered" /> <label for="mainsPowered">mains powered</label><br/>
        <input id="batteryPowered" type="checkbox" ng-model="batteryPowered" /> <label for="batteryPowered">battery powered</label><br/>
        <button class="btn btn-primary update" 
                data-ng-click="reorgAll()"
                data-action="reorgAll"  
                id="btn_reorg_all_1"
                ng-disabled="reorganizing">{{ _t('sensors_update_all')}}</button>
        <button class="btn btn-primary update" data-ng-click="downloadLog()" ng-disabled="log == ''">Download Log</button>
        <div class="modal-body">
           <div ng-repeat="line in logged track by $index">{{line}}</div>
        </div>
    </div>
</div>
