<!-- Reorganization view -->
<div ng-controller="ReorganizationController">
   <div class="page-header"><h1>{{ _t('nav_reorganization')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>

    <div>
        <div class="form-group form-inline">
            <!-- mainsPowered -->
            <input id="reorgMain" type="checkbox" ng-model="reorganizations.input.reorgMain"/>
            <label for="reorgMain">{{ _t('reorg_mains_powered')}}</label>
            <!-- batteryPowered -->
            <input id="reorgBattery" type="checkbox" ng-model="reorganizations.input.reorgBattery"/>
            <label for="reorgBattery">{{ _t('reorg_battery_powered')}}</label>
        </div>
        <div class="form-group form-inline">
            <div class="btn-group">
            <!-- Start -->
            <button class="btn btn-default" title="{{ _t('reorg_start')}}"
                    ng-click="setTrace('run',reorganizations.input)"
                    ng-disabled="reorganizations.trace === 'run'"
                    ng-class="reorganizations.trace === 'run' ? 'active' : ''">
                <i class="fa fa-play"></i>
            </button>
                <!--Pause -->
                <button class="btn btn-default" title="{{_t('pause')}}"
                        ng-class="reorganizations.trace === 'pause' ? 'active' : ''"
                        ng-disabled="reorganizations.trace !== 'run'"
                        ng-click="setTrace('pause')">
                    <i class="fa fa-pause"></i>
                </button>
                <!--Stop -->
                <button class="btn btn-default" title="{{_t('stop')}}"
                        ng-class="zniffer.trace === 'stop' ? 'active' : ''"
                        ng-disabled="reorganizations.trace === 'stop'"
                        ng-click="setTrace('stop')">
                    <i class="fa fa-stop"></i>
                </button>
            <!--Download -->
            <a ng-href="{{ fileUrl }}" class="btn btn-default" title="{{_t('reorg_download_log')}}"
               download="reorganization.txt"
               ng-click="downloadReorganizationLog()"
                    ng-disabled="reorganizations.trace !== 'pause'">
                <i class="fa fa-download"></i>
            </a>
            </div>
        </div>
        <bb-alert alert="reorganizations.run"></bb-alert>
        <table class="table table-condensed">
            <tbody>
            <tr ng-repeat="v in reorganizations.all track by $index" id="{{ v.rowId}}">
                <td>{{v.dateTime.time}}</td>
                <td >{{v.message}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
