<!-- Route map -->
<div ng-controller="RouteMapController">
    <div class="row">
        <!-- Graph -->
        <div ng-class="routeMap.showAnnotations ? 'col-md-9' : 'col-md-12'">
            <div id="graph">
                <svg id="svg" viewBox="0 0 200 100" preserveAspectRatio="xMidYMid">
                    <image xlink:href="storage/floor1-2008-11-06 svet.jpg" x="0" y="0" height="100%" width="100%"/>
                    <defs>
                        <pattern id="pattern-stripe" width="0.5" height="0.5" patternUnits="userSpaceOnUse"
                                 patternTransform="rotate(45)">
                            <rect width="0.25" height="0.5" transform="translate(0,0)" fill="white"></rect>
                        </pattern>
                        <mask id="mask">
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-stripe)"/>
                        </mask>
                    </defs>
                </svg>
            </div>
        </div>
        <!-- Annotation panel -->
        <div class="col-md-3" ng-if="routeMap.showAnnotations">
            <div id="annotationPanel">
                <!--Source -->
                <h4 class="annotation-title">Source</h4>
                <table id="annotation-src" class="table table-condensed">
                    <tr>
                        <th>Id</th>
                        <td id="annotation-src-id"></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td id="annotation-src-name"></td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td id="annotation-src-type"></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td id="annotation-src-dead"></td>
                    </tr>
                    <tr>
                        <th>Associations</th>
                        <td id="annotation-src-associations"></td>
                    </tr>
                    <tr>
                        <th>Routes for</th>
                        <td id="annotation-src-routes-for"></td>
                    </tr>
                </table>
                <!-- Destination -->
                <h4 class="annotation-title">Destination</h4>
                <table id="annotation-dst" class="table table-condensed">
                    <tr>
                        <th>Id</th>
                        <td id="annotation-dst-id"></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td id="annotation-dst-name"></td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td id="annotation-dst-type"></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td id="annotation-dst-dead"></td>
                    </tr>
                </table>
                <!-- Route  -->
                <h4 class="annotation-title">Route between source and destination</h4>
                <table id="annotation-src-dst" class="table table-condensed">
                    <tr>
                        <th>Rerouted, %</th>
                        <td id="annotation-src-dst-n-reroutes"></td>
                    </tr>
                    <tr>
                        <th>Min hops</th>
                        <td id="annotation-src-dst-min-hops"></td>
                    </tr>
                    <tr>
                        <th>Max hops</th>
                        <td id="annotation-src-dst-max-hops"></td>
                    </tr>
                </table>
            </div>

        </div>

    </div>




    <!-- Control panel -->
    <div id="controlPanel">
        <form name="control">
            <label><input type="checkbox" name="ShowAllRoutes" id="ShowAllRoutes" checked>All routes</label>
            <label><input type="checkbox" name="ShowNeighbours" id="ShowNeighbours" checked>Node neighbours</label>
            <label><input type="checkbox" name="ShowRepeatingFor" id="ShowRepeatingFor" checked>Nodes this node is
                repeating for</label>
            <label><input type="checkbox" name="ShowAssociations" id="ShowAssociations" checked>Nodes
                associations</label>
            <!-- Show annotations-->
            &nbsp;
            <button class="btn btn-default" id="ShowAnnotations"
                    ng-class="routeMap.showAnnotations ? 'active' : ''"
                    ng-click="routeMap.showAnnotations = !routeMap.showAnnotations">
                <span ng-if="!routeMap.showAnnotations"><i class="fa fa-eye"></i> Show annotations</span>
                <span ng-if="routeMap.showAnnotations"><i class="fa fa-eye-slash"></i> Hide annotations</span>
            </button>

            &nbsp;
            <!-- Allow node moving -->
            <button class="btn btn-default" id="AllowNodeMoving"
                    ng-if="!routeMap.moveNodes"
                    ng-click="routeMap.startMove(); routeMap.moveNodes = true;">
                <span><i class="fa fa-share-alt"></i> Allow node moving</span>
            </button>
            <span ng-if="routeMap.moveNodes">
                <!-- Cancel -->
                <button class="btn btn-warning" id="CancelNodeMoving"
                        ng-click="routeMap.cancelMoveNodes(); routeMap.moveNodes = false;">
                <i class="fa fa-remove"></i> Cancel
                    </button> &nbsp;
                <!-- Save -->
                <button class="btn btn-success" id="SaveNodePosition"
                        ng-click="routeMap.finishMoveNodes(); routeMap.moveNodes = false;">
                <i class="fa fa-check"></i> Save
            </button>
            </span>
        </form>
    </div>

</div>



