<!-- Routing neigbors -->

<div class="table-responsive" ng-if="routings.show">
    <table class="table-routing">
        <thead>
        <tr>
            <td>&nbsp;</td>
            <td ng-repeat="v in routings.all | limitTo:increment" style="text-align:center;">{{v.id}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="v in routings.all | limitTo:increment track by $index">
            <td class="rt-node-id">
                <div class="tool-tip right rt-cell rt-cell-th">
                    {{v.id}}
                    <div class="tool-tip-entry">
                        <p>{{v.name}}</p>
                        <p><strong>Type info:</strong> <i class="fa" ng-class="v.icon" title="{{_t(v.type)}}"></i> </p>
                        <p><strong>Updated:</strong> {{ v.updateTime | isTodayFromUnix }}</p>
                        <div>

                            <button class="btn btn-primary" id="btn_update_{{ v.rowId}}"
                                    ng-click="updateRoute(v.urlToStore)"
                                    ng-disabled="rowSpinner[v.urlToStore]">
                                <bb-row-spinner
                                        spinner="rowSpinner[v.urlToStore]"
                                        label=" _t('update')"
                                        icon="'fa-circle'">

                                </bb-row-spinner>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
            <td ng-repeat="n in v.cellState | limitTo:increment">
                <div class="rt-cell {{n.cssClass}}" title="{{n.tooltip}}">
                    <span class="info" ng-if="n.hasAssoc">*</span>
                    <span class="info" ng-if="!n.hasAssoc">&nbsp;</span>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>