<!-- Route map -->
<div ng-controller="RouteMapController">
    <!-- Control panel -->
    <div id="controlPanel">
        <form name="control">
            <label><input type="checkbox" name="ShowAllRoutes" id="ShowAllRoutes" checked>{{_t('all_routes')}}</label>
            <label><input type="checkbox" name="ShowNeighbours" id="ShowNeighbours" checked>{{_t('nodes_neighbours')}}</label>
            <label><input type="checkbox" name="ShowRepeatingFor" id="ShowRepeatingFor" checked>{{_t('nodes_is_repeating')}}</label>
            <label><input type="checkbox" name="ShowAssociations" id="ShowAssociations" checked>{{_t('nodes_associations')}}</label>
            <!-- Show annotations-->
            &nbsp;
            <button class="btn btn-default" id="ShowAnnotations"
                    ng-class="routeMap.showAnnotations ? 'active' : ''"
                    ng-click="routeMap.showAnnotations = !routeMap.showAnnotations">
                <span ng-if="!routeMap.showAnnotations"><i class="fa fa-eye"></i> {{_t('show_annotations')}}</span>
                <span ng-if="routeMap.showAnnotations"><i class="fa fa-eye-slash"></i> {{_t('hide_annotations')}}</span>
            </button>

            &nbsp;
            <!-- Allow node moving -->
            <button class="btn btn-default" id="AllowNodeMoving"
                    ng-if="!routeMap.moveNodes"
                    ng-click="routeMap.startMove(); routeMap.moveNodes = true;">
                <span><i class="fa fa-share-alt"></i> {{_t('allow_node_moving')}}</span>
            </button>
            <span ng-if="routeMap.moveNodes">
                <!-- Cancel -->
                <button class="btn btn-default" id="CancelNodeMoving"
                        ng-click="routeMap.cancelMoveNodes(); routeMap.moveNodes = false;">
                <i class="fa fa-remove"></i> {{_t('btn_cancel')}}
                    </button> &nbsp;
                <!-- Save -->
                <button class="btn btn-success" id="SaveNodePosition"
                        ng-click="routeMap.finishMoveNodes(); routeMap.moveNodes = false;">
                <i class="fa fa-check"></i> {{_t('btn_save')}}
            </button> &nbsp;
                <!-- Reset -->
                <button class="btn btn-warning" id="ResetNodePosition"
                        ng-click="routeMap.resetMoveNodes(); routeMap.moveNodes = false;">
                <i class="fa fa-refresh"></i> {{_t('reset')}}
            </button>

            </span>
            &nbsp;
            <input class="inputfile" type="file" name="file" id="file"
                   onchange="angular.element(this).scope().uploadFloorImage(this.files,angular.element(this).scope().cfg.upload.routemap,'routemap_upload')"/>
            <label for="file" class="btn btn-default" title="{{_t('upload_image')}}">
                <bb-row-spinner
                        spinner="rowSpinner['routemap_upload']"
                        label="_t('upload_image')"
                        icon="'fa-upload'">
                </bb-row-spinner>
            </label>
        </form>
    </div>
    <div class="row">
        <!-- Graph -->
        <div ng-class="routeMap.showAnnotations ? 'col-md-9' : 'col-md-12'">
            <div id="graph">
                <!-- Render nodes with an image  -->
                <!--<div ng-if="routeMap.bcgImage">-->
                <svg id="svg" viewBox="0 0 200 100" preserveAspectRatio="xMidYMid">
                    <!--<image xlink:href="storage/floor-plan.png" x="0" y="0" height="100%" width="100%"/>-->
                    <image xlink:href="{{routeMap.bcgImage}}" x="0" y="0" height="100%" width="100%" />
                        <defs>
                        <pattern id="pattern-stripe" width="0.5" height="0.5" patternUnits="userSpaceOnUse"
                                 patternTransform="rotate(45)">
                            <rect width="0.25" height="0.5" transform="translate(0,0)" fill="white"></rect>
                        </pattern>
                        <mask id="mask">
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-stripe)"/>
                        </mask>
                    </defs>
                </svg>
            </div>
        </div>
        <!-- Annotation panel -->
        <div class="col-md-3" ng-if="routeMap.showAnnotations">
            <div id="annotationPanel">
                <!--Source -->
                <h4 class="annotation-title">{{_t('source')}}</h4>
                <table id="annotation-src" class="table table-condensed">
                    <tr>
                        <th>{{_t('id')}}</th>
                        <td id="annotation-src-id"></td>
                    </tr>
                    <tr>
                        <th>{{_t('name')}}</th>
                        <td id="annotation-src-name"></td>
                    </tr>
                    <tr>
                        <th>{{_t('th_type')}}</th>
                        <td id="annotation-src-type"></td>
                    </tr>
                    <tr>
                        <th>{{_t('nav_status')}}</th>
                        <td id="annotation-src-dead"></td>
                    </tr>
                    <tr>
                        <th>{{_t('nav_associations')}}</th>
                        <td id="annotation-src-associations"></td>
                    </tr>
                    <tr>
                        <th>{{_t('routes_for')}}</th>
                        <td id="annotation-src-routes-for"></td>
                    </tr>
                </table>
                <!-- Destination -->
                <h4 class="annotation-title">{{_t('destination')}}</h4>
                <table id="annotation-dst" class="table table-condensed">
                    <tr>
                        <th>{{_t('id')}}</th>
                        <td id="annotation-dst-id"></td>
                    </tr>
                    <tr>
                        <th>{{_t('name')}}</th>
                        <td id="annotation-dst-name"></td>
                    </tr>
                    <tr>
                        <th>{{_t('th_type')}}</th>
                        <td id="annotation-dst-type"></td>
                    </tr>
                    <tr>
                        <th>{{_t('nav_status')}}</th>
                        <td id="annotation-dst-dead"></td>
                    </tr>
                </table>
                <!-- Route  -->
                <h4 class="annotation-title">{{_t('route_source_destination')}}</h4>
                <table id="annotation-src-dst" class="table table-condensed">
                    <tr>
                        <th>{{_t('rerouted')}} %</th>
                        <td id="annotation-src-dst-n-reroutes"></td>
                    </tr>
                    <tr>
                        <th>{{_t('min_hops')}}</th>
                        <td id="annotation-src-dst-min-hops"></td>
                    </tr>
                    <tr>
                        <th>{{_t('max_hops')}}</th>
                        <td id="annotation-src-dst-max-hops"></td>
                    </tr>
                </table>
            </div>

        </div>

    </div>



</div>



