<!-- Route map -->
<div ng-controller="RouteMapController">
    <!-- Graph -->
    <div id="graph">
        <svg id="svg" viewBox="0 0 200 100" preserveAspectRatio="xMidYMid">
            <image xlink:href="storage/floor1-2008-11-06 svet.jpg" x="0" y="0" height="100%" width="100%"/>
            <defs>
                <pattern id="pattern-stripe" width="0.5" height="0.5" patternUnits="userSpaceOnUse" patternTransform="rotate(45)">
                    <rect width="0.25" height="0.5" transform="translate(0,0)" fill="white"></rect>
                </pattern>
                <mask id="mask">
                    <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-stripe)" />
                </mask>
            </defs>
        </svg>
    </div>

    <!-- Control panel -->
    <div id="controlPanel">
        <form name="control">
            <label><input type="checkbox" name="ShowAllRoutes" id="ShowAllRoutes" checked>Show all routes</label>
            <label><input type="checkbox" name="ShowNeighbours" id="ShowNeighbours" checked>Show node neighbours</label>
            <label><input type="checkbox" name="ShowRepeatingFor" id="ShowRepeatingFor" checked>Show nodes this node is repeating for</label>
            <label><input type="checkbox" name="ShowAssociations" id="ShowAssociations" checked>Show associations of a nodes</label>
        </form>
    </div>
    <!-- Annotation panel -->
    <div id="annotationPanel" class="row">
        <!-- annotation-src -->
        <div class="col-md-4">
            <h4 class="annotation-title">Source</h4>
            <table id="annotation-src" class="table table-condensed">
                <tr><th>Id</th><td id="annotation-src-id"></td></tr>
                <tr><th>Name</th><td id="annotation-src-name"></td></tr>
                <tr><th>Type</th><td id="annotation-src-type"></td></tr>
                <tr><th>Status</th><td id="annotation-src-dead"></td></tr>
                <tr><th>Associations</th><td id="annotation-src-associations"></td></tr>
                <tr><th>Routes for</th><td id="annotation-src-routes-for"></td></tr>
            </table>
        </div>
        <!-- nnotation-dst -->
        <div class="col-md-4">
            <h4 class="annotation-title">Destination</h4>
            <table id="annotation-dst" class="table table-condensed">
                <tr><th>Id</th><td id="annotation-dst-id"></td></tr>
                <tr><th>Name</th><td id="annotation-dst-name"></td></tr>
                <tr><th>Type</th><td id="annotation-dst-type"></td></tr>
                <tr><th>Status</th><td id="annotation-dst-dead"></td></tr>
            </table>
        </div>
        <!-- annotation-src-dst -->
        <div class="col-md-4">
            <h4 class="annotation-title">Route between source and destination</h4>
            <table id="annotation-src-dst" class="table table-condensed">
                <tr><th>Rerouted, %</th><td id="annotation-src-dst-n-reroutes"></td></tr>
                <tr><th>Min hops</th><td id="annotation-src-dst-min-hops"></td></tr>
                <tr><th>Max hops</th><td id="annotation-src-dst-max-hops"></td></tr>
            </table>
        </div>
    </div>

</div>



