<!-- Network map -->
<div ng-controller="NetworkStatisticsController">
    <div class="page-header"><h1>{{_t('statistics')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div class="table-responsive" ng-if="networkStatistics.show">
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th style="width: 30%">{{ _t('name')}}</th>
                <th>{{ _t('datetime')}}</th>
                <th class="mobile-show td-action">
                    <button class="btn btn-primary" id="btn_update_all_1"
                            ng-click="updateNetworkStatistics('GetNetworkStats()')"
                            ng-disabled="rowSpinner['GetNetworkStats()']">
                        <bb-row-spinner
                                spinner="rowSpinner['GetNetworkStats()']"
                                label="_t('update')"
                                icon="'fa-circle-o'">
                        </bb-row-spinner>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in networkStatistics.all track by $index">
                <td>{{v.name}}</td>
                <td class="row-time is-updated-{{v.isUpdated}}">{{ v.dateTime.today }}</td>
                <td class="text-right">{{v.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>