<!-- Network map -->
<div ng-controller="NetworkStatisticsController">
    <div class="page-header"><h1>{{_t('statistics')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>

    <div class="text-right">
        <button class="btn btn-primary" id="btn_update_all_1"
                ng-click="updateNetworkStatistics('GetNetworkStats()')"
                ng-disabled="rowSpinner['GetNetworkStats()']">
            <bb-row-spinner
                    spinner="rowSpinner['GetNetworkStats()']"
                    label="_t('update')"
                    icon="'fa-circle-o'">
            </bb-row-spinner>
        </button>
        <button class="btn btn-primary" id="btn_update_all_1"
                ng-click="updateNetworkStatistics('ClearNetworkStats()')"
                ng-disabled="rowSpinner['ClearNetworkStats()']">
            <bb-row-spinner
                    spinner="rowSpinner['ClearNetworkStats()']"
                    label="_t('reset')"
                    icon="'fa-refresh'">
            </bb-row-spinner>
        </button>
    </div>


    <div class="statistic-entry"
         ng-repeat="v in netStat.all track by $index">
        <div class="statistic-title">{{_t(v.name)}} <span
                class="label label-default">{{v.dateTime.today}}</span>
        </div>
        <div ng-switch="v.name">
            <!-- RFRxLRCErrors -->
            <div ng-switch-when="RFRxLRCErrors" ng-click="expandNavi(v.name, $event)">
                <div class="progress clickable">
                    <div class="progress-bar progress-bar-success" style="width: {{v.success}}%">
                        <span>{{v.success}}% {{_t('ok')}}</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: {{v.failCRC8}}%">
                        <span>{{v.failCRC8}}% {{_t('error')}}</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: {{v.failCRC16}}%">
                        <span>{{v.failCRC16}}% {{_t('error')}}</span>
                    </div>
                </div>
                <div class="page-navi" ng-if="naviExpanded[v.name]">
                    <div class="page-navi-in">
                        <div class="page-navi-content">
                            {{ _t(v.frameName)}}: <strong>{{v.frameValue}}</strong><br />
                            {{_t(v.failCRC8Name)}}:  <strong>{{_t(v.failCRC8Value)}}</strong><br />
                            {{_t(v.failCRC16Name)}}:  <strong>{{_t(v.failCRC16Value)}}</strong>
                        </div>
                    </div>
                </div>
               <!-- <div class="statistic-info" ng-if="expand[v.name]">
                    {{ _t(v.frameName)}}: <strong>{{v.frameValue}}</strong><br />
                   {{_t(v.failCRC8Name)}}:  <strong>{{_t(v.failCRC8Value)}}</strong><br />
                    {{_t(v.failCRC16Name)}}:  <strong>{{_t(v.failCRC16Value)}}</strong>
                </div>-->
            </div>
            <!-- Default -->
            <div ng-switch-default>
                <div class="progress clickable" ng-click="expandNavi(v.name, $event)">
                <div class="progress-bar progress-bar-success" style="width: {{v.success}}%">
                    <span>{{v.success}}% {{_t('ok')}}</span>
                </div>

                <div class="progress-bar progress-bar-danger" style="width: {{v.fail}}%">
                    <span>{{v.fail}}% {{_t('error')}}</span>
                </div>
                </div>
                <div class="page-navi" ng-if="naviExpanded[v.name]">
                    <div class="page-navi-in">
                        <div class="page-navi-content">
                            {{ _t(v.frameName)}}: <strong>{{v.frameValue}}</strong><br />
                            {{_t(v.name)}}:  <strong>{{_t(v.value)}}</strong>
                        </div>
                    </div>
                </div>
                <!--<div class="statistic-info" ng-if="expand[v.name]">
                    {{ _t(v.frameName)}}: <strong>{{v.frameValue}}</strong><br />
                    {{_t(v.name)}}:  <strong>{{_t(v.value)}}</strong>
                </div>-->
            </div>

        </div>
    </div>
    <!--<pre>{{netStat.all|json}}</pre>-->


    <!-- Table -->
    <!--<div class="table-responsive" ng-if="networkStatistics.show">
        <table class="table table-striped table-condensed table-hover table-statistics">
            <thead>
            <tr>
                <th style="width: 50%">{{ _t('name')}}</th>
                <th>{{ _t('datetime')}}</th>
                <th class="mobile-show td-action">
                    <button class="btn btn-primary" id="btn_update_all_1"
                            ng-click="updateNetworkStatistics('GetNetworkStats()')"
                            ng-disabled="rowSpinner['GetNetworkStats()']">
                        <bb-row-spinner
                                spinner="rowSpinner['GetNetworkStats()']"
                                label="_t('update')"
                                icon="'fa-circle-o'">
                        </bb-row-spinner>
                    </button>
                    <button class="btn btn-primary" id="btn_update_all_1"
                            ng-click="updateNetworkStatistics('ClearNetworkStats()')"
                            ng-disabled="rowSpinner['ClearNetworkStats()']">
                        <bb-row-spinner
                                spinner="rowSpinner['ClearNetworkStats()']"
                                label="_t('reset')"
                                icon="'fa-circle-o'">
                        </bb-row-spinner>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in networkStatistics.all track by $index">
                <td>{{_t(v.name)}} <em>{{v.name}}</em></td>
                <td class="row-time is-updated-{{v.isUpdated}}">{{ v.dateTime.today }}</td>
                <td class="text-right">{{v.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>-->
</div>