<!-- Network map -->
<div ng-controller="NetworkStatisticsController" ng-init="updateNetworkStatistics('GetNetworkStats()')">
    <div class="page-header"><h1>{{_t('statistics')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>

    <div class="text-right print-hide">
        <button class="btn btn-primary" id="btn_update_all_1"
                ng-click="updateNetworkStatistics('GetNetworkStats()')"
                ng-disabled="rowSpinner['GetNetworkStats()']">
            <bb-row-spinner
                    spinner="rowSpinner['GetNetworkStats()']"
                    label="_t('update')"
                    icon="'fa-circle-o'">
            </bb-row-spinner>
        </button>
        <button class="btn btn-primary" id="btn_update_all_1"
                ng-click="updateNetworkStatistics('ClearNetworkStats()')"
                ng-disabled="rowSpinner['ClearNetworkStats()']">
            <bb-row-spinner
                    spinner="rowSpinner['ClearNetworkStats()']"
                    label="_t('reset')"
                    icon="'fa-refresh'">
            </bb-row-spinner>
        </button>
    </div>
   <!-- <pre>{{netStat.all[0]|json}}</pre>-->
    <!--<div id="chartContainer" style="height: 400px; width: 100%;"></div>-->

    <div class="statistic-entry"
         ng-repeat="v in netStat.all track by $index">
        <div class="statistic-title">{{_t(v.name)}}&nbsp;
            <span class="label label-default">{{v.dateTime.today}}</span>
        </div>
        <div ng-switch="v.name">
            <!-- Success on Reception -->
            <div ng-switch-when="RFRxLRCErrors" ng-click="expandNavi(v.name, $event)">
                <div class="progress clickable">
                    <!-- Success-->
                    <div class="progress-bar progress-bar-success" title="{{_t('success_on_reception')}} {{v.success}}%" style="width: {{v.success}}%">
                        <span>{{v.success}}% {{_t('success_reception')}}</span>
                    </div>
                    <!-- Channel 1 -->
                    <div class="progress-bar progress-bar-danger" title="{{_t('failCRC8Name')}} {{v.failCRC8}}%" style="width: {{v.failCRC8}}%">
                        <span>{{v.failCRC8}}% {{_t('failCRC8')}}</span>
                    </div>
                    <!-- Channel 2 -->
                    <div class="progress-bar progress-bar-warning" title="{{_t('failCRC16Name')}} {{v.failCRC16}}%" style="width: {{v.failCRC16}}%">
                        <span>{{v.failCRC16}}% {{_t('failCRC16')}}</span>
                    </div>
                </div>
                <div class="page-navi" ng-if="naviExpanded[v.name]">
                    <div class="page-navi-in">
                        <div class="page-navi-content">
                            <!-- Success-->
                            <span class="text-success">{{ _t('success_on_reception')}}: <strong>{{v.frameValue}}</strong></span><br />
                            <!-- Channel 1 -->
                            <span class="text-danger">{{_t('failCRC8Name')}}:  <strong>{{_t(v.failCRC8Value)}}</strong></span><br />
                            <!-- Channel 2 -->
                            <span class="text-warning">{{_t('failCRC16Name')}}:  <strong>{{_t(v.failCRC16Value)}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Default -->
            <div ng-switch-default>
                <div class="progress clickable" ng-click="expandNavi(v.name, $event)">
                    <!-- SUCCESS -->
                    <div class="progress-bar progress-bar-success" style="width: {{v.success}}%">
                        <!-- SUCCESS Data Rate on Send -->
                        <span ng-if="v.name == 'RFRxForeignHomeID'" title="{{v.success}}% {{_t('own')}}">
                            {{v.success}}% {{_t('own')}}
                        </span>
                        <!-- SUCCESS Foreign Network Impact -->
                        <span ng-if="v.name == 'RFTxLBTBackOffs'" title="{{v.success}}% {{_t('RFTxFrames')}}">
                            {{v.success}}% {{_t('RFTxFrames')}}
                        </span>
                    </div>
                    <!-- FAILED -->
                    <div class="progress-bar progress-bar-danger" style="width: {{v.fail}}%">
                        <!-- FAILED Data Rate on Send -->
                        <span ng-if="v.name == 'RFTxLBTBackOffs'" title="{{v.fail}}% {{_t('RFTxLBTBackOffs_error')}}">
                            {{v.fail}}% {{_t('RFTxLBTBackOffs_error')}}
                        </span>
                        <!-- FAILED Foreign Network Impact -->
                        <span ng-if="v.name == 'RFRxForeignHomeID'" title="{{v.fail}}% {{_t('foreign')}}">
                            {{v.fail}}% {{_t('foreign')}}
                        </span>


                    </div>
                </div>
                <div class="page-navi" ng-if="naviExpanded[v.name]">
                    <div class="page-navi-in">
                        <div ng-if="v.name == 'RFRxForeignHomeID'" class="page-navi-content">
                            <span class="text-success">{{ _t('own_frames_desc')}}: <strong>{{v.frameValue}}</strong></span><br />
                            <span class="text-danger">{{_t('foreign_frames_desc')}}:  <strong>{{_t(v.value)}}</strong></span>
                        </div>
                        <div ng-if="v.name == 'RFTxLBTBackOffs'" class="page-navi-content">
                            <span class="text-success">{{ _t('RFTxFrames')}}: <strong>{{v.frameValue}}</strong></span><br />
                            <span class="text-danger">{{_t('RFTxLBTBackOffs_error')}}:  <strong>{{_t(v.value)}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--<pre>{{netStat.all|json}}</pre>-->


    <!-- Table -->
    <!--<div class="table-responsive" ng-if="networkStatistics.show">
        <table class="table table-striped table-condensed table-hover table-statistics">
            <thead>
            <tr>
                <th style="width: 50%">{{ _t('name')}}</th>
                <th>{{ _t('datetime')}}</th>
                <th class="mobile-show td-action">
                    <button class="btn btn-primary" id="btn_update_all_1"
                            ng-click="updateNetworkStatistics('GetNetworkStats()')"
                            ng-disabled="rowSpinner['GetNetworkStats()']">
                        <bb-row-spinner
                                spinner="rowSpinner['GetNetworkStats()']"
                                label="_t('update')"
                                icon="'fa-circle-o'">
                        </bb-row-spinner>
                    </button>
                    <button class="btn btn-primary" id="btn_update_all_1"
                            ng-click="updateNetworkStatistics('ClearNetworkStats()')"
                            ng-disabled="rowSpinner['ClearNetworkStats()']">
                        <bb-row-spinner
                                spinner="rowSpinner['ClearNetworkStats()']"
                                label="_t('reset')"
                                icon="'fa-circle-o'">
                        </bb-row-spinner>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in networkStatistics.all track by $index">
                <td>{{_t(v.name)}} <em>{{v.name}}</em></td>
                <td class="row-time is-updated-{{v.isUpdated}}">{{ v.dateTime.today }}</td>
                <td class="text-right">{{v.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>-->
</div>