<!-- Statistics view -->
<div ng-controller="StatisticsController">
    <div class="page-header"><h1>{{_t('nav_timing_info')}}</h1></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="orderBy('id')">{{_t('th_node')}}  
                            <span ng-show="predicate == 'id'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                         <a href="" ng-click="orderBy('type')">{{_t('th_type')}}  
                            <span ng-show="predicate == 'type'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                         <a href="" ng-click="orderBy('total')">{{_t('th_total')}}  
                            <span ng-show="predicate == 'total'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                     <th>
                         <a href="" ng-click="orderBy('ok')">{{_t('th_ok')}}  
                            <span ng-show="predicate == 'ok'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>{{_t('th_lastpackets')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in data| orderBy:predicate:reverse">
                    <td>{{ v.id}}</td>
                    <td>{{ v.type}}</td>
                    <td>{{ v.total}}</td>
                    <td>{{ v.ok}}%</td>
                    <td>{{ v.packets}}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary">{{_t('reset')}}</button>
    </div>
</div>