/* Main navigation
-------------------------------------------------- */


#main_navigation_wrap {
    /*background-color: $header-bcg-color;
    border-bottom: solid 1px $header-border-color;
    height: $header-h;*/
    background: #1f355e; /* Old browsers */
    background: -moz-linear-gradient(top,  #1f355e 0%, #174a7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f355e), color-stop(100%,#174a7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1f355e 0%,#174a7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1f355e 0%,#174a7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1f355e 0%,#174a7c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1f355e 0%,#174a7c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f355e', endColorstr='#174a7c',GradientType=0 ); /* IE6-9 */
    border-bottom: solid 4px $header-border-color;
}



/* Form
-------------------------------------------------- */
/*.form-page{
    border-width: 4px;
}*/

