<!-- Commands view -->
<div ng-controller="CommandsDetailController">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>{{_t('nav_expert_commands')}} - {{deviceName}}</h1>
            </div>
            <div class="col-md-6">
                <select name="devices" class="form-control" style="width: 260px;" ng-model="detailId" ng-change="goToDetail(detailId)" >
                    <option ng-repeat="v in devices| orderBy:predicate:reverse" value="{{v.id}}" selected="{{v.slected}}">{{v.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <p>Display commands for device {{deviceName}}</p>

</div>
