<!-- Backup and restore -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-download"></i> {{_t('nm_backup_title')}}
    </div>
    <div class="panel-body">
        <!-- backup -->
        <a class="btn btn-info" href="{{cfg.server_url}}/ZWaveAPI/Backup">
            <i class="fa fa-download"></i> {{_t('nm_backup_download')}}
        </a>
        <!-- restore -->
        <button class="btn btn-info"
                ng-click="handleModal('restoreModal', $event)">
            <i class="fa fa-repeat"></i> {{_t('nm_restore_backup_upload')}}
        </button>
    </div>
</div>