<!-- Device reset locally -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-dizzy"></i> {{_t('device_reset_locally')}}
    </div>
    <div class="panel-body">
        <!--<pre>{{home.localyReset|json}}</pre>-->
        <ul class="list-report" ng-if="!_.isEmpty(home.localyReset)">
            <li ng-repeat="v in home.localyReset">
                <a href="#/config/configuration/{{v.id}}">(#{{v.id}}) {{v.name}}</a>
            </li>
        </ul>
        <div ng-if="_.isEmpty(home.localyReset)">
            {{_t('no_device_reset_locally')}}
        </div>
    </div>
</div>