<!-- Home view -->

<!--<script>
    function refreshPage() {
        window.location.reload();
    }
</script>-->

<div ng-controller="HomeController">
    <div class="form-inline form-home-ip" ng-if="cfg.custom_ip">

        <div class="form-home-ip-in product-data-list">
            <input name="custom_ip" id="custom_ip" type="text" class="form-control" ng-model="customIP.url"
                   value="{{customIP.url}}" placeholder="Server Name or IP, e.g. 192.168.1.1"/>
            <button type="button" class="btn btn-primary" id="btn_add_ip" ng-click="setIP(customIP.url)">Connect
            </button>
            <div class="text-danger custom-ip-message custom-ip-error">Error in connecting {{cfg.server_url}}</div>
            <div class="text-success custom-ip-message custom-ip-success">Connected to {{cfg.server_url}}</div>
        </div>
    </div>
    <div class="row home-page_" ng-if="home.show">
        <div class="col-sm-6 home-page-image">
            <!-- Promo text -->
            <img class="product-logo" ng-src="{{getCustomCfgArr('logo')}}" alt="Logo"/>
            <p></p>

            <div class="product-description" ng-bind-html="_t('txt_homepage_promo_' + cfg.app_type) | toTrusted"></div>

            <!-- Settings -->
            <!--<div class="panel panel-default" ng-controller="SettingsController">
                <div class="panel-heading">
                    <i class="fa fa-cog text-info"></i> {{_t('settings')}}
                </div>
                <div class="panel-body">
                    <p ng-if="cfg.app_type === 'installer'">
                        <strong>{{_t('network_name')}}:</strong> <span>{{settings.input.network_name}}</span>
                    </p>
                    <p>
                        <strong>{{_t('date_format')}}:</strong> <span>{{settings.input.date_format}}</span>
                    </p>
                    <p>
                        <strong>{{_t('time_format')}}:</strong> <span>{{settings.input.time_format}} {{_t('hours')}}</span>
                    </p>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-default" ng-click="handleModal('settingsModal', $event)">
                        <i class="fa fa-pencil text-info"></i> {{_t('edit')}}
                    </button>
                </div>
            </div>-->

            <!-- Notes -->
            <div class="panel panel-default" ng-controller="SettingsController">
                <div class="panel-heading">
                    <i class="fa fa-list text-info"></i> {{_t('txt_notes')}}
                </div>
                <div class="panel-body newlines" ng-if="settings.input.notes">
                    {{settings.input.notes|stripTags}}
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-default" ng-click="handleModal('notesModal', $event)">
                        <i class="fa fa-pencil text-info"></i> {{_t('edit')}}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 product-data-list_ pull-right_">
            <!-- Z-Wave Network -->
            <div class="panel panel-default" ng-controller="DongleController" ng-if="cfg.app_type !== 'installer'">
                <div class="panel-heading">
                    <i class="fa fa-code-fork"></i> {{_t('zwave_network')}}
                </div>
                <div class="panel-body">
                    <!-- Text only -->
                    <div ng-if="homeDongle.data.length < 1">
                        <strong>{{cfg.dongle}}</strong>
                    </div>
                    <!-- Drop down -->
                    <div ng-if="homeDongle.data.length > 0">
                        <select class="form-control" ng-model="homeDongle.model.dongle" ng-change="setHomeDongle()">
                            <option value="" class="hidden-selectopt">--- Select one ---</option>
                            <option ng-repeat="v in homeDongle.data" ng-selected="homeDongle.model.current == v"
                                    value="{{v}}">{{v}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>
            <!-- Network Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> {{_t('txt_network_info')}}
                    (<em>{{countDevices}} {{_t('txt_devices_present')}})</em>
                </div>
                <div class="panel-body">
                    <!--<h3><strong>{{countDevices}}</strong> {{_t('txt_devices_present')}}:</h3>-->
                    <ul class="list-report">
                        <li><strong>{{mainsDevices}}</strong> {{_t('txt_devices_mains')}}</li>
                        <li><strong>{{batteryWakeupDevices}}</strong>
                            {{_t('txt_devices_battery')}}
                        </li>
                        <li><strong>{{flirsDevices}}</strong> {{_t('txt_devices_flirs')}}</li>
                    </ul>

                </div>
            </div>
            <!-- Only default -->
            <div ng-if="cfg.app_type !== 'installer'">
                <!-- Network Health - only default -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-plus-square"></i> {{_t('txt_net_health')}}
                    </div>
                    <div class="panel-body">
                        <ul class="list-report">
                            <li ng-if="lowBatteryDevices.length > 0">
                                <p ng-repeat="v in lowBatteryDevices">
                                    <a class="text-danger" href="#device/battery">(#{{v.id}}) {{v.name}}
                                        {{_t('txt_low_battery')}} ({{v.battery_charge}}%)</a>
                                </p>
                            </li>
                            <li ng-if="cfg.app_type === 'default'">
                                <p ng-repeat="v in notInterviewDevices">
                                    <a class="text-danger" href="#help/{{v.id}}"> (#{{v.id}}) {{v.name}}
                                        {{_t('txt_interview_not')}}</a>
                                </p>
                            </li>
                            <li ng-show="assocRemovedDevices.length > 1">
                                <p ng-repeat="v in assocRemovedDevices">
                                    <a class="text-danger" href="#configuration/interview/{{v.id}}">(#{{v.id}})
                                        {{v.name}}
                                        {{_t('txt_assoc_removed')}}:</a><br/>
                                    <em ng-repeat="a in v.assoc">{{a.name}}, </em>
                                </p>
                            </li>
                            <li>
                                <p ng-repeat="v in failedDevices">
                                    <a class="text-danger" href="#help/{{v.id}}">(#{{v.id}}) {{v.name}}
                                        {{_t('txt_failed')}}</a>
                                </p>
                            </li>
                            <li>
                                <p ng-repeat="v in notConfigDevices| unique:id">
                                    <a class="text-danger" href="#configuration/interview/{{v.id}}">(#{{v.id}})
                                        {{v.name}}
                                        {{_t('device_changed_configuration')}}</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Device reset locally -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> {{_t('device_reset_locally')}}
                    </div>
                    <div class="panel-body">
                        <ul class="list-report">
                            <li ng-repeat="v in localyResetDevices"> (#{{v.id}}) {{v.name}}</li>
                            <li ng-show="localyResetDevices.length < 1">
                                {{_t('no_device_reset_locally')}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- only installer -->
            <div class="form-inline" ng-if="cfg.app_type === 'installer'">
                <!-- Inclusion -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- Not included in network -->
                        <div ng-if="boxData.controller.isRealPrimary && (!boxData.controller.hasDevices && boxData.controller.controllerState == 0)">
                            <p class="input-help">{{_t('device_not_included_info')}}</p>
                            <button
                                    class="btn btn-primary"
                                    id="btn_learn_start"
                                    ng-click="runZwaveCmd('controller.SetLearnMode(1)')"
                                    onClick="refreshPage()"

                            >{{_t('include_into_network')}}
                            </button>
                        </div>

                        <!-- included in network -->
                        <div ng-if="boxData.controller.isRealPrimary && (boxData.controller.hasDevices)">
                            <p class="input-help">{{_t('device_included_info')}}</p>
                            <button
                                    class="btn btn-primary"
                                    id="btn_learn_start_2"
                                    ng-click="runZwaveCmd('controller.SetLearnMode(1)')"
                                    style="background-color: grey;"
                                    disabled
                            >{{_t('leave_network')}}
                            </button>
                        </div>

                        <!-- included in network -->
                        <div ng-if="!boxData.controller.isRealPrimary">
                            <p class="input-help">{{_t('device_included_info')}}</p>
                            <button
                                    class="btn btn-danger"
                                    id="btn_learn_stop"
                                    ng-click="runZwaveCmd('controller._SetLearnMode(0)',_t('before_leaving_network'))"

                            > {{_t('leave_network')}}
                            </button>
                        </div>


                        <!-- stop inclusion -->
                        <button
                                class="btn btn-danger"
                                id="btn_learn_stop_2"
                                ng-click="runZwaveCmd('controller.SetLearnMode(0)')"
                                ng-if="boxData.controller.controllerState == 9 && boxData.controller.isPrimary"
                                onClick="refreshPage()"
                        > {{_t('Stop inclusion')}}
                        </button>
                    </div>
                </div>
                <!-- Backup and restore -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-download"></i> {{_t('nm_backup_title')}}
                    </div>
                    <div class="panel-body">
                        <!-- backup -->
                        <a class="btn btn-info" href="{{cfg.server_url}}/ZWaveAPI/Backup">
                            <i class="fa fa-download"></i> {{_t('nm_backup_download')}}
                        </a>
                        <!-- restore -->
                        <button class="btn btn-primary"
                                ng-click="handleModal('restoreModal', $event)">
                            <i class="fa fa-repeat"></i> {{_t('nm_restore_backup_upload')}}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- /ng-controller -->

<!-- settingsModal -->
<div id="settingsModal" class="appmodal" ng-if="modalArr.settingsModal" ng-controller="SettingsController">
    <div class="appmodal-in">
        <form name="form_settings" id="form_nsettings" class="form"
              ng-model="notes.input"
              ng-submit="handleModal('settingsModal', $event);storeSettings(settings.input)" novalidate>
            <div class="appmodal-header">
                <span class="appmodal-close" ng-click="handleModal('settingsModal', $event)"><i
                        class="fa fa-times"></i></span>
                <h3>{{_t('settings')}}</h3>
            </div>
            <div class="appmodal-body">
                <fieldset>
                    <!-- network name -->
                    <div class="form-group" ng-if="cfg.app_type === 'installer'">
                        <label for="network_name">{{_t('network_name')}}: </label>
                        <input name="network_name" id="network_name" type="text"
                               class="form-control"
                               placeholder="{{_t('network_name')}}"
                               value="{{settings.input.network_name}}"
                               ng-model="settings.input.network_name"/>
                    </div>
                    <!-- date format -->
                    <div class="form-group">
                        <label>{{_t('date_format')}}: </label>
                        <select name="date_format" name="date_format" class="form-control"
                                ng-model="settings.input.date_format">
                            <option ng-repeat="v in cfg.date_format_list" value="{{v}}"
                                    ng-selected="v === cfg.zwavecfg.date_format">{{v}}
                            </option>
                        </select>
                    </div>
                    <!-- time format -->
                    <div class="form-group">
                        <label>{{_t('time_format')}}: </label>
                        <select name="time_format" name="time_format" class="form-control"
                                ng-model="settings.input.time_format">
                            <option ng-repeat="v in cfg.time_format_list" value="{{v}}"
                                    ng-selected="v === cfg.zwavecfg.time_format">{{v}} {{_t('hours')}}
                            </option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="appmodal-footer">
                <!-- Close -->
                <button type="button" class="btn btn-default" ng-click="handleModal('settingsModal', $event)">
                    <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                </button>
                <!-- Save -->
                <button type="submit" class="btn btn-submit" title="{{_t('btn_save')}}">
                    <i class="fa fa-check"></i> <span class="btn-name">{{_t('btn_save')}}</span>
                </button>
            </div>
        </form>
    </div>
</div> <!-- /#modal settingsModal -->


<!-- notesModal -->
<div id="notesModal" class="appmodal" ng-if="modalArr.notesModal" ng-controller="SettingsController">
    <div class="appmodal-in">
        <form name="form_notes" id="form_notes" class="form"
              ng-model="notes.input"
              ng-submit="handleModal('notesModal', $event);storeSettings(settings.input)" novalidate>
            <div class="appmodal-header">
                <span class="appmodal-close" ng-click="handleModal('notesModal', $event)"><i
                        class="fa fa-times"></i></span>
                <h3>{{_t('txt_notes')}}</h3>
            </div>
            <div class="appmodal-body">
                <textarea id="notes" name="notes" class="form-control" rows="20"
                          ng-model="settings.input.notes">{{settings.input.notes}}</textarea>
            </div>
            <div class="appmodal-footer">
                <!-- Close -->
                <button type="button" class="btn btn-default" ng-click="handleModal('notesModal', $event)">
                    <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                </button>
                <!-- Save -->
                <button type="submit" class="btn btn-submit" title="{{_t('btn_save')}}">
                    <i class="fa fa-check"></i> <span class="btn-name">{{_t('btn_save')}}</span>
                </button>
            </div>
        </form>
    </div>
</div> <!-- /#modal notesModal -->

<!-- restoreModal -->
<div id="restoreModal" class="appmodal" ng-if="modalArr.restoreModal" ng-controller="RestoreController">
    <div class="appmodal-in">
        <form name="form_notes" id="form_modal" class="form"
              ng-model="notes.input"
              ng-submit="handleModal('restoreModal', $event);storeSettings(settings.input)" novalidate>
            <div class="appmodal-header">
                <span class="appmodal-close" ng-click="handleModal('restoreModal', $event)"><i
                        class="fa fa-times"></i></span>
                <h3>{{_t('nm_restore_backup_upload')}}</h3>
            </div>
            <div class="appmodal-body">
                <bb-loader></bb-loader>
                <div class="restore-backup-control" ng-if_="restoreBackupStatus == 0">
                    <!-- restore info -->
                    <div class="alert alert-warning">
                        <input type="checkbox" name="restore_confirm" value="1" id="restore_confirm"
                               ng-click="restore.allow = !restore.allow"/>
                        <span ng-bind-html="_t('are_you_sure_restore') | toTrusted"></span>
                    </div>
                    <!-- if restore allowed -->
                    <div ng-if="restore.allow">
                        <p>
                            <input type="checkbox"
                                   name="restore_chip_info"
                                   id="restore_chip_info"
                                   value="1"
                                   ng-true-value="1"
                                   ng-false-value="0"
                                   ng-model="restore.input.restore_chip_info"/> {{_t('restore_backup_chip')}}

                        </p>
                        <p class="text-center">
                            <input id="btn_upload" type="file" name="file"
                                   onchange="angular.element(this).scope().restoreFromBackup(this.files)"/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="appmodal-footer">
                <!-- Close -->
                <button type="button" class="btn btn-default" ng-click="handleModal('restoreModal', $event)">
                    <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
                </button>
            </div>
        </form>
    </div>
</div> <!-- /#modal restoreModal -->
