<!-- Default Installer view -->
<div ng-controller="HomeController">
    <!-- Custom IP -->
    <div ng-include="'app/views/home/ip.html'"></div>
    <div class="row home-page_" ng-if="home.show">
        <div class="col-sm-6 home-page-image">
            <!-- Promo text -->
            <div ng-include="'app/views/home/promo_installer.html'"></div>
            <!-- Networkname -->
            <div ng-include="'app/views/home/network_name.html'"></div>
            <!-- Notes -->
            <div ng-include="'app/views/home/notes.html'"></div>
        </div>
        <div class="col-sm-6 product-data-list_ pull-right_">
            <!-- Network Information -->
            <div ng-include="'app/views/home/network_informations.html'"></div>
            <!-- Inclusion -->
            <div ng-include="'app/views/network/control/control_different.html'" ng-controller="ControlController"></div>
            <!-- Backup and restore -->
            <div ng-include="'app/views/home/backup_restore.html'"></div>
        </div>
    </div>
</div><!-- /ng-controller -->
<!-- Restore modal modal -->
<div ng-include="'app/views/home/modal_restore.html'"></div>
