<!-- Network Information -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-info-circle"></i> {{_t('txt_network_info')}}
        (<em>{{home.networkSum}} {{_t('txt_devices_present')}})</em>
    </div>
    <div class="panel-body">
        <!--<pre>{{home|json}}</pre>-->
        <ul class="list-report">
            <li><strong>{{home.networkInformation.mains}}</strong> {{_t('txt_devices_mains')}}</li>
            <li><strong>{{home.networkInformation.battery}}</strong>
                {{_t('txt_devices_battery')}}
            </li>
            <li><strong>{{home.networkInformation.flirs}}</strong> {{_t('txt_devices_flirs')}}</li>
        </ul>

    </div>
</div>
</div> <!-- /#modal notesModal -->
