<!-- Network Healtht -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-plus-square"></i> {{_t('txt_net_health')}}
    </div>
    <div class="panel-body">
        <pre>{{home.devices|json}}</pre>
        <ul class="list-report">
            <li ng-if="lowBatteryDevices.length">
                <p ng-repeat="v in lowBatteryDevices">
                    <a class="text-danger" href="#device/battery">(#{{v.id}}) {{v.name}}
                        {{_t('txt_low_battery')}} ({{v.battery_charge}}%)</a>
                </p>
            </li>
            <li ng-if="cfg.app_type === 'default' && notInterviewDevices.length">
                <p ng-repeat="v in notInterviewDevices">
                    <a class="text-danger" href="#help/{{v.id}}"> (#{{v.id}}) {{v.name}}
                        {{_t('txt_interview_not')}}</a>
                </p>
            </li>
            <li ng-show="assocRemovedDevices.length">
                <p ng-repeat="v in assocRemovedDevices">
                    <a class="text-danger" href="#configuration/interview/{{v.id}}">(#{{v.id}})
                        {{v.name}}
                        {{_t('txt_assoc_removed')}}:</a><br/>
                    <em ng-repeat="a in v.assoc">{{a.name}}, </em>
                </p>
            </li>
            <li  ng-show="failedDevices.length">
                <p ng-repeat="v in failedDevices">
                    <a class="text-danger" href="#help/{{v.id}}">(#{{v.id}}) {{v.name}}
                        {{_t('txt_failed')}}</a>
                </p>
            </li>
            <li ng-show="notConfigDevices.length">
                <p ng-repeat="v in notConfigDevices| unique:id">
                    <a class="text-danger" href="#configuration/interview/{{v.id}}">(#{{v.id}})
                        {{v.name}}
                        {{_t('device_changed_configuration')}}</a>
                </p>
            </li>
        </ul>
    </div>
</div>