<!-- Network Healtht -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-heartbeat"></i> {{_t('txt_net_health')}}
    </div>
    <div class="panel-body">
        <!--<pre>{{home.devices|json}}</pre>-->
        <ul class="list-report">
            <li ng-repeat="v in home.devices" ng-hide="!_.size(v.report) || v.isController">
                <a href="#/config/configuration/{{v.id}}">(#{{v.id}}) {{v.name}}</a>
                <div ng-repeat="t in v.report" ng-switch="t">
                    <!-- Battery  -->
                    <a class="text-danger" href="#device/battery" ng-switch-when="txt_low_battery">
                        - {{_t(t)}}.
                    </a>
                    <!-- Changed Configuration  -->
                    <a class="text-danger" href="#configuration/interview/{{v.id}}"
                       ng-switch-when="device_changed_configuration">
                        - {{_t(t)}}.
                    </a>
                    <!-- Assoc removed -->
                    <a class="text-danger" href="#configuration/interview/{{v.id}}" ng-switch-when="txt_assoc_removed">
                        - {{_t(t)}}.
                    </a>
                    <!-- Default -->
                    <a class="text-danger" href="#help/{{v.id}}" ng-switch-default="">
                        - {{_t(t)}}.
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>