<!-- Notes -->
<div class="panel panel-default" ng-controller="NetworkController">
    <div class="panel-heading">
        <i class="fa fa-info-circle"></i> {{settings.input.network_name}}
    </div>
    <div class="panel-body">
        <h4><a href="" ng-click="goRename = !goRename">{{_t('network_rename_tooltip')}} <i class="fa fa-pencil"></i> </a></h4>
        <div ng-show="goRename">
            <form name="form_rename" id="form_rename" ng-model="form_rename" class="form form-inline" ng-submit="storeSettings(settings.input)" novalidate>
                <input name="network_name" id="network_name" type="text" class="form-control" value="{{settings.input.network_name}}" />
                <button
                        type="submit"
                        class="btn btn-primary"
                        id="btn_update"
                >{{_t('btn_save_name')}}</button>
            </form>
        </div>
    </div>
</div>