<!-- Network name -->
<div class="panel panel-default" ng-controller="DataHolderController">
    <!-- Heading -->
    <div class="panel-heading">
        <i class="fa fa-code-fork"></i> {{_t('network_name')}}

    </div>
    <!-- Text mode -->
    <div class="panel-body" ng-hide="goNetworkName">
        {{dataHolder.controller.homeName}}
        <button type="button" class="btn btn-default"
                ng-class="goNetworkName ? 'active' : ''"
                ng-click="goNetworkName = !goNetworkName">
            <i class="fa fa-pencil"></i>
        </button>
    </div>

    <!-- Edit mode -->
    <form name="form_network_name" id="form_network_name" class="form form-inline"
          ng-show="goNetworkName"
          ng-submit="storeNetworkName(dataHolder.controller.homeName,'spinNetworkName');goNetworkName = !goNetworkName" novalidate>
        <div class="panel-body">
            <input name="network_name" type="text" class="form-control"
                   placeholder="{{_t('network_name')}}"
                   ng-model="dataHolder.controller.homeName"
                   value="{{dataHolder.controller.homeName}}"/>
        </div>
        <!-- Footer -->
        <div class="panel-footer text-right">
            <!-- Close -->
            <button type="button" class="btn btn-default" title="{{_t('btn_cancel')}}"
                    ng-click="goNetworkName = !goNetworkName">
                <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
            </button>
            <!-- Save -->
            <button class="btn btn-primary" title="{{_t('btn_save')}}" ng-disabled="rowSpinner['spinNetworkName']">
                <bb-row-spinner
                        spinner="rowSpinner['spinNetworkName']"
                        label=" _t('btn_save')"
                        icon="'fa-check'">

                </bb-row-spinner>
            </button>

        </div>
    </form>
</div>