<!-- Network name -->
<div class="panel panel-default" ng-controller="DataHolderController">
    <!-- Heading -->
    <div class="panel-heading">
        <i class="fa fa-code-fork"></i> {{_t('network_name')}}

    </div>

    <div class="panel-body">
        <!-- Text mode -->
        <div ng-hide="goNetworkName">
{{dataHolder.controller.homeName}}
            <button type="button" class="btn btn-default"
                    ng-click="goNetworkName = !goNetworkName"
                    ng-disabled="rowSpinner['spinNetworkName']">

                <bb-row-spinner
                        spinner="rowSpinner['spinNetworkName']"
                        icon="'fa-pencil'">
                </bb-row-spinner>
            </button>
        </div>
        <!-- Edit mode -->
        <form name="form_network_name" id="form_network_name" class="form"
              ng-show="goNetworkName"
              ng-submit="storeNetworkName(form_network_name,dataHolder.controller.homeName,'spinNetworkName');goNetworkName = !goNetworkName" novalidate>

                <div class="input-group">
                    <!-- Texfield -->
                    <input name="network_name" type="text" class="form-control"
                           placeholder="{{_t('network_name')}}"
                           ng-model="dataHolder.controller.homeName"
                           value="{{dataHolder.controller.homeName}}" />
                    <!-- Button -->
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary" title="{{_t('btn_save')}}">
                            <i class="fa fa-circle-o"></i> <span class="btn-name">{{_t('btn_save')}}</span>
                        </button>
                    </div>

                </div>
        </form>
    </div>



</div>