<!-- Notes -->
<div class="panel panel-default" ng-controller="DataHolderController">
    <!-- Heading -->
    <div class="panel-heading">
        <i class="fa fa-list text-info"></i> {{_t('txt_notes')}}
    </div>

    <div class="panel-body">
        <!-- Text mode -->
        <div ng-hide="goNotes" ng-click="goNotes = true">
            <span class="newlines" ng-if="dataHolder.controller.homeNotes">
                {{dataHolder.controller.homeNotes|stripTags}}
                </span>&nbsp;

           <button type="button" class="btn btn-default"
                    ng-click="goNotes = true"
                    ng-disabled="rowSpinner['spinNotes']">

                <bb-row-spinner
                        spinner="rowSpinner['spinNotes']"
                        icon="'fa-pencil-alt'">
                </bb-row-spinner>
            </button>
        </div>

        <!-- Edit mode -->
        <form name="form_notes" id="form_notes" class="form"
              ng-show="goNotes"
              ng-submit="storeNotes(form_notes,dataHolder.controller.homeNotes,'spinNotes');goNotes = !goNotes" novalidate>
            <!-- Text area -->
            <textarea id="notes" class="form-control" rows="10"
                      ng-model="dataHolder.controller.homeNotes">{{dataHolder.controller.homeNotes}}
            </textarea>
            <!-- Button -->
            <div class="text-right">
                <button class="btn btn-primary" title="{{_t('btn_save')}}" ng-disabled="rowSpinner['spinNotes']">
                    <bb-row-spinner
                            spinner="rowSpinner['spinNotes']"
                            label=" _t('btn_save')"
                            icon="'fa-circle'">

                    </bb-row-spinner>
                </button>

            </div>
        </form>
    </div>


</div>