<!-- use cit -->
<div class="panel panel-default" ng-controller="DataHolderController">
    <!-- Heading -->
    <div class="panel-heading">
        <i class="fa fa-info-circle"></i> {{_t('use_cit')}}

    </div>
    <div class="panel-body">
        <!-- Text mode -->
        <a class="btn btn-default" href="/cit/storage/data/docs/Z-Wave Alliance Certified Installer Toolkit User Guide (v0.4).pdf" target="_blank">
            <i class="fa fa-book "></i> {{_t('user_guide')}}
        </a>
    </div>
</div>