<!-- Assoc view -->
<div id="AssociationTable" ng-controller="AssocController">
    <div class="page-header"><h1>{{ _t('associations_list')}}</h1></div>
    <button 
        type="button" 
        class="btn btn-primary"
        id="btn_update_from_device"
        ng-click="updateAssoc()" 
        >{{_t('update_from_device')}}</button> <btn-spinner></btn-spinner> 
    <br/><br/>
    <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Assoc design -->
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="key in keys">
                    <td class="association-text"> 
                        <h4>{{data[key].label}} ({{ _t('assoc_max')}} {{data[key].max}} {{ _t('assoc_nodes')}})</h4>
                        <p>{{ _t('assoc_info_from')}}: <span class="{{data[key].update| getUpdated}}">{{data[key].update.updateTime| getTime}}</span></p>
                    </td>
                    <td class="association-info"> 
                        <span ng-repeat="a in data[key].nodeIds track by $index">
                            <a class="btn btn-info {{data[key].persistent[$index]}} btn-assoc" title="{{data[key].tooltips[$index]}}">(#{{a}}<span ng_if="data[key].instanceIds[$index] != null">.{{data[key].instanceIds[$index]}}</span>) {{data[key].tooltips[$index]}}</a> 
                            <!--<br ng_if="$index % 5 == 4"/> -->
                        </span>
                    </td>
                    <td  class="association-action" style="text-align: right; width: 20%;"> 
                        <button type="button" class="btn btn-primary" 
                                data-toggle="modal" data-ng-click="openAdd(data[key])" data-target="#modal_add" ng-disabled="data[key].max <= data[key].nodeIds.length"><span style="display: inline-block;width:12px;">+</span></button><button type="button" class="btn btn-primary" data-ng-click="openRemove(data[key])" ng-disabled="data[key].nodeIds.length == 0"><span style="display: inline-block;width:12px;">-</span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
    
    <!-- Modal remove -->
    <div class="modal fade" id="modal_remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ _t('assoc_confirm_remove')}}</h4>
                </div>
                <div class="modal-body" style="white-space: normal;">
                    <div class="form-inline">
                        {{ _t('assoc_remove_from')}} {{removeData.nodeId| deviceName:removeData.node}} {{ _t('to_locate')}} <br/>
                        <div class="form-group">
                            <select ng-model="assocToNode" class="form-control" ng-options="k as v for (k,v) in removeNodes">
                                <option value="">&lt; {{ _t('assoc_select_to_node')}} &gt;</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="removeInstances[assocToNode] != undefined">
                            <select ng-model="assocToInstance" class="form-control" ng-options="k as v for (k,v) in removeInstances[assocToNode]">
                                <option value="">&lt; {{ _t('assoc_select_to_instance')}} &gt;</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _t('dialog_abort')}}</button>
                    <button class="btn btn-primary update" data-ng-click="remove()" ng-disabled="assocToNode == null || ((removeInstances[assocToNode] != undefined) && assocToInstance == null)">{{ _t('dialog_remove')}}</button>
                </div>
            </div>
        </div>
    </div><!-- /.Modal -->
    <!-- Modal add -->
    <div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ _t('assoc_add_title')}}</h4>
                </div>
                <div class="modal-body" style="white-space: normal;">
                    <div class="form-inline">
                        {{ _t('fro')}} {{addData.nodeId| deviceName:addData.node}} {{ _t('to_locate')}} <br/>
                        <div class="form-group">
                            <select ng-model="assocToNode" class="form-control" ng-options="k as v for (k,v) in addNodes">
                                <option value="">&lt; {{ _t('assoc_select_to_node')}} &gt;</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="addInstances[assocToNode] != undefined">
                            <select ng-model="assocToInstance" class="form-control" ng-options="k as v for (k,v) in addInstances[assocToNode]">
                                <option value="">&lt; {{ _t('assoc_select_to_instance')}} &gt;</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _t('dialog_abort')}}</button>
                    <button class="btn btn-primary update assocAdd" data-ng-click="add()" ng-disabled="assocToNode == null || ((addInstances[assocToNode] != undefined) && assocToInstance == null)">{{ _t('dialog_add')}}</button>
                </div>
            </div>
        </div>
    </div><!-- /.Modal -->

    <button 
        type="button" 
        class="btn btn-primary"
        id="btn_apply_config"
        ng-click="applyConfig()"
        ng-disabled="applyQueue.length == 0" 
        >{{_t('apply_config')}}</button> 
</div>

