<!-- Assoc view -->
<div ng-controller="AssocController">
    <div class="page-header"><h1>Associations</h1></div>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="key in keys">
                <td>{{data[key].label}}</td>
                <td><button class="btn btn-primary update" 
                            ng-if="data[key].remaining > 0"
                            data-ng-click="add()">+</button> <span ng-repeat="a in data[key].association.nodes.value"><span>{{nodes[a].label}} <span ng_if="data[key].association.nodesInstances.value.length > 0">(Instance {{data[key].association.nodesInstances.value[$index]}})</span> <button class="btn btn-primary update" 
                            data-ng-click="remove(key, $index)">-</button> </span></span></td>
                <td>{{data[key].remaining}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
