<!-- Assoc view -->
<div ng-controller="AssocController">
    <div class="page-header"><h1>Associations</h1></div>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Remaining</th>
                <th class="rtHeader">{{ _t('rt_header_update_time')}} <btn-spinner></btn-spinner></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="key in keys">
                <td>{{data[key].label}}</td>
                <td><button class="btn btn-primary update" 
                            data-toggle="modal" data-ng-click="openAdd(data[key])" data-target="#modal_add" ng-disabled="data[key].remaining == 0">+</button> 
                    <span ng-repeat="a in data[key].association.nodes.value track by $index"><span>{{a|deviceName}} <span ng_if="data[key].association.nodesInstances.value.length > 0">(Instance {{data[key].association.nodesInstances.value[$index]}})</span> <button class="btn btn-primary update" 
                            data-ng-click="openRemove(data[key], $index)">-</button> </span></span></td>
                <td>{{data[key].remaining}}</td>
                <td><span id="update{{d}}" class="{{data[key].association.nodes| getUpdated}}">{{data[key].association.nodes.updateTime| getTime}}</span></td>
            </tr>
        </tbody>
    </table>
    </div>
     <!-- Modal log -->
    <div class="modal fade" id="modal_remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Association Removal</h4>
                </div>
                <div class="modal-body">
                    Remove association from {{removeData.label}} to {{removeData.association.nodes.value[removeIndex] | deviceName}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary update" data-ng-click="remove()">Remove</button>
                </div>
            </div>
        </div>
    </div><!-- /.Modal -->
     <!-- Modal log -->
    <div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add New Association</h4>
                </div>
                <div class="modal-body">
                    From {{addData.label}} to 
                    <select ng-model="assocTo" ng-options="k as v for (k,v) in addInstances">
                        <option value="">&lt; Select a Device-Instance &gt;</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary update" data-ng-click="add()" ng-disabled="assocTo == null">Add</button>
                </div>
            </div>
        </div>
    </div><!-- /.Modal -->
</div>
