<!-- Commands view -->
<div class="table-responsive">
    <div class="commands-data-control" ng-controller="ConfigStoreController" ng-show="fwupdateCont">
        <form name="form_firmware" id="form_firmware" class="form form-inline" ng-submit="updateFirmware(deviceId)" novalidate>
            <label>{{_t('nav_firmware_update')}}:</label>
            <input id="fw_url" type="text" value="" class="form-control" ng-model="formFirmware.fw_url" placeholder="URL" title="please use format http:// ...... " data-toggle="tooltip" data-position="top" tooltip />
            <input id="fw_target" type="text" value="" class="form-control" ng-model="formFirmware.fw_target" placeholder="Target" title="For Z-Wave Target is 0" data-toggle="tooltip" data-position="top" tooltip />
            <button type="submit" class="btn btn-primary"  id="btn_save_note">{{ _t('update')}}</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{_t('th_instance')}}</th>
                <th>{{_t('th_command_class')}}</th>
                <th>{{_t('th_command_param')}}</th>

        </thead>
        <tbody>
            <tr ng-repeat="(k,v) in commands | orderBy:predicate:reverse" id="{{ v.nodeId}}">
                <td><a ng-show="$index == 0" href="" ng-controller="CommandModalController" ng-click="showModal('#modal_expert_commands', v.cmdDataIn)">{{v.instanceId}}</a></td>
                <td><a class="btn btn-info" href="" ng-controller="CommandModalController" ng-click="showModal('#modal_expert_commands', v.cmdData)">{{v.commandClass}}</a></td>
                <td>
                    <div class="commands-data" ng-repeat="c in v.command| orderBy:predicate:reverse" ng-init="formName = 'form_' + v.commandClass + '_' + c.data.method + '_' + $index">
                        <form 
                            name="{{formName}}" 
                            id="{{formName}}"
                            class="form form_commands" 
                            role="form"
                            ng-controller="ConfigStoreController"
                            ng-submit="submitExpertCommndsForm(formName, v.cmd + '.' + c.data.method)" 
                            novalidate>
                            <div class="commands-data-control">
                                <div class="form-inline" ng-repeat="(pk,p) in c.data.params">
                                    <expert-command-input 
                                        collection='p' 
                                        values='c.data.values[pk]'
                                        devices='devices'
                                        get-node-devices='getNodeDevices'
                                        ></expert-command-input>
                                    <!-- {{pk}} {{p}} 
                                    {{c.data.values[pk]}}-->

                                </div>
                                <button
                                    type="submit"
                                    class="btn btn-primary" 
                                    id="btn_update_{{ v.rowId}}"
                                    >{{c.data.method}}</button>
                            </div>


                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal debugging -->
<div class="modal fade" id="modal_expert_commands" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_t('commandClass')}}</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_t('btn_cancel')}}</button>
            </div>
        </div>
    </div>
</div><!-- /.Modal -->
