<!-- Configuration view -->
<div ng-controller="ConfigurationController">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>{{_t('nav_configuration')}} - {{deviceName}}</h1>
            </div>
            <div class="col-md-6">
                <select name="devices" class="form-control" style="width: 260px;" ng-model="detailId" ng-change="goToDetail(detailId)" >
                    <option value="">---</option>
                    <option ng-repeat="v in devices| orderBy:predicate:reverse" value="{{v.id}}" selected="{{v.selected}}">{{v.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="" data-target="#device_interview" data-toggle="tab">{{_t('nav_device_interview')}}</a></li>
         <li><a href="" data-target="#device_configuration" data-toggle="tab">{{_t('nav_device_configuration')}}</a></li>
        <li><a href="" data-target="#device_assoc" data-toggle="tab">{{_t('nav_device_assoc')}}</a></li>
       
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- ConfigInterviewController -->
        <div class="tab-pane active" id="device_interview" ng-controller="ConfigInterviewController">
            <div class="configuration-block">
                <h4><a href="" ng-click="goXml = !goXml"><i class="fa fa-caret-down"></i> {{_t('selectxml_list')}}</a></h4>
                <div ng-show="goXml">
                    <button class="btn btn-primary">{{_t('config_ui_select_xml')}}</button> <button class="btn btn-primary">{{_t('config_ui_request_node_info')}}</button>
                </div>
            </div>
            <div class="configuration-block">
               
                
                <h4><a href="" ng-click="goDescription = !goDescription"><i class="fa fa-caret-down"></i> {{_t('device_description_title')}}</a></h4>
                <div ng-hide="goDescription">
                    
                    <div class="row">
                        <div class="col-md-6">
                             <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="(k,v) in configData.contDescription ">
                                    <th>{{_t(k)}}</th>
                                    <td>{{v}}</td>
                                 </tr>
                                 
                            </tbody>
                        </table>
                    </div>
                        </div>
                        <div class="col-md-6">
                            Device image
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- ConfigConfigurationController -->
        <div class="tab-pane" id="device_configuration" ng-controller="ConfigConfigurationController">
            Configuration
        </div>
        <!-- ConfigAssocController -->
        <div class="tab-pane" id="device_assoc" ng-controller="ConfigAssocController">
            Assoc
        </div>
        

    </div>

</div><!-- /ng-controler -->