<!-- config_cont -->
<div class="configuration-block" id="config_cont" ng-if="configCont">
    <h4>{{_t('configurations_list')}}</h4>
    <div>
    </div>
</div>
<!-- switchall_cont -->
<div class="configuration-block" id="switchall_cont">
    <h4>{{_t('switchall_list')}}</h4>
    <div>
    </div>
</div>
<!-- switchall_cont -->
<div class="configuration-block" id="protection_cont">
    <h4>{{_t('protection_list')}}</h4>
    <div>
    </div>
</div>
<!-- wakeup_cont -->
<div class="configuration-block" id="wakeup_cont">
    <h4>{{_t('wakeup_list')}}</h4>
    <div>
    </div>
</div>
<!-- fwupdate_cont -->
<div class="configuration-block" id="fwupdate_cont">
    <h4>{{_t('fwupdate_title')}}</h4>
    <div>
    </div>
</div>
<!-- impex_cont -->
<div class="configuration-block" id="impex_cont">
    <h4>{{_t('import_export_save_config_title')}}</h4>
    <div>
    </div>
</div>
<!-- aapply_cont -->
<div class="configuration-block" id="apply_cont">
    <h4>{{_t('apply_config_tooltip')}}</h4>
    <div>
    </div>
</div>
<!-- advanced_cont -->
<div class="configuration-block" id="advanced_cont">
    <h4>{{_t('advanced_xml_title')}}</h4>
    <div>
    </div>
</div>