
<!-- config_cont -->
<div class="cfg-block" id="config_cont" ng-if="configCont">
    <h4>{{_t('configurations_list')}}</h4>
    <div class="cfg-block-content" ng-init="formName = 'form_config'">
        <form 
            name="{{formName}}" 
            id="{{formName}}"
            class="form" 
            role="form"
            ng-submit="submitApplyConfigCfg(formName, 'devices[' + deviceId + '].instances[0].commandClasses[0x70].Set',configCont,hasBattery)" 
            novalidate>
            <a
                 class="btn btn-primary spin-true"
                ng-click="updateFromDeviceCfg('devices[' + deviceId + '].instances[0].commandClasses[0x70].Get',configCont)" 
                >{{_t('btn_update_from_device')}} <i class="fa fa-spinner fa-spin"></i></a>
            <button 
                type="submit" 
                class="btn btn-info spin-true" 
                >{{_t('apply_config')}} <i class="fa fa-spinner fa-spin"></i></button> 
            <div class="cfg-control-content" id="cfg_control_{{v.confNum}}" ng-repeat="v in configCont">
                <div class="form-inline">
                    <expert-command-input 
                        collection='v'
                        div_id='$index'
                        default_value='v.defaultValue'
                        ></expert-command-input>
                </div>
                <p class="cfg-info">
                    <span class="is-updated-{{v.isUpdated}}">{{_t('updated')}}: {{v.updateTime}}</span>
                    <span ng-if="v.defaultValue > -1"> | {{_t('default_value_is')}}: {{v.defaultValue}}</span>
                    <span ng-if="v.defaultValue === ''"> | {{_t('param_default_value_undefined')}}</span>
                    <span ng-if="v.description">  | 
                        <a href="" ng-click="goInfo = !goInfo"><i class="fa fa-info-circle fa-lg"></i></a> 
                        <em ng-show="goInfo">{{v.description}}</em>
                    </span>
                </p>

            </div>
        </form>
    </div>
</div>
<!-- wakeup_cont -->
<div class="cfg-block" id="wakeup_cont" ng-if="wakeupCont">
    <h4>{{_t('wakeup_list')}}</h4>
    <div class="cfg-block-content" ng-init="formName = 'form_wakeup'">
        <form 
            name="{{formName}}" 
            id="{{formName}}"
            class="form" 
            role="form"
            ng-submit="submitApplyConfig(formName, wakeupCont.cmd + '.Set',hasBattery)" 
            novalidate>
            <button
                 class="btn btn-primary spin-true"
                ng-click="updateFromDevice(wakeupCont.cmd + '.Get()')"
                >{{_t('btn_update_from_device')}} <i class="fa fa-spinner fa-spin"></i></button>
            <button 
                type="submit" 
                class="btn btn-info spin-true" 
                >{{_t('apply_config')}} <i class="fa fa-spinner fa-spin"></i></button> 
            <div class="clearfix"></div>
            <div class="cfg-control-content">
                <div ng-repeat="v in wakeupCont.params">
                    <div class="form-inline" >
                        <expert-command-input 
                            collection='v'
                            values='wakeupCont.values[0]'
                            devices='devices'
                            get-node-devices='getNodeDevices'
                            ></expert-command-input>
                    </div>

                </div>
                <div class="clearfix"></div>
                <p class="cfg-info">
                    <span class="is-updated-{{wakeupCont.isUpdated}}">{{_t('updated')}}: {{wakeupCont.updateTime}} </span>
                </p>
            </div>
        </form>
    </div>
</div>
<!-- switchall_cont -->
<div class="cfg-block" id="switchall_cont" ng-if="switchAllCont">
    <h4>{{_t('switchall_list')}}</h4>
    <div class="cfg-block-content" ng-init="formName = 'form_switch_all'">
        <form 
            name="{{formName}}" 
            id="{{formName}}"
            class="form" 
            role="form"
            ng-submit="submitApplyConfig(formName, switchAllCont.cmd + '.Set',hasBattery)" 
            novalidate>
            <a
                class="btn btn-primary spin-true"
                ng-click="updateFromDevice(switchAllCont.cmd + '.Get()')"
                >{{_t('btn_update_from_device')}} <i class="fa fa-spinner fa-spin"></i></a>
            <button 
                type="submit" 
                class="btn btn-info spin-true" 
                >{{_t('apply_config')}} <i class="fa fa-spinner fa-spin"></i></button> 
            <div class="cfg-control-content" ng-repeat="v in switchAllCont.params">
                <div class="form-inline" >
                    <expert-command-input 
                        collection='v'
                        values='switchAllCont.values[0]'
                        default_value='switchAllCont.defaultValue'
                        is_dropdown='1'
                        ></expert-command-input>
                </div>
                <p class="cfg-info">
                    <span class="is-updated-{{switchAllCont.isUpdated}}">{{_t('updated')}}: {{switchAllCont.updateTime}} </span>
                </p>
            </div>
        </form>
    </div>
</div>
<!-- switchall_cont -->
<div class="cfg-block" id="protection_cont" ng-if="protectionCont">
    <h4>{{_t('protection_list')}}</h4>
    <div class="cfg-block-content" ng-init="formName = 'form_protection_list'">
        <form 
            name="{{formName}}" 
            id="{{formName}}"
            class="form" 
            role="form"
            ng-submit="submitApplyConfig(formName, protectionCont.cmd + '.Set',hasBattery)" 
            novalidate>
            <a
                class="btn btn-primary spin-true"
                ng-click="updateFromDevice(protectionCont.cmd + '.Get()')"
                >{{_t('btn_update_from_device')}} <i class="fa fa-spinner fa-spin"></i></a>
            <button 
                type="submit" 
                class="btn btn-info spin-true"
                >{{_t('apply_config')}} <i class="fa fa-spinner fa-spin"></i></button> 
            <div class="cfg-control-content" ng-repeat="v in protectionCont.params">
                <div class="form-inline" >
                    <expert-command-input 
                        collection='v'
                        values='protectionCont.values[0]'
                        default_value='protectionCont.defaultValue'
                        is_dropdown='1'
                        ></expert-command-input>
                </div>
                <p class="cfg-info">
                    <span class="is-updated-{{protectionCont.isUpdated}}">{{_t('updated')}}: {{protectionCont.updateTime}} </span>
                </p>
            </div>
        </form>      

    </div>
</div>