<!-- FirmwareUpdate view -->

<!--
<div class="commands-data-control" ng-controller="ConfigStoreController" ng-show="fwupdateCont">
        <form name="form_firmware" id="form_firmware" class="form form-inline" ng-submit="updateFirmware(deviceId)" novalidate>
            <label>{{_t('nav_firmware_update')}}:</label>
            <input id="fw_url" type="text" value="" class="form-control" ng-model="formFirmware.fw_url" placeholder="URL" title="please use format http:// ...... " data-toggle="tooltip" data-position="top" tooltip />
            <input id="fw_target" type="text" value="" class="form-control" ng-model="formFirmware.fw_target" placeholder="Target" title="For Z-Wave Target is 0" data-toggle="tooltip" data-position="top" tooltip />
            <button type="submit" class="btn btn-primary"  id="btn_save_note">{{ _t('update')}}</button>
        </form>
    </div>
-->

<div class="firmware-update-data-control" ng-controller="ConfigStoreController" ng-show="fwupdateCont">
    <form name="form_firmware" id="form_firmware" class="form form-inline" ng-submit="updateFirmware(deviceId)" novalidate>
        <label>{{_t('nav_firmware_update')}}:</label>
        <input id="url" type="text" value="" name="url" class="form-control" ng-model="formFirmware.url" placeholder="URL" title="please use format http:// ...... " data-toggle="tooltip" data-position="top" tooltip />
        <!--<input id="file" type="file" name="file" class="form-control" ng-model="formFirmware.file" placeholder=".bin file" title="please select binary file" data-toggle="tooltip" data-position="top" tooltip />-->
        <input type="file" class="form-control" file-model="myFile" />
        <input id="targetId" type="text" value="" name="targetId" class="form-control" ng-model="formFirmware.targetId" placeholder="Target" title="For Z-Wave Target is 0" data-toggle="tooltip" data-position="top" tooltip />
        <button type="submit" class="btn btn-primary" id="btn_save_note">{{ _t('update')}}</button>
    </form>
</div>
