<!-- Firmware view -->
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="" ng-click="predicate = 'id';
                    reverse = !reverse">#</a></th>
                <th><a href="" ng-click="predicate = 'name';
                    reverse = !reverse">Name</a></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="v in firmware| orderBy:predicate:reverse" class="current-{{ v.current}}">
                <td>{{ v.id}}</td>
                <td>{{ v.name}}</td>

                <td>
                    <form name="form_firmware_{{v.id}}" id="form_notes" ng-controller="ConfigStoreController" class="form form-inline" ng-submit="updateFirmware('form_firmware_' + v.id)" novalidate>
                        <input id="fw_url" type="text" value="" class="form-control fw-url" placeholder="URL" title="please use format http:// ...... " data-toggle="tooltip" data-position="top" tooltip />
                        <input id="fw_target" type="text" value="" class="form-control fw-target" placeholder="Target" title="For Z-Wave Target is 0" data-toggle="tooltip" data-position="top" tooltip />
                        <button type="submit" class="btn btn-primary"  id="btn_save_note">{{ _t('update')}}</button>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>
</div>