<!-- rename_cont -->
<div class="cfg-block" id="rename_cont">
    <h4><a href="" ng-click="goRename = !goRename">{{_t('device_rename_tooltip')}} <i class="fa fa-pencil"></i> </a></h4>
    <div ng-show="goRename">
        <form name="form_rename" id="form_rename" ng-model="form_rename" class="form form-inline" ng-controller="ConfigStoreController" ng-submit="renameDevice('form_rename')" novalidate>
            <input name="device_name" id="device_name" type="text" class="form-control" value="{{deviceName}}" />
            <button
                type="submit"
                class="btn btn-primary" 
                id="btn_update"
                >{{_t('btn_save_name')}}</button>
        </form>
    </div>
</div>

<div class="cfg-block">
    <!-- <h4><a href="" ng-click="goDescription = !goDescription"><i class="fa fa-caret-down"></i> {{_t('device_description_title')}}</a></h4>  -->
    <div ng-hide="goDescription">
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="v in descriptionCont" ng-show="v.val || v.val != ''">
                                <th style="width: 30%;">{{_t(v.key)}}</th>
                                <td  id="{{v.key}}">
                                    <div ng-switch on="v.key">
                                        <div ng-switch-when="command_class" ng-controller="CommandModalController">
                                            <span ng-repeat="cc in interviewCommands"><a href="" ng-click="showModal('#modal_command', cc.cmdData)">{{cc.ccName}}</a>, </span>

                                        </div>
                                        <p ng-switch-default ng-bind-html="v.val | toTrusted"></p>
                                    </div>

                                    <!-- <span ng-show="v.key == 'device_node_name_'">
                                       <a href="" ng-click="goRename_ = !goRename_">{{_t('device_rename_tooltip')}} <i class="fa fa-pencil"></i> </a>
                                   </span>
                                   <div ng-show="goRename_">
                                       <form name="form_rename_{{$index}}" id="form_rename" ng-show="goRename_" ng-model="form_rename" class="form form-inline" ng-controller="ConfigStoreController" ng-submit="renameDevice($index)" novalidate>
                                           <input name="device_name_{{$index}}" id="device_name_{{$index}}" type="text" class="form-control" value="" />
                                           <button
                                               type="submit"
                                               class="btn btn-primary" 
                                               id="btn_update"
                                               >{{_t('btn_save_name')}}</button>
                                       </form>
                                   </div>-->
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{deviceImage}}" class="config-device-img" alt="Image"/>
            </div>
        </div>

    </div>
</div>

<div class="cfg-block">
    <!--  <h4><a href="" ng-click="goXml = !goXml"><i class="fa fa-caret-down"></i> {{_t('selectxml_list')}}</a></h4>  -->
    <div ng-hide="goXml" ng-controller="ConfigStoreController">
        <button
            data-ng-click="store('#btn_request_nif')" 
            data-store-url="devices[{{deviceId}}].RequestNodeInformation()" 
            class="btn btn-primary btn-spinner" 
            id="btn_request_nif"
            >{{_t('config_ui_request_node_info')}}</button>
        <button
            data-ng-click="store('#btn_interview_force')" 
            data-store-url="devices[{{deviceId}}].InterviewForce()"
            data-redirect="{{deviceId}}" 
            class="btn btn-primary btn-spinner" 
            id="btn_interview_force"
            >{{_t('config_ui_force_interview')}}</button>
        <button
            data-ng-click="showModalInterview('#modal_interview', null)"
            class="btn btn-primary btn-spinner" 
            id="btn_request_nif"
            >{{_t('config_ui_show_interview_results')}}</button>
        <button
            data-ng-click="showModalDeviceSelect('#modal_device_select', deviceId)"
            class="btn btn-primary" 
            id="btn_show_description"
            >{{_t('config_ui_select_xml')}}</button>
        <a
            href="{{cfg.server_url + cfg.zddx_create_url + deviceId}}"
            class="btn btn-primary" 
            id="btn_create_zddx"
            target="_blank"
            >{{_t('btn_zddx_create')}}</a>
    </div>
</div>

<!-- Modal interview -->
<div class="modal fade" id="modal_interview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_t('interview_results_dialog_title')}}</h4>
            </div>
            <div class="modal-body">
                <p>{{_t('interview_results_title')}} <a href="" ng-controller="CommandModalController" ng-click="showModal('#modal_command', interviewCommandsDevice)">{{deviceName}}</a></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{_t('th_instance')}}</th>
                <th>{{_t('th_command_class')}}</th>
                <th>{{_t('th_result')}}</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in interviewCommands" id="{{ v.ccId}}">
                                <td><a ng-show="$index == 0" href="" ng-controller="CommandModalController" ng-click="showModal('#modal_command', v.cmdDataIn)">{{v.iId}}</a></td>
                                <td><a href="" ng-controller="CommandModalController" ng-click="showModal('#modal_command', v.cmdData)">{{v.ccName}}</a></td>
                                <td>
                                    <p ng-if="v.interviewDone">Done</p>
                                    <button
                                        ng-controller="ConfigStoreController"
                                        ng-if="!v.interviewDone"
                                        data-store-url="devices[{{deviceId}}].instances[{{v.iId}}].commandClasses[{{v.ccId}}].Interview()"
                                        data-ng-click="store('#btn_force_interview_' + v.ccId)" 
                                        class="btn btn-primary" 
                                        id="btn_force_interview_{{v.ccId}}"
                                        >{{_t('config_ui_force_interview')}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_t('btn_cancel')}}</button>
            </div>
        </div>
    </div>
</div><!-- /.Modal -->


<!-- Modal command -->
<div class="modal fade" id="modal_command" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_t('th_command_class')}}</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_t('btn_cancel')}}</button>
            </div>
        </div>
    </div>
</div><!-- /.Modal -->

<!-- Modal description -->
<div class="modal fade" id="modal_device_select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_t('config_ui_select_xml')}}</h4>
            </div>
            <div class="modal-body">
                <p ng-bind-html="_t('select_zddx_help') | toTrusted"></p>
               <div>
                    <select 
                        name="select_zddx_help" 
                        id="select_zddx_help" 
                        class="form-control" 
                        ng-change="changeDeviceSelect('#select_zddx_help','#device_select_image')" 
                        ng-model="modelSelectZddx">
                        <option value="">---</option>
                        <option 
                            ng-init="selectCfg = {
                                'name':((v.brandName == '' || v.productName == '')?('Unnamed ZDDX: ' + v.fileName):(v.brandName + ' ' + v.productName)),
                                'selected':(deviceZddxFile == v.fileName ? ' selected' : '')
                            }"
                            ng-repeat="v in deviceZddx"
                            value="{{v.fileName}}" 
                            data-image="{{v.deviceImage}}"
                            {{selectCfg.selected}}>{{selectCfg.name}}</option>
                    </select>
                    <div id="device_select_image_container">
                    <div id="device_select_image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="runCmdDeviceSelect(deviceId,modelSelectZddx)">{{_t('btn_select')}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_t('btn_cancel')}}</button>
            </div>
        </div>
    </div>
</div><!-- /.Modal -->
