<!-- interviewModal -->
<div id="citUnregisterModal" class="appmodal" ng-show="modalArr.citUnregisterModal">
    <div class="appmodal-in">
        <div class="appmodal-header">
                <span class="appmodal-close" ng-click="cancel($event)"><i class="fa fa-times"></i></span>
            <h3><i class="fa fa-exclamation-circle"></i> {{getCustomCfgVal('title')}}</h3>
        </div>
        <div class="appmodal-body">
            <div class="alert alert-info">{{_t('cit_auth_prompt')}}</div>
            <fieldset>
                <!-- login -->
                <div class="form-group">
                    <input name="user" id="user" ng-model="unregisterCit.input.user" type="text" class="form-control ng-dirty ng-valid ng-valid-required" placeholder="{{_t('lb_login')}}" ng-blur="userBlur = true" ng-required="true" required="required">
                </div>
                <!-- password -->
                <div class="form-group">
                    <input name="pass" id="pass" ng-model="unregisterCit.input.pass" type="password" class="form-control ng-dirty ng-valid ng-valid-required" placeholder="{{_t('lb_password')}}" ng-blur="passBlur = true" ng-required="true" required="required">
                </div>
            </fieldset>
        </div>
        <div class="appmodal-footer">
            <button type="button" class="btn btn-default" ng-click="confirmUnregistration($event)">
                <i class="fa fa-check"></i> <span class="btn-name">{{_t('ok')}}</span>
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel($event)">
                <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
            </button>
        </div>
    </div>
</div><!-- /#modal citidentifierModal -->