<form name="form_settings_wifi" id="form_settings_wifi" class="form form-page" ng-submit="storeSettings(wifi.input, $event)"  ng-controller="SettingsWifiController" novalidate>
    <legend>{{_t('wifi')}}</legend>
  <fieldset>
      <!-- ssid name -->
      <div class="form-group form-inline">
          <label>{{_t('ssid_name')}}: </label>
          <input name="ssid_name" id="ssid_name" type="text"
                 class="form-control"
                 placeholder="{{_t('ssid_name')}}"
                 autocomplete="off"
                 ng-model="wifi.input.ssid"/>
      </div>
      <!-- wifi password -->
      <div class="form-group form-inline">
          <label>{{_t('wifi_password')}}: </label>
          <input name="wifi_password" id="wifi_password" type="password"
                 class="form-control"
                 autocomplete="off"
                 readonly
                 onfocus="this.removeAttribute('readonly');"
                 placeholder="{{_t('wifi_password')}}"
                 ng-model="wifi.input.password"
                 ng-blur="passwordBlur = true"
                 ng-minlength="8"
                 ng-maxlength="63"
                 ng-change="wifi.pwdChanged = true"/>
          <bb-validator input-name='form_settings_wifi.wifi_password.$error.minlength' trans='_t("wifi_password_valid")' has-blur='passwordBlur'></bb-validator>
          <bb-validator input-name='form_settings_wifi.wifi_password.$error.maxlength' trans='_t("wifi_password_valid")' has-blur='passwordBlur'></bb-validator>
      </div>
  </fieldset>
  <fieldset class="submit-entry">
    <!-- Save -->
    <button type="submit" class="btn btn-submit" title="{{_t('btn_save')}}">
      <i class="fa fa-check"></i>
      <span class="btn-name">{{_t('btn_save')}}</span>
    </button>
  </fieldset>
</form>