<!-- Settings installer -->
<section class="page-topbar">
  <h1>{{_t('settings')}}</h1>
</section>
<!-- Settings languages  -->
<div ng-include="'app/views/settings/settings_lang.html'"></div>
<!-- Settings remote support  -->
<div ng-include="'app/views/settings/settings_remote_support.html'"></div>
<!-- Settings app -->
<div ng-include="'app/views/settings/settings_app.html'"></div>
<!-- Settings wifi  -->
<!-- <div ng-include="'app/views/settings/settings_wifi.html'"></div> -->
<!-- Settings network  -->
<div ng-include="'app/views/settings/settings_network.html'"></div>
<!-- Settings firmware  -->
<div ng-include="'app/views/settings/settings_firmware.html'"></div>
<!-- Settings frequency  -->
<div ng-include="'app/views/settings/settings_frequency.html'" ng-controller="ControlController"></div>
<!-- Settings unregister cit  -->
<div ng-include="'app/views/settings/settings_unregister.html'"></div>
<!-- Settings bug report  -->
<div ng-include="'app/views/settings/settings_report.html'"></div>
