<!-- Title -->
<h2 class="accordion-toggle chevron">
  <button type="button" aria-expanded="false" bb-accordion>
    <span>
      <i class="fa fa-globe fa-fw"></i>&nbsp; {{_t('language')}}</span>
  </button>
</h2>
<!-- Content -->
<div class="accordion settings-lang" ng-controller="SettingsLangController" hidden>
  <a href="" title="{{v}}" ng-repeat="v in lang_list" ng-click="setLang(v)" ng-class="v === lang ? 'active': ''">
    <img ng-src="app/images/flags/{{v}}.png" alt="{{ v }}" />
  </a>
</div>