<div ng-controller="RSSIReportController">
    <table class="table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th ng-repeat="head in ['nodeId', 'name', 'RSSI']" title="{{_t(head)}}">
                <sort-by callback="orderBy(head)" field="head" label="'# ' + _t(head)" obj="report"></sort-by>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="v in report | orderBy:predicate:reverse track by $index">
            <td ng-style="{'width': '10ch'}" title="{{v.nodeId}}">{{v.nodeId}}</td>
            <td ng-style="{'width': '20ch'}" title="{{v.name}}">{{v.name}}</td>
            <td title="{{_t('RSSI')}}" ng-style="{'vertical-align': 'middle'}">
                <div class="rssi-bar">
                <div class="progress-bar-success rssi-value" ng-if="v.RSSI" ng-style="{'width': v.width + '%'}">
                    <span>{{v.RSSI}}</span></div>
                <div class="progress-bar-no-data" ng-if="v.RSSI === 0" ng-style="{'width': v.width + '%'}">
                    <span>{{_t('noData')}}</span>
                </div>
                <div class="std-label" ng-if="v.std" ng-style="{'width': v.std + '%'}" data-std="&pm;{{v.std}}"
                title="{{_t('rssiStd')}}">
                    &#160;</div>
                <div class="background-rssi" ng-style="{'left': backgroundRssi.toFixed(0) + '%'}" title="{{_t('BackgroundNoiseLevel')}}"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
