<div>
    <p>Z-Wave.Me hardware and software has a built-in Z-Wave sniffer (Zniffer) included. But it has limitations: it can only listen for own network, hence requires inclusion in the network for diagnostics. Also, it can only listen for packets in the air.</p>
    <p>The new Z-Wave.Me 7th generation hardware introduces the support of a full feature Zniffer and Advance Radio Tool (A.R.T.) &mdash; the must have tool for installers and advanced users allowing them to:</p>
    <ul>
        <li>Inspect Z-Wave packets</li>
        <li>Decode and analyze Z-Wave commands</li>
        <li>Decrypt secure Z-Wave commands (Security S0 and S2)</li>
        <li>Generate Z-Wave commands</li>
        <li>Make on-site signal strength probes</li>
        <li>Gather network statistics</li>
        <li>Proble the network using multiple Zniffers</li>
        <li>All the above without doing the inclusion in the network</li>
    </ul>
    <p>Zniffer/A.R.T. can help in diagnostics of a network with any Z-Wave controller: Z-Way, Fibaro Home Center, Yubii, Vera, Smart Things, Zipato, HomeSeer and others.</p>
    <p>A.R.T. software requires RaZberry 7 or Z-Uno 2 as a hardware. To enable the new feature a new firmware (version <a href="/expert/#/uzb">7.26 or upper for RaZberry 7</a> and 3.0.9 for Z-Uno 2). An additional license are required for this feature. Current capabilities can be inspected on <a href="/expert/#/network/controller">the Controller Info page</a>.</p>
    <p>A.R.T. can decode secure packets (network key need to be learned from the primary controller by including into the network or by exporting keys), parse received Z-Wave command, construct and send Z-Wave commands.</p>
    <p>It is also possible to attach multiple Zniffers placed in different parts of the house to one A.R.T. tool (using LAN or Wi-Fi) to see the same packet visible from different locations. It is also possible to make probes from each Zniffer to measure signal strength at different locations.</p>
    <p>More information and prices are available on <a href="https://z-wave.me/products/zniffer/">the Z-Wave.Me site</a>.</p>
    <p>Check the <a href="https://z-wave.me/files/manual/zniffer/">Zniffer / A.R.T. manual</a>.</p>
</div>
