<!-- Help view -->
<div ng-controller="ZnifferController">
    <div class="page-header"><h1>{{ _t('nav_zniffer')}}</h1></div>
    <div class="page-control form-inline">
        <div class="row">
            <div class="col-md-6 text-left">
                
                <div class="form-group">
                    <div class="btn-group">
                        <button class="btn btn-default" title="Start new trace">
                            <i class="fa fa-play text-success"></i> 
                        </button>

                        <button class="btn btn-default" title="Pause trace">
                            <i class="fa fa-pause"></i>
                        </button>
                        <button class="btn btn-default" title="Stop trace">
                            <i class="fa fa-stop text-danger"></i>
                        </button>

                    </div>
                </div>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <div class="input-group">
                        <button class="btn btn-default" ng-click="expandNavi('znifferUzb', $event)">
                                Port: {{zniffer.uzb.all[zniffer.uzb.current]}} <i class="fa fa-caret-down"></i>
                            </button>
                        <!-- Dropdown -->
                        <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.znifferUzb">
                            <ul>
                                <li ng-repeat="(k,v) in zniffer.uzb.all"
                                    ng-class="zniffer.uzb.current == k ? 'active' : ''"
                                    ng-click="setZnifferUzb(k)">
                                    <a href="">{{v}} <span class="menu-arrow" ng-if="k == zniffer.uzb.current">
                                            <i class="fa fa-check"></i></span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                            <button class="btn btn-default" ng-click="expandNavi('znifferFrequency', $event)">
                                Frequency: {{cfg.frequency[zniffer.frequency]}} <i class="fa fa-caret-down"></i>
                            </button>
                        <!-- Dropdown -->
                        <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.znifferFrequency">
                            <ul>
                                <li ng-repeat="(k,v) in cfg.frequency"
                                    ng-class="zniffer.frequency == k ? 'active' : ''"
                                    ng-click="setZnifferFrequency(k)">
                                    <a href="">{{v}} <span class="menu-arrow" ng-if="k == zniffer.frequency">
                                            <i class="fa fa-check"></i></span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-default">
                        <i class="fa fa-floppy-o text-primary"></i>
                    </button>
                </div>
               
            </div>
            <div class="col-md-6 text-right">
                <div class="form-group">
                    <div class="input-group">
                        <div class="btn-group">
                            <button class="btn btn-default" ng-click="expandNavi('znifferFilter', $event)">
                                <i class="fa fa-filter"></i> 
                                <span class="btn-name"></span>
                            </button>

                            <button class="btn btn-default" ng-click="expandNavi('znifferFilter', $event)">
                                <span class="btn-name" ng-if="zniffer.filter.model">{{zniffer.filter.model| cutText:true:30}}</span> <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                        <!-- Dropdown -->
                        <div class="app-dropdown" ng-if="naviExpanded.znifferFilter">
                            <ul>
                                <li ng-repeat="v in zniffer.filter.items"
                                    ng-class="zniffer.filter.model === v ? 'active' : ''"
                                    ng-click="setZnifferFilter(v)">
                                    <a href="">{{v}} <span class="menu-arrow" ng-if="v === zniffer.filter.model">
                                            <i class="fa fa-check"></i></span>
                                    </a>

                                </li>
                            </ul>
                            <div class="appdropdown-footer clickable" ng-click="resetZnifferFilter()">
                                <span class="clickable">
                                    {{_t('reset_filter')}} <i class="fa fa-times text-danger"></i></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="zniffer.filter.model">
                    <div class="input-group">
                        <div class="input-group-addon clickable" ng-click="resetZnifferFilter()"><i class="fa fa-times text-danger"></i></div>
                        <input name="add_tag" id="add_tag" type="text" class="form-control" placeholder="{{_t('type_ word')}}" 
                               ng-model="zniffer.filter.search" 
                               bb-key-event="searchZniffer()"
                               ng-focus="expandFilter('znifferFilter', $event, false)"
                               ng-disabled_="!zniffer.filter.model" />
                        <div class="input-group-addon clickable" ng-click="applyZnifferFilter(zniffer.filter.search)"><i class="fa fa-search"></i></div>

                        <div class="app-dropdown" ng-if="zniffer.filter.suggestions.length">
                            <ul>
                                <li href="" ng-click="applyZnifferFilter(v)" 
                                    ng-repeat="v in  zniffer.filter.suggestions| orderBy:'toString()'"><a href=""> <i class="fa fa-plus"></i> {{v}}</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!--<input type="text" ng-model="q" class="form-control form-search" value="{{q}}">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>--> 
            </div>
        </div>

    </div>

    <!-- Page subnavi filter
    <div class="page-navi" ng-if="filterExpanded.znifferFilter">
        <div class="page-navi-in">
            <div class="navi-overflow">
                <div class="page-navi-content">
                    <button class="btn btn-default btn-tag"
                            ng-repeat="v in zniffer.filter.items"
                            ng-click="setZnifferFilter(v)"
                            ng-class="zniffer.filter.model === v ? 'active' : ''">
                        {{v}}
                    </button>
                    <button class="btn btn-default btn-tag"
                            ng-click="resetZnifferFilter(); expandFilter('znifferFilter', $event)"
                            ng-class="!zniffer.filter.model ? 'active' : ''">
                        <i class="fa fa-times text-danger"></i> {{_t('reset_filter')}}
                    </button>
                </div>
                <ul>
                    <li ng-repeat="(v,k) in zniffer.filter.data[zniffer.filter.model]">
                        <a href="" ng-click="applyZnifferFilter(v);expandFilter('znifferFilter', $event)"> 
                            {{v| cutText:true:30}} <span class="item-cnt">({{k}})</span> 
                            <span class="page-navi-icon"><i class="fa fa-chevron-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="appnavi-footer clickable" ng-click="expandFilter('znifferFilter', $event)">
                <span class="clickable">
                    <i class="fa fa-times text-danger"></i></span>
            </div>
        </div>
    </div>-->
    <div id="table_mobile">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="orderBy('timestamp')">{{ _t('timestamp')}} 
                            <span ng-show="predicate == 'timestamp'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <div class="input-group">
                            <!-- Filter  -->
                            <i class="fa fa-filter clickable"
                               ng-class="zniffer.filter.model === 'speed' ? 'text-success' : ''"
                               ng-click="setZnifferFilter('speed');expandNavi('znifferFilterSpeed', $event)"></i> 
                            <!-- Title and sorting -->
                            <a href="" ng-click="orderBy('speed')">{{ _t('speed')}}  
                                <span ng-show="predicate == 'speed'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                            </a>
                            <!-- Dropdown -->
                            <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.znifferFilterSpeed">
                                <ul>
                                    <li ng-repeat="(v,k) in zniffer.filter.data['speed']"
                                        ng-class="v === zniffer.filter.search ? 'active' : ''"
                                        ng-click="applyZnifferFilter(v)">
                                        <a href="">{{v}} <span class="menu-arrow" ng-if="v === zniffer.filter.search">
                                                <i class="fa fa-check"></i></span>
                                        </a>

                                    </li>
                                </ul>
                                <div class="appdropdown-footer clickable" ng-click="resetZnifferFilter()">
                                    <span class="clickable">
                                        {{_t('reset_filter')}} <i class="fa fa-times text-danger"></i></span>
                                </div>

                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <!-- Filter  -->
                            <i class="fa fa-filter clickable"
                               ng-class="zniffer.filter.model === 'rssi' ? 'text-success' : ''"
                               ng-click="setZnifferFilter('rssi');expandNavi('znifferFilterRssi', $event)"></i> 
                            <!-- Title and sorting -->
                            <a href="" ng-click="orderBy('rssi')">{{ _t('rssi')}}   
                                <span ng-show="predicate == 'rssi'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                            </a>
                            <!-- Dropdown -->
                            <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.znifferFilterRssi">
                                <ul>
                                    <li ng-repeat="(v,k) in zniffer.filter.data['rssi']"
                                        ng-class="v === zniffer.filter.search ? 'active' : ''"
                                        ng-click="applyZnifferFilter(v)">
                                        <a href="">{{v}} <span class="menu-arrow" ng-if="v === zniffer.filter.search">
                                                <i class="fa fa-check"></i></span>
                                        </a>

                                    </li>
                                </ul>
                                <div class="appdropdown-footer clickable" ng-click="resetZnifferFilter()">
                                    <span class="clickable">
                                        {{_t('reset_filter')}} <i class="fa fa-times text-danger"></i></span>
                                </div>

                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <!-- Filter  -->
                            <i class="fa fa-filter clickable"
                               ng-class="zniffer.filter.model === 'src' ? 'text-success' : ''"
                               ng-click="setZnifferFilter('src');expandNavi('znifferFilterSrc', $event)"></i> 
                            <!-- Title and sorting -->
                            <a href="" ng-click="orderBy('src')">{{ _t('src')}}   
                                <span ng-show="predicate == 'src'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                            </a>
                            <!-- Dropdown -->
                            <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.znifferFilterSrc">
                                <ul>
                                    <li ng-repeat="(v,k) in zniffer.filter.data['src']"
                                        ng-class="v === zniffer.filter.search ? 'active' : ''"
                                        ng-click="applyZnifferFilter(v)">
                                        <a href="">{{v}} <span class="menu-arrow" ng-if="v === zniffer.filter.search">
                                                <i class="fa fa-check"></i></span>
                                        </a>

                                    </li>
                                </ul>
                                <div class="appdropdown-footer clickable" ng-click="resetZnifferFilter()">
                                    <span class="clickable">
                                        {{_t('reset_filter')}} <i class="fa fa-times text-danger"></i></span>
                                </div>

                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <!-- Filter  -->
                            <i class="fa fa-filter clickable"
                               ng-class="zniffer.filter.model === 'dest' ? 'text-success' : ''"
                               ng-click="setZnifferFilter('dest');expandNavi('znifferFilterDest', $event)"></i> 
                            <!-- Title and sorting -->
                            <a href="" ng-click="orderBy('dest')">{{ _t('dest')}}  
                                <span ng-show="predicate == 'dest'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                            </a>
                            <!-- Drop down -->
                            <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.znifferFilterDest">
                                <ul>
                                    <li ng-repeat="(v,k) in zniffer.filter.data['dest']"
                                        ng-class="v === zniffer.filter.search ? 'active' : ''"
                                        ng-click="applyZnifferFilter(v)">
                                        <a href="">{{v}} <span class="menu-arrow" ng-if="v === zniffer.filter.search">
                                                <i class="fa fa-check"></i></span>
                                        </a>

                                    </li>
                                </ul>
                                <div class="appdropdown-footer clickable" ng-click="resetZnifferFilter()">
                                    <span class="clickable">
                                        {{_t('reset_filter')}} <i class="fa fa-times text-danger"></i></span>
                                </div>

                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <!-- Filter  -->
                            <i class="fa fa-filter clickable"
                               ng-class="zniffer.filter.model === 'homeid' ? 'text-success' : ''"
                               ng-click="setZnifferFilter('homeid');expandNavi('znifferFilterHomeid', $event)"></i> 
                            <!-- Title and sorting -->
                            <a href="" ng-click="orderBy('homeid')">{{ _t('homeid')}}  
                                <span ng-show="predicate == 'homeid'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                            </a>
                            <!-- Dropdown -->
                            <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.znifferFilterHomeid">
                                <ul>
                                    <li ng-repeat="(v,k) in zniffer.filter.data['homeid']"
                                        ng-class="v === zniffer.filter.search ? 'active' : ''"
                                        ng-click="applyZnifferFilter(v)">
                                        <a href="">{{v}} <span class="menu-arrow" ng-if="v === zniffer.filter.search">
                                                <i class="fa fa-check"></i></span>
                                        </a>

                                    </li>
                                </ul>
                                <div class="appdropdown-footer clickable" ng-click="resetZnifferFilter()">
                                    <span class="clickable">
                                        {{_t('reset_filter')}} <i class="fa fa-times text-danger"></i></span>
                                </div>

                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <!-- Filter  -->
                            <i class="fa fa-filter clickable"
                               ng-class="zniffer.filter.model === 'data' ? 'text-success' : ''"
                               ng-click="setZnifferFilter('data');expandNavi('znifferFilterData', $event)"></i> 
                            <!-- Title and sorting -->
                            <a href="" ng-click="orderBy('data')">{{ _t('data')}}   
                                <span ng-show="predicate == 'data'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                            </a>
                            <!-- Dropdown -->
                            <div class="app-dropdown app-dropdown-left" ng-if="naviExpanded.znifferFilterData">
                                <ul>
                                    <li ng-repeat="(v,k) in zniffer.filter.data['data']"
                                        ng-class="v === zniffer.filter.search ? 'active' : ''"
                                        ng-click="applyZnifferFilter(v)">
                                        <a href="">{{v}} <span class="menu-arrow" ng-if="v === zniffer.filter.search">
                                                <i class="fa fa-check"></i></span>
                                        </a>

                                    </li>
                                </ul>
                                <div class="appdropdown-footer clickable" ng-click="resetZnifferFilter()">
                                    <span class="clickable">
                                        {{_t('reset_filter')}} <i class="fa fa-times text-danger"></i></span>
                                </div>

                            </div>
                        </div>
                    </th>
                    <th>{{ _t('pakettype')}}</th>
                    <th>{{ _t('hexdata')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="zniffer_row_{{v.dataInt}}" ng-repeat="v in zniffer.all| orderBy:predicate:reverse | filter:q" id="{{$index}}">
                    <td>{{v.timestamp}}</td>
                    <td ng-class="zniffer.filter.model === 'speed' ? 'bcg-success' : ''">{{v.speed}}Kbit/s</td>
                    <td ng-class="zniffer.filter.model === 'rssi' ? 'bcg-success' : ''">{{v.rssi}}</td>
                    <td ng-class="zniffer.filter.model === 'src' ? 'bcg-success' : ''">{{v.src}}</td>
                    <td ng-class="zniffer.filter.model === 'dest' ? 'bcg-success' : ''">{{v.dest}}</td>
                    <td ng-class="zniffer.filter.model === 'homeid' ? 'bcg-success' : ''">{{v.homeid}}</td>
                    <td ng-class="zniffer.filter.model === 'data' ? 'bcg-success' : ''">{{v.data}}</td>
                    <td>{{v.pakettype}}</td>
                    <td>{{v.hexdata}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>