<!-- Help view -->
<div ng-controller="ZnifferController">
    <div class="page-header"><h1>{{ _t('nav_zniffer')}}</h1></div>
    <div class="page-control form-inline">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="expandFilter('znifferFilter', $event)">
                        <i class="fa fa-filter"></i> 
                        <span class="btn-name">{{_t(dataHolder.modules.orderBy) | cutText:true:15}}</span>
                    </button>
                    <button class="btn btn-default" ng-click="expandFilter('zwAlianceDataFilter', $event)" ng-if_="zwAlianceData.filter.type">
                        <span class="btn-name">{{zwAlianceData.filter.type| cutText:true:15}}</span> <i class="fa fa-caret-down"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="form-group">
                    <select name="devices" class="form-control" ng-model="zniffer.filter.model" ng-change="setZnifferFilter()">
                        <option value="" ng-selected="v.id != deviceId">--- {{_t('zniffer_filter')}} ---</option>
                        <option ng-repeat="v in zniffer.filter.items" value="{{v}}">{{v}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input name="add_tag" id="add_tag" type="text" class="form-control" placeholder="{{_t('lb_add_tag')}}" 
                               ng-model="zniffer.filter.search" bb-key-event="searchZniffer()" ng-disabled="!zniffer.filter.model" />
                        <div class="app-dropdown" ng-if="zniffer.filter.suggestions.length">
                            <ul>
                                <li href="" ng-click="searchResulzZniffer(v)" 
                                    ng-repeat="v in  zniffer.filter.suggestions| orderBy:'toString()'"><a href=""> <i class="fa fa-plus text-success"></i> {{v}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--<input type="text" ng-model="q" class="form-control form-search" value="{{q}}">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>--> 
            </div>
        </div>

    </div>
    
    <!-- Page subnavi  sort by -->
    <div class="page-navi" ng-if="filterExpanded.znifferFilter">
        <div class="page-navi-in">
            <div class="navi-overflow">
            <div class="page-navi-content">
                Subnavi content
            </div>
            </div>
            
            <div class="appnavi-footer">
                <span class="clickable" ng-click="expandFilter('znifferFilter', $event)">
                    <i class="fa fa-times text-danger"></i> Close&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
    <div id="table_mobile">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="orderBy('timestamp')">{{ _t('timestamp')}} 
                            <span ng-show="predicate == 'timestamp'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('speed')">{{ _t('speed')}}  
                            <span ng-show="predicate == 'speed'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('rssi')">{{ _t('rssi')}}   
                            <span ng-show="predicate == 'rssi'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('src')">{{ _t('src')}}   
                            <span ng-show="predicate == 'src'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('dest')">{{ _t('dest')}}  
                            <span ng-show="predicate == 'dest'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('homeid')">{{ _t('homeid')}}   
                            <span ng-show="predicate == 'homeid'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('data_txt')">{{ _t('data')}}   
                            <span ng-show="predicate == 'data_txt'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>{{ _t('pakettype')}}</th>
                    <th>{{ _t('hexdata')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="zniffer_row_{{v.data}}" ng-repeat="v in zniffer.all| orderBy:predicate:reverse | filter:q" id="{{$index}}">
                    <td>{{v.timestamp}}</td>
                    <td>{{v.speed}}Kbit/s</td>
                    <td>{{v.rssi}}</td>
                    <td>{{v.src}}</td>
                    <td>{{v.dest}}</td>
                    <td>{{v.homeid}}</td>
                    <td>{{v.data_txt}}</td>
                    <td>{{v.pakettype}}</td>
                    <td>{{v.hexdata}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>