<!-- Battery view -->
<div ng-controller="BatteryController">
    <div class="page-header"><h1>{{_t('nav_battery')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div id="table_mobile" ng-if="batteries.show">
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <!-- id -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'idSort'" label="'#'"></sort-by>
                </th>
                <!-- name-->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'name'"
                             label="_t('device_name')"></sort-by>
                </th>
                <!-- type -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'batteryType'"
                             label="_t('th_battery_type')"></sort-by>
                </th>
                <!-- level -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'level'"
                             label="_t('th_level')"></sort-by>
                </th>
                <!-- time -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'updateTime'"
                             label="_t('datetime')"></sort-by>
                </th>
                <!-- action -->
                <th class="mobile-show td-action">
                    <button class="btn btn-primary" id="btn_update_all_1"
                            ng-click="updateAllBatteries('all_1','urlToStore')"
                            ng-disabled="rowSpinner['all_1']">
                        <bb-row-spinner
                                spinner="rowSpinner['all_1']"
                                label="_t('switches_update_all')"
                                icon="'fa-circle'">
                        </bb-row-spinner>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in batteries.all | orderBy:predicate:reverse track by $index" id="{{ v.rowId}}">
                <!-- id -->
                <td data-title="#">{{ v.id }}</td>
                <!-- name -->
                <td data-title="{{ _t('device_name')}}"><a href="#configuration/interview/{{v.id}}">{{ v.name}}</a></td>
                <!-- type -->
                <td data-title="{{ _t('th_battery_type')}}">{{ v.batteryCount }}<span ng-show="v.batteryCount">*</span>{{
                    v.batteryType }} &nbsp;</td>
                <!-- Level -->
                <td data-title="{{ _t('th_level')}}">
                    <i class="fa fa-lg {{ v.level | getBatteryIcon }}"></i>&nbsp;<span class="row-level">{{ v.level+v.scale }}</span>
                </td>
                <!-- time -->
                <td data-title="{{ _t('datetime')}}">
                    <bb-date-time obj="v.dateTime" updated="v.isUpdated"></bb-date-time>
                </td>
                <!-- action -->
                <td class="td-action">
                    <button class="btn btn-default" id="btn_update_{{ v.rowId}}"
                            ng-click="updateBattery(v.urlToStore)"
                            ng-disabled="rowSpinner[v.urlToStore]">
                        <bb-row-spinner
                                spinner="rowSpinner[v.urlToStore]"
                                label=" _t('update')"
                                icon="'fa-circle text-success'">

                        </bb-row-spinner>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>