<!-- Battery view -->
<div ng-controller="BatteryController">
    <div class="page-header"><h1>{{_t('nav_battery')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <!--<pre>{{orderByArr|json}}</pre>
    reverse: {{reverse}}
    <p>
        <a href="" ng-click="orderBy('name')">{{ _t('device_name')}}
            <span ng-show="predicate == 'name'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
        </a>
    </p>
    <sort-by callback-fn="orderBy('level')" obj="orderByArr"></sort-by>-->
     <div id="table_mobile" ng-if="batteries.show">
        <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>
                        <a href="" ng-click="orderBy('id')">#  
                            <span ng-show="predicate == 'id'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('name')">{{ _t('device_name')}}
                            <span ng-show="predicate == 'name'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                   <th>
                        <a href="" ng-click="orderBy('batteryType')">{{ _t('th_battery_type')}}
                            <span ng-show="predicate == 'batteryType'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    
                    <th>
                        <a href="" ng-click="orderBy('level')">{{ _t('th_level')}}
                            <span ng-show="predicate == 'level'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('updateTime')">{{ _t('datetime')}}
                            <span ng-show="predicate == 'updateTime'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                     <th class="mobile-show td-action">
                         <button class="btn btn-primary" id="btn_update_all_1"
                                 ng-click="updateAllBatteries('all_1','urlToStore')"
                                 ng-disabled="rowSpinner['all_1']">
                             <bb-row-spinner
                                     spinner="rowSpinner['all_1']"
                                     label="_t('switches_update_all')"
                                     icon="'fa-circle-o'">
                             </bb-row-spinner>
                         </button>
                    </th>
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="v in batteries.all | orderBy:predicate:reverse track by $index" id="{{ v.rowId}}">
                <td data-title="#">{{ v.id }}</td>
                <td data-title="{{ _t('device_name')}}"> <a href="#configuration/interview/{{v.id}}">{{ v.name}}</a></td>
                <td data-title="{{ _t('th_battery_type')}}">{{ v.batteryCount }}<span ng-show="v.batteryCount">*</span>{{ v.batteryType }} &nbsp;</td>
                 <td data-title="{{ _t('th_level')}}">
                     
                     <i class="fa fa-lg {{ v.level | getBatteryIcon }}"></i>&nbsp;<span class="row-level">{{ v.level+v.scale }}</span>
                     <!--<img class="report-img" ng-src="{{cfg.img.batteries}}{{v.level|getBatteryImg}}" alt="img" />&nbsp;<span class="row-level">{{ v.level+v.scale }}</span>-->
                      
                 </td>
                 <td data-title="{{ _t('datetime')}}">
                     <bb-date-time obj="v.dateTime" updated="v.isUpdated"></bb-date-time>
                 </td>
                  <td class="td-action">
                      <button class="btn btn-default" id="btn_update_{{ v.rowId}}"
                              ng-click="updateBattery(v.urlToStore)"
                              ng-disabled="rowSpinner[v.urlToStore]">
                          <bb-row-spinner
                                  spinner="rowSpinner[v.urlToStore]"
                                  label=" _t('update')"
                                  icon="'fa-circle-o text-success'">

                          </bb-row-spinner>
                      </button>
                  </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>