<!-- Status view -->
<div ng-controller="StatusController">
    <div class="page-header"><h1>{{_t('nav_status')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div id="table_mobile"  ng-if="statuses.show">
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>
                    <a href="" ng-click="orderBy('id')">#
                        <span ng-show="predicate == 'id'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i
                                ng-show="reverse" class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderBy('name')">{{ _t('device_name')}}
                        <span ng-show="predicate == 'name'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i
                                ng-show="reverse" class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderBy('sleeping')">{{ _t('th_sleeping')}}
                        <span ng-show="predicate == 'sleeping'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i
                                ng-show="reverse" class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th>&nbsp;</th>
                <th>
                    <a href="" ng-click="orderBy('updateTime')">{{ _t('last_communication')}}
                        <span ng-show="predicate == 'updateTime'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i
                                ng-show="reverse" class="fa fa-sort-desc"></i></span>
                    </a>
                </th>
                <th class="print-hide">&nbsp;</th>

                <th class="mobile-show td-action print-hide">
                    <button class="btn btn-primary" id="btn_ping_all_1"
                            ng-click="pingAllDevices('btn_ping_all_1','urlToStore')"
                            ng-disabled="rowSpinner['btn_ping_all_1']">
                        <bb-row-spinner
                                spinner="rowSpinner['btn_ping_all_1']"
                                label="_t('btn_checkall')"
                                icon="'fa-circle-o'">
                        </bb-row-spinner>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in statuses.all | orderBy:predicate:reverse track by $index" id="{{ v.rowId}}">
                <td data-title="#">{{ v.id}}</td>
                <td data-title="{{ _t('device_name')}}">
                    <a href="#configuration/interview/{{v.id}}">{{ v.name}}</a>
                </td>
                <td data-title="{{ _t('th_sleeping')}}" class="row-sleeping"><span
                        ng-bind-html="v.sleeping | toTrusted"></span> &nbsp;</td>
                <td>
                    <i class="fa fa-ban fa-lg text-danger" title="{{_t('device_is_dead')}}"
                    ng-show="v.isFailed"></i>
                    <i class="fa fa-check fa-lg text-success" title="{{_t('device_is_operating')}}"
                       ng-hide="v.isFailed"></i>
                </td>
                <td data-title="{{ _t('last_communication')}}">
                    <bb-date-time obj="v.dateTime" updated="v.isUpdated"></bb-date-time>
                </td>
                <!--<td data-title="{{ _t('datetime')}}">

                    <span class="row-time" ng-bind-html="v.updateTime | toTrusted"></span> &nbsp;
                </td>-->
                <td class="row-interview print-hide">
                    <button class="btn btn-default"
                            ng-show="v.interview"
                            ng-hide="v.isController"
                            ng-click="handleModalInterview('interviewModal',$event,$index,v.id,v.name)" title="{{v.interview}}">
                        <i class="fa fa-search-minus fa-lg text-danger"></i>
                    </button> &nbsp;
                </td>
                <td class="row-ping td-action print-hide">
                    <button class="btn btn-default" id="btn_ping_{{ v.rowId}}" title="{{_t('pingDevice')}}"
                            title="{{ _t('pingDevice')}}"
                            ng-if="v.urlToStore"
                            ng-click="pingDevice(v.urlToStore)"
                            ng-disabled="rowSpinner[v.urlToStore]">
                        <bb-row-spinner
                                spinner="rowSpinner[v.urlToStore]"
                                icon="'fa-circle-o text-success'">

                        </bb-row-spinner>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal interview -->
    <div ng-include="'app/views/device/modal_status_interview.html'"></div>
</div><!-- /ng-controler -->