<!-- Status view -->
<div ng-controller="StatusController">
    <div class="page-header"><h1>{{_t('nav_status')}}</h1></div>
    <button class="btn btn-primary" ng-click="showModal('#modal_controller',7)">Show ng-click</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#modal_controller">Show controller data</button>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="orderBy('id')">#  
                            <span ng-show="predicate == 'id'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('name')">{{ _t('device_name')}}
                            <span ng-show="predicate == 'name'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('sleeping')">{{ _t('th_sleeping')}}
                            <span ng-show="predicate == 'sleeping'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                     <th>
                        <a href="" ng-click="orderBy('awake')">{{ _t('th_awake')}}
                            <span ng-show="predicate == 'awake'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="orderBy('updateTime')">{{ _t('datetime')}}
                            <span ng-show="predicate == 'updateTime'"><i ng-show="!reverse" class="fa fa-sort-asc"></i><i ng-show="reverse" class="fa fa-sort-desc"></i></span>
                        </a>
                    </th>
                    <th>&nbsp;</th>

                    <th>
                        <button 
                            class="btn btn-success" 
                            data-ng-click="storeAll('#btn_update_all_1')" 
                            id="btn_update_all_1"
                            >{{ _t('btn_checkall')}}</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in statuses| orderBy:predicate:reverse" id="{{ v.rowId}}">
                    <td>{{ v.id}}</td>
                    <td><switch-type-icon generic="{{ v.genericType}}" specific="{{ v.specificType}}"></switch-type-icon> {{ v.name}}</td>
                    <td class="row-sleeping" ng-bind-html="v.sleeping | toTrusted"></td>
                    <td class="row-awake" ng-bind-html="v.awake | toTrusted"></td>
                    <td class="row-time" ng-bind-html="v.updateTime | toTrusted"></td>
                    <td class="row-interview">
                        <a href="" ng-show="v.interview" ng-click="showModal('#modal_controller',v.id)" title="{{v.interview}}"><i class="fa fa-question-circle fa-lg text-info"></i></a>
                    </td>
                    <td class="row-ping">
                        <button
                            ng-if="v.urlToStore"
                            data-ng-click="store('#btn_ping_' + v.rowId)" 
                            data-store-url="{{ v.urlToStore}}" 
                            class="btn btn-primary btn-spinner" 
                            id="btn_ping_{{ v.rowId}}"
                            >{{ _t('pingDevice')}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- Modal controller -->
    <div class="modal fade" id="modal_controller" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{_t('interview_results_dialog_title')}}</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!-- /.Modal -->
</div>