<!-- Type view -->
<div ng-controller="TypeController">
    <div class="page-header"><h1>{{_t('nav_type_info')}}</h1></div>
    <bb-alert alert="alert"></bb-alert>
    <div id="table_mobile" ng-if="devices.show">
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <!-- id -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'idSort'" label="'#'"></sort-by>
                </th>
                <!-- name-->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'name'"
                             label="_t('device_name')"></sort-by>
                </th>
                <!-- security -->
                <!--<th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'security'"
                             label="_t('th_security')"></sort-by>
                </th>-->
                <!-- security -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'security'"
                             label="_t('th_security')"></sort-by>
                </th>

                <!-- nwi -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'mwief'"
                             label="_t('th_mwief')"></sort-by>
                </th>
                <!-- zwave plus -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'zWavePlus'"
                             label="_t('th_zwaveplus')"></sort-by>
                </th>
                <!-- version -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'sdk'"
                             label="_t('th_sdk')"></sort-by>
                </th>
                <!-- vendorName -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'vendorName'"
                             label="_t('th_vendor')"></sort-by>
                </th>
                <!-- productName -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'productName'"
                             label="_t('th_product')"></sort-by>
                </th>
                <!-- appVersion -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'appVersion'"
                             label="_t('th_appversion')"></sort-by>
                </th>
                <!-- appVersion -->
                <th>
                    <sort-by callback="orderBy(field)" obj="orderByArr" field="'type'"
                             label="_t('device_description_device_type')"></sort-by>
                </th>
                <!-- Granted keys -->
                <th ng-if="cfg.app_type !== 'installer'">
                   {{_t('keys')}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in devices.all | orderBy:predicate:reverse track by $index" id="{{ v.rowId}}">
                <!-- id -->
                <td data-title="#" ng-bind="v.id"></td>
                <!-- name -->
                <td data-title="{{ _t('device_name')}}">
                    <a href="#configuration/interview/{{v.id}}" ng-bind="v.name"></a>
                </td>
                <!-- security -->
               <!-- <td data-title="{{ _t('th_security')}}" title="{{v.hasSecurityS2Cc ? 'S2 Secure' : ''}}">
                    <i ng-hide="v.hasSecurityS2Cc" class="{{ v.security | securityIcon }}"></i>
                    <span class="fa-stack fa-lg" ng-show="v.hasSecurityS2Cc">
                        <i class="fa fa-lock fa-stack-1x" style="color: darkgray;"></i>
                        <i class="fa fa-lock fa-stack-1x text-success" style="left:4px; top:4px;"></i>
                    </span>&nbsp;
                </td>-->
                <!-- security new -->
                <td data-title="{{ _t('th_security')}}" title="{{v.hasSecurityS2Cc ? 'S2 Secure' : ''}}">
                    <i  class="fa fa-unlock-alt fa-lg orange" ng-show="v.securityType == 'security-0'"></i>
                    <i  class="fa fa-lock fa-lg green" ng-show="v.securityType == 'security-1'"></i>
                    <span class="security-2 {{v.securityInterview}} fa-stack fa-lg" ng-show="v.securityType == 'security-2'">
                        <i class="fa fa-lock fa-stack-1x icon-bottom"></i>
                        <i class="fa fa-lock fa-stack-1x icon-top"></i>
                    </span>&nbsp;
                </td>
                <!-- nwi -->
                <td data-title="{{ _t('th_mwief')}}"><i class="{{v.mwief| mwiefIcon}}"></i>&nbsp;</td>
                <!-- zwaveplus -->
                <td data-title="{{ _t('th_zwaveplus')}}"><i class="{{ v.ZWavePlusInfo | zWavePlusIcon}}"></i>&nbsp;</td>
                <!-- sdk -->
                <td data-title="{{ _t('th_sdk')}}">
                    <span ng-show="v.fromSdk" ng-bind="v.sdk"></span>
                    <span ng-show="!v.fromSdk">(<em ng-bind="v.sdk"></em>)</span>


                </td>
                <!-- vendor -->
                <td data-title="{{ _t('th_vendor')}}"><span ng-bind="v.vendorName"></span>&nbsp;</td>
                <!-- product -->
                <td data-title="{{ _t('th_product')}}"><span ng-bind="productNames[v.id]"></span>&nbsp;</td>
                <!-- version -->
                <td data-title="{{ _t('th_appversion')}}"><span ng-bind="v.appVersion"></span>&nbsp;</td>
                <!-- type -->
                <td data-title="{{ _t('device_description_device_type')}}"><span ng-bind="v.deviceType"></span>&nbsp;
                <!-- securityS2Key -->
                <td data-title="{{ _t('keys')}}" ng-if="cfg.app_type !== 'installer'"><span ng-bind="v.securityS2Key"></span>&nbsp;

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>