<!-- License view -->
<div ng-controller="LicenseController">
    <div class="page-header"><h1>{{_t('licence_upgrade')}}</h1></div>
    <p>{{_t('licence_upgrade_info')}}</p>
     <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-sign-in"></i> {{_t('licence_key_get')}}</div>
        <div class="panel-body">
            <!--
            <p>Duis id erat non eros laoreet vestibulum. Duis aliquam cursus enim eu congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
             -->
            <p><a ng-href="{{cfg.buy_licence_key}}" class="btn btn-info btn-lg">{{_t('btn_licence_buy')}}</a></p>
        </div>
    </div>
    <p>{{_t('licence_upgrade_key')}}</p>
    <div class="panel panel-default panel-highlighted">
        <div class="panel-heading"><i class="fa fa-key"></i> {{_t('licence_key_insert')}}</div>
        <div class="panel-body">
            <div class="alert alert-danger" ng-if="controllerIsZeroUuid"><i class="fa fa-plug"></i> {{_t('replug_device')}}</div>
            <div class="cfg-block">
                <div class="form-inline">
                    <input
                        class="form-control spin-true verify-ctrl" 
                        type="text" 
                        name="scratch_id"
                        id="scratch_id" 
                        value="" 
                        ng-disabled="controllerIsZeroUuid"
                        ng-model="formData.scratch_id" />
                    <button class="btn btn-primary verify-ctrl" ng-click="getLicense(formData)" ng-disabled="controllerIsZeroUuid"> {{_t('btn_licence_verify')}}</button>

                </div> 
            </div>
            <p ng-if="proccessVerify.message">
                <i class="fa-lg" ng-class="proccessVerify.status"></i> <span ng-bind="proccessVerify.message"></span>
            </p>
            <p ng-if="proccessUpdate.message">
                <i class="fa-lg" ng-class="proccessUpdate.status"></i> <span ng-bind="proccessUpdate.message"></span>
            </p>

        </div>
    </div>
</div>