<!-- License view -->
<div ng-controller="LicenseController">
    <div class="page-header"><h1>License</h1></div>
    <p>
        Curabitur eu pharetra felis. In hac habitasse platea dictumst. Duis id erat non eros laoreet vestibulum. Duis aliquam cursus enim eu congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In id fringilla dui.
    </p>
    <div class="form-inline">
        <input
            class="form-control spin-true" 
            type="text" 
            name="scratch_id"
            id="scratch_id" 
            value="" 
            placeholder="Please insert your license key" 
            ng-model="formData.scratch_id" />
        <button class="btn btn-primary" ng-click="getLicense(formData)">Check</button>
        <p ng-show="loader"><i class="fa fa-spinner fa-spin"></i> <span ng-bind="loader"></span></p>

    </div> 
    <div ng-show_="showSteps">
        <div>
             <i class="fa fa-spinner fa-spin"></i>
                 <span>Veryfiing</span>
        </div>
         <div>
             <i class="fa fa-spinner fa-spin"></i>
             <span>Updating</span>
        </div>
        
        
        <div class="alert {{alert.status}}" ng-if="alert.message" ng-bind="alert.message"></div>
    </div>
</div>