<!--Print view -->
<div class="print-entry">
    <h2>{{_t('nav_status')}}</h2>
    Device Info und Device Status
    <br />zeigt die Übersichten Device Status und Information
</div>
<div class="print-entry">
    <h2>{{_t('nav_rssi')}}</h2>
   zeigt Background Noise

</div>
<div class="print-entry">
   zeigt die noch zu entwerfende Network Statistik mit Eigene Pakete versus fremde Pakete, ...
</div>
<div class="print-entry">
    zeigt die aktuelle Routingtabelle
 </div>
<div class="print-entry">
    zeigt die noch zu entwickelnde Übersicht mit den Link status als Zusammenfassung der Einzelseiten aus dem Config-bereich
</div>
<div class="print-entry">
    Notizen
</div>