<!-- Uzb view -->
<div data-ng-controller="UzbController">
    <div class="page-header"><h1>{{_t('upgrade_bootloader_firmware')}}</h1></div>
    <p>{{_t('txt_uzb_info')}}</p>
    <div class="alert alert-dismissible" ng-if="alert.message" ng-class="alert.status">
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <i class="fa fa-lg" ng-class="alert.icon"></i> <span ng-bind="alert.message"></span>
    </div>
    <div class="">
        <p class="text-info" ng-if="noData" ng-bind="noData"></p>
        <table class="table table-striped table-condensed table-hover" ng-if="uzbUpgrade.length > 0">
            <tbody>
                <tr ng-repeat="v in uzbUpgrade| orderBy:predicate:reverse" id="row_{{v.id}}" ngif="v.file == 'bin'">
                    <td  style="white-space: nowrap;"><strong>{{v.released | date:'yyyy-MM-dd'}}</strong></td>
                    <td>{{v.appVersionMajor + '.' + v.appVersionMinor}}</td>
                    <td>{{v.comment}}</td>
                   
                    <td class="update-ctrl">
                        <button 
                            data-ng-click="upgrade('#row_' + v.id,'/ZWaveAPI/ZMEBootloaderUpgrade', cfg.uzb_url + v.fileURL)" 
                            class="btn btn-primary spin-true" 
                            id="btn_boot_{{v.id}}"
                            ng-show="v.type == 'bootloader'">{{_t('upgrade_bootloader')}}</button>
                        <button 
                            data-ng-click="upgrade('#btn_firmware_' + v.id, '/ZWaveAPI/ZMEFirmwareUpgrade', cfg.uzb_url + v.fileURL)"
                            data-action="reset" 
                            class="btn btn-info spin-true" 
                            id="btn_firmware_{{v.id}}"
                            ng-show="v.type=='firmware'">{{_t('upgrade_firmware')}}</button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>