<!-- Uzb view -->
<div data-ng-controller="UzbController">
    <bb-loader></bb-loader>
    <!-- /////////////////////////// Firmware update /////////////////////////// -->
    <div class="alert alert-info">
        <span class="help-text"><i class="fa fa-lg fa-info-circle"></i>
            {{_t('current_firmware')}}: {{currentVersion}} [Bootloader: {{bootloaderVersion}}]</span></div>
    <div class="page-header"><h1>{{_t('upgrade_bootloader_firmware')}}</h1></div>
    <p>{{_t('txt_uzb_info')}}</p>
    <bb-alert alert="alert"></bb-alert>
    <div class="">
        <table class="table table-striped table-condensed table-hover" ng-if="uzbUpgrade.length > 0">
            <tbody>
            <tr ng-repeat="v in uzbUpgrade| orderBy:predicate:reverse" id="row_{{v.id}}" ngif="v.file == 'bin'">
                <td style="white-space: nowrap;"><strong>{{v.released | date:'yyyy-MM-dd'}}</strong></td>
                <td>{{v.appVersionMajor + '.' + v.appVersionMinor}}</td>
                <td>
                    <i class="fa fa-arrow-circle-up" style="color: green" ng-if="v.targetAppVersionMajor && v.appVersionMajor*1000 + v.appVersionMinor*1 < v.targetAppVersionMajor*1000 + v.targetAppVersionMinor*1"></i>
                    <i class="fa fa-arrow-circle-right" style="color: gray" ng-if="v.targetAppVersionMajor && v.appVersionMajor*1000 + v.appVersionMinor*1 == v.targetAppVersionMajor*1000 + v.targetAppVersionMinor*1"></i>
                    <i class="fa fa-arrow-circle-down" style="color: red" ng-if="v.targetAppVersionMajor && v.appVersionMajor*1000 + v.appVersionMinor*1 > v.targetAppVersionMajor*1000 + v.targetAppVersionMinor*1"></i>
                </td>
                <td>{{(v.targetAppVersionMajor ? v.targetAppVersionMajor + '.' + v.targetAppVersionMinor : '')}}</td>
                <td>{{v.comment}}</td>
                <td ng-show="token.load">{{token.load}}</td>
                <td class="td-action">
                    <!-- upgrade_bootloader -->
                    <button class="btn btn-default" id="btn_boot_{{v.id}}"
                            ng-click="upgrade('zme_bootloader_upgrade', cfg.uzb_url + v.fileURL)"
                            ng-if="v.type == 'bootloader'"
                            ng-disabled="rowSpinner['zme_bootloader_upgrade']">
                        <bb-row-spinner
                                spinner="rowSpinner['zme_bootloader_upgrade']"
                                label="_t('upgrade_bootloader')"
                                icon="'fa-arrow-up text-primary'">
                        </bb-row-spinner>
                    </button>
                    <!-- upgrade_firmware -->
                    <button class="btn btn-default" id="btn_firmware_{{v.id}}"
                            ng-click="upgrade('zme_firmware_upgrade', cfg.uzb_url + v.fileURL)"
                            ng-if="v.type=='firmware'"
                            ng-disabled="rowSpinner['zme_firmware_upgrade']">
                        <bb-row-spinner
                                spinner="rowSpinner['zme_firmware_upgrade']"
                                label="_t('upgrade_firmware')"
                                icon="'fa-arrow-up text-info'">
                        </bb-row-spinner>

                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-page">
        <div class="fieldset">
            <span class="text-left">{{_t('upload_file')}}</span>
            <!--upload_bootloader -->
            <input class="inputfile" type="file" name="file" id="upload_bootloader"
                   ng-click="icons.find = v"
                   onchange="angular.element(this).scope().uploadFile('upload_bootloader',this.files)"/>
            <label for="upload_bootloader" class="btn btn-primary" title="{{_t('upload_bootloader')}}"
                   ng-disabled="rowSpinner['upload_bootloader']">
                <bb-row-spinner
                        spinner="rowSpinner['upload_bootloader']"
                        label="_t('upload_bootloader')"
                        icon="'fa-upload'">
                </bb-row-spinner>
            </label>

            <!--upload_firmware -->
            <input class="inputfile" type="file" name="file" id="upload_firmware"
                   ng-click="icons.find = v"
                   onchange="angular.element(this).scope().uploadFile('upload_firmware',this.files)"/>
            <label for="upload_firmware" class="btn btn-info" title="{{_t('upload_firmware')}}"
                   ng-disabled="rowSpinner['upload_firmware']">
                <bb-row-spinner
                        spinner="rowSpinner['upload_firmware']"
                        label="_t('upload_firmware')"
                        icon="'fa-upload'">
                </bb-row-spinner>
            </label>
        </div>
    </div>
    <!-- /////////////////////////// Token/////////////////////////// -->
    <div class="panel panel-default panel-highlighted">
        <!-- Header -->
        <div class="panel-heading"><i class="fa fa-tag"></i> {{_t('nav_firmware_token')}}</div>
        <!-- Body-->
        <div class="panel-body form-inline">
            <p>{{_t('add_token_info')}}</p>
            <!-- Form -->
            <form id="form_token" class="form" novalidate ng-submit="addToken(token.input)">
                <div class="input-group">
                    <input name="token" id="token" class="form-control" placeholder="{{_t('insert_token')}}"
                           ng-model="token.input.token">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <bb-row-spinner
                                    spinner="rowSpinner['add_token']"
                                    label="_t('go')"
                                    icon="'fa-circle'">
                        </bb-row-spinner>
                        </button>
                  </span>
                </div><!-- /input-group -->
            </form>
        </div>

    </div>
</div><!-- /ng-controler -->
