<!-- FirmwareUpdate view -->
<div class="firmware-update-data-control" ng-controller="ConfigStoreController" ng-show="fwupdateCont">
    <form name="form_firmware" id="form_firmware" class="form form-inline" ng-submit="updateFirmware(deviceId)" novalidate>
        <!--<label>{{_t('nav_firmware_update')}}:</label>-->
        <input id="url" type="text" value="" name="url" class="form-control" ng-model="formFirmware.url" placeholder="URL" title="please use format http:// ...... " data-toggle="tooltip" data-position="top" tooltip />
        <input type="file" class="form-control" file-model="myFile" />
        <input id="targetId" type="text" value="" name="targetId" class="form-control" ng-model="formFirmware.targetId" placeholder="Target" title="For Z-Wave Target is 0" data-toggle="tooltip" data-position="top" tooltip />
        <button type="submit" class="btn btn-primary" id="btn_save_note">{{ _t('update')}} <i class="fa fa-spinner fa-spin"></i></button> <span ng-show="firmwareProgress" ng-bind="firmwareProgress"></span>
    </form>
</div>
