<config>
    <devices>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[1,0,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[2,11164,2]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[3,0,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[4,1,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[10,79,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[11,0,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[12,0,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[13,0,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[14,2,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="70" command="Set" parameter="[15,2,1]"/>
        <deviceconfiguration id="3" instance="0" commandclass="27" command="Set" parameter="[2]"/>
        <deviceconfiguration id="3" instance="0" commandclass="75" command="Set" parameter="[2,0]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[1,0,1]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[2,1,2]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[80,0,1]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[90,1,1]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[91,50,2]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[92,10,1]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[100,0,1]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[101,8,4]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[102,0,4]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[103,2,4]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[110,0,1]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[111,10,4]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[112,10,4]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[113,10,4]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[254,1,2]"/>
        <deviceconfiguration id="5" instance="0" commandclass="70" command="Set" parameter="[255,0,1]"/>
        <deviceconfiguration id="5" instance="0" commandclass="27" command="Set" parameter="[1]"/>
    </devices>
</config>
