<div class="smart-start" ng-controller="SmartStartDskEntryController">
    <bb-alert alert="dsk.alert"></bb-alert>
    <div class="container" ng-switch="dsk.state" ng-if="_.isEmpty(dsk.alert)">
        <!-- Navigation -->
        <div ng-include="'app/views/smartstart/navi.html'"></div>
      
        <!-- Start -->
        <div class="entry add-dsk">
            <p class="content">
              {{_t('enter_dsk')}}
            </p>
            <form name="form_dsk" class="form-inline_" ng-submit="addDsk()">
                <div class="form-group" bb-dsk-navigate>
              <span><input id="dsk_1" type="text" maxlength="5" class="form-control dsk-number" ng-model="dsk.input.dsk_1" ng-paste="fillInput($event)" /></span>
            - <span><input id="dsk_2" type="text" maxlength="5" class="form-control dsk-number" ng-model="dsk.input.dsk_2" ng-paste="fillInput($event)" /></span>
            - <span><input id="dsk_3" type="text" maxlength="5" class="form-control dsk-number" ng-model="dsk.input.dsk_3" ng-paste="fillInput($event)" /></span> 
            - <span><input id="dsk_4" type="text" maxlength="5" class="form-control dsk-number" ng-model="dsk.input.dsk_4" ng-paste="fillInput($event)" /></span>  
            - <span><input id="dsk_5" type="text" maxlength="5" class="form-control dsk-number" ng-model="dsk.input.dsk_5" ng-paste="fillInput($event)" /></span>  
            - <span><input id="dsk_6" type="text" maxlength="5" class="form-control dsk-number" ng-model="dsk.input.dsk_6" ng-paste="fillInput($event)" /></span>  
            - <span><input id="dsk_7" type="text" maxlength="5" class="form-control dsk-number" ng-model="dsk.input.dsk_7" ng-paste="fillInput($event)" /></span>  
            - <span><input id="dsk_8" type="text" maxlength="5" class="form-control dsk-number" ng-model="dsk.input.dsk_8" ng-paste="fillInput($event)" /></span>  
                </div>
                
                <div class="form-group">
                    <button class="btn btn-success">
                        <bb-row-spinner
                                    spinner="rowSpinner[cfg.add_dsk]"
                                    label="_t('Register')"
                                    icon="'fa-plus'">
                            </bb-row-spinner>
                    </button>
                </div>
            </form>

        </div>
        <!-- success-register -->
        <div class="entry list" ng-switch-when="success-register">
             <div class="alert alert-success">
                  <i class="fa fa-check"></i> Device has been included in the network and is ready for use.
                  <div>{{dsk.response}}</div>
            </div>
        </div>
    </div>
</div> <!-- /ng-controller --> 