<!-- Association view -->
<div id="AssociationTable" ng-controller="ConfigAssocController">
    <!-- Config navigation -->
    <div ng-include="'app/views/configuration/navi.html'"></div>
    <div class="row hidden-md hidden-lg">
        <z-wave-configuration-menu type="drop"></z-wave-configuration-menu>
    </div>
    <div class="row row-configuration">
        <div class="col-md-3 visible-md visible-lg">
            <z-wave-configuration-menu type="list"></z-wave-configuration-menu>
        </div>
        <div class="col-md-9 col-content">
            <bb-alert alert="alert"></bb-alert>
            <div ng-show="deviceId">
                <!-- Assoc design -->
                <div class="table-responsive" ng-if="assocGroups.length > 0">
                    <!-- update from device -->
                    <button class="btn btn-primary" type="button"
                            ng-click="updateFromDevice('updateFromDevice')"
                            ng-disabled="rowSpinner['updateFromDevice']">
                        <bb-row-spinner
                                spinner="rowSpinner['updateFromDevice']"
                                label="_t('btn_update_from_device')"
                                icon="'fa-copy-o'">
                        </bb-row-spinner>
                    </button>
                    <br/><br/> 
                    <div class="alert alert-warning" ng-if="nodeCfg.hasBattery && nodeCfg.notAwake.length > 0">
                        <i class="fa fa-info-circle text-warning"></i> {{_t('conf_apply_battery')}}
                    </div>
                    <table class="table table-striped_ table-condensed">
                        <tbody>
                        <tr ng-repeat="v in assocGroups track by $index">
                            <td class="association-text">
                                <h5>
                                    {{v.instance > 0 ? v.instance + ":" : ""}}{{v.groupId}}. {{v.label}} ({{ _t('assoc_max')}} {{v.max}} {{ _t('assoc_nodes')}})
                                    <span> | <i class="fa fa-clock"></i> <span class="{{v.timeClass}}">{{v.updateTime| isTodayFromUnix}}</span></span>
                                </h5>

                                <div>
                                    <div class="btn-group btn-group-assoc-devices {{d.status}}" role="group"
                                         ng-repeat="d in assocGroupsDevices[v.instance + ':' + v.groupId] track by d.elId" id="{{d.elId}}">
                                        <button type="button" class="btn btn-info excluded-{{d.deviceExcluded}}" ng-disabled="d.deviceExcluded">
                                            <i class="fa fa-exclamation-triangle text-danger"
                                               ng-if="d.status !== 'true-true'"></i>
                                            (#{{d.id}}<span ng-if="nodeCfg.hasMCA && d.cc == '8e'">.{{d.instance}}</span>)
                                            {{d.name|cutText:true:20}}
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="deleteAssoc(d)"
                                                ng-if="!d.isNew">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </div>
                                </div>
                                <p class="text-alert-list" ng-if="v.remaining < 1"><i
                                        class="fa fa-exclamation-circle text-warning"></i>
                                    {{_t('assoc_max_nodes_reached')}}</p>

                            </td>
                            <td class="association-action" style="text-align: right; width: 20%;">
                                <button class="btn btn-primary" type="button"
                                        ng-if="v.remaining > 0"
                                        ng-click="handleAssocModal('assocAddModal',$event,v)"
                                        ng-disabled="rowSpinner['group_' + v.groupId]">
                                    <bb-row-spinner
                                            spinner="rowSpinner['group_' + v.groupId]"
                                            icon="'fa-plus'">
                                    </bb-row-spinner>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Legend -->
                    <div class="legend-entry">
                        <!-- orange -->
                        <div class="legend-row">
                            <i class="fa fa-square fa-lg orange"></i> {{_t('assoc_legend_2')}}
                        </div>
                        <!-- gray -->
                        <div class="legend-row">
                            <i class="fa fa-square fa-lg gray-light"></i> {{_t('assoc_legend_3')}}
                        </div>
                        <!-- info -->
                        <div class="legend-row">
                            <i class="fa fa-square fa-lg blue-info"></i> {{_t('assoc_legend_4')}}
                        </div>
                        <!-- excluded -->
                        <div class="legend-row">
                          <i class="fa fa-square fa-lg gray-light"></i> <span class="line-through">{{_t('device_excluded')}}</span>
                      </div>

                    </div>
                    <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
                    <!-- assocAddModal -->
                    <div ng-include="'app/views/configuration/modal_assoc_add.html'"></div>
                </div>
             </div><!-- /if id -->

        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /ng-controler -->
