<!-- Commands view -->
<div ng-controller="ConfigCommandsController">
    <!-- Config navigation -->
    <div ng-include="'app/views/configuration/navi.html'"></div>
    <!--<pre>{{ccTable['Basic']|json}}</pre>-->
    <div class="row hidden-md hidden-lg">
        <z-wave-configuration-menu type="drop"></z-wave-configuration-menu>
    </div>
    <div class="row row-configuration">
        <div class="col-md-3 visible-md visible-lg">
            <z-wave-configuration-menu type="list"></z-wave-configuration-menu>
        </div>
        <div class="col-md-9 col-content">
            <bb-alert alert="alert"></bb-alert>
            <div ng-if="deviceId">
                <div class="panel-heading command">
                    <div>{{_t('th_instance')}}</div>
                    <div>{{_t('th_command_class')}}</div>
                </div>
                <div ng-repeat="command in commandsUpdated track by $index" class="panel panel-command"
                     ng-init="expanded[$index] = false">
                    <div class="panel-heading command" data-toggle="collapse" data-target="#{{$index}}"
                         ng-click="expanded[$index] = !expanded[$index]" aria-expanded="true"
                         aria-controls="collapseExample">
                        <button class="btn btn-default command-button" title="{{_t('th_instance')}}"
                                ng-click="handleCmdClassModal('cmdClassModal',$event, command.instance, command.ccId, 'instance')">
                            <span>{{command.instance}}</span>
                        </button>
                        <button class="btn btn-default command-button" title="{{_t('th_command_class')}}"
                                ng-click="handleCmdClassModal('cmdClassModal',$event, command.instance, command.ccId, 'commandClass')">
                            <span>{{command.name}}</span>
                        </button>
                        <div style="margin-left: auto;">
                            <i ng-if="command.visible" class="fa accordion-arrow fa-chevron-down fa-lg command-arrow clickable"
                               ng-class="{'rotated': expanded[$index]}" style="line-height: 138%"></i>
                        </div>
                    </div>
                    <div class="collapse" id="{{$index}}" ng-if="command.visible"
                         ng-init="mobileHidden = true; haveTable = _.size(dataHolder.ccTable[command.name + '@' + command.instance].table)">
                        <div class="commands-table"
                             hm-swipeleft="mobileHidden = true"
                             hm-swiperight="mobileHidden = false"
                             hm-recognizer-options='[
                                        {"type":"swipe","directions":"DIRECTION_HORIZONTAL"}
                                    ]'>
                            <div ng-class="{'mobile-hidden': mobileHidden && haveTable}">
                                <z-wave-command-data-viewer
                                        data="dataHolder.ccTable[command.name + '@' + command.instance].table"
                                        options="{style: locationOptions.commandStyle}"></z-wave-command-data-viewer>
                            </div>
                            <div ng-show="mobileHidden"
                                 ng-if="haveTable"
                                 class="side-panel label label-default mobile-only">
                                <i class="fa fa-lg fa-angle-right swipe-arrow"></i>
                            </div>
                            <div>
                                <z-wave-expert-command ng-repeat="(k, m) in command.methods track by $index"
                                                       data="m.fields"
                                                       options="{
                                                       action:k,
                                                       parent: command.name,
                                                       path: command.path,
                                                       isMethod: m.isMethod,
                                                       store: selfExcludedStore
                                                       }"></z-wave-expert-command>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Command class -->
            <div ng-include="'app/views/configuration/modal_cmdclass.html'"></div>
        </div>
    </div>
</div><!-- /ng-controler -->
