<!-- Commands view -->
<div ng-controller="ConfigCommandsController">
    <!-- Config navigation -->
    <div ng-include="'app/views/configuration/navi.html'"></div>
    <div class="row row-configuration">
        <div class="col-md-3 menu-vertical">
            <div ng-include="'app/views/configuration/menu.html'"></div>
        </div>
        <div class="col-md-9 col-content">
            <bb-alert alert="alert"></bb-alert>
            <div id="table_mobile" ng-show="deviceId">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{_t('th_instance')}}</th>
                        <th>{{_t('th_command_class')}}</th>
                        <th>{{_t('th_command_param')}}</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="(k,v) in commands | orderBy:predicate:reverse" id="{{ v.nodeId}}">
                        <td data-title="{{_t('th_instance')}}" ng-class="($index == 0 ? 'no-class' : 'mobile-hide')">
                            <button class="btn btn-default"
                                    ng-click="handleCmdClassModal('cmdClassModal',$event,v.instanceId, $index, v.ccId, 'cmdDataIn')">
                                {{v.instanceId}}
                            </button>
                            &nbsp;

                        </td>
                        <td data-title="{{_t('th_command_class')}}">
                            <button class="btn btn-default" href=""
                                    ng-click="handleCmdClassModal('cmdClassModal',$event,v.instanceId,$index,v.ccId, 'cmdData')">
                                {{v.commandClass}}
                            </button>
                            &nbsp;
                        </td>
                        <td data-title="{{_t('th_command_param')}}">
                            <div class="commands-data" ng-repeat="c in v.command| orderBy:predicate:reverse"
                                 ng-init="formName = 'form_' + c.data.method + '_' + v.rowId">
                                <form
                                        name="{{formName}}"
                                        id="{{formName}}"
                                        class="form form_commands"
                                        role="form"
                                        ng-submit="storeExpertCommnds(formName, v.cmd + '.' + c.data.method)"
                                        novalidate>
                                    <div class="commands-data-control">
                                        <div class="form-inline" ng-repeat="(pk,p) in c.data.params">
                                            <expert-command-input
                                                    collection='p'
                                                    values='c.data.values[pk]'
                                                    devices='devices'
                                                    name='c.data.method'
                                                    get-node-devices='getNodeDevices'
                                            ></expert-command-input>
                                            <!-- {{pk}} {{p}}
                                            {{c.data.values[pk]}}-->

                                        </div>
                                        <button class="btn btn-primary" type="submit"
                                                ng-disabled="rowSpinner[v.cmd + '.' + c.data.method]">
                                            <bb-row-spinner
                                                    spinner="rowSpinner[v.cmd + '.' + c.data.method]"
                                                    label="c.data.method"
                                                    icon="'fa-circle-o'">
                                            </bb-row-spinner>
                                        </button>
                                    </div>


                                </form>
                            </div>
                            &nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal Command class -->
            <div ng-include="'app/views/configuration/modal_cmdclass.html'"></div>
        </div>
    </div>
</div><!-- /ng-controler -->
