<div class="cfg-block" ng-if="hasConfigurationCc.command" ng-controller="ConfigCommandsController">
    <h4>{{hasConfigurationCc.commandClass}}</h4>
    <div ng-if="deviceId">
        <div  ng-if="configCommands.version" ng-init="command = configCommands">
            <z-wave-expert-command ng-repeat="(k, m) in command.methods track by $index"
                                   data="m.fields"
                                   options="{
                                                           action:k,
                                                           parent: command.name,
                                                           path: command.path,
                                                           isMethod: m.isMethod,
                                                           store: selfExcludedStore
                                                           }"></z-wave-expert-command>
        </div>
        <div ng-if="!configCommands.version">
            <configuration-config ng-repeat="(index, data) in configCommands" index="index" data="data"></configuration-config>
        </div>
    </div>
</div>
