<!-- Firmware view -->
<div ng-controller="ConfigFirmwareController">
    <!-- Config navigation -->
    <div ng-include="'app/views/configuration/navi.html'"></div>
    <div class="row row-configuration">
        <div class="col-md-3 menu-vertical">
            <div ng-include="'app/views/configuration/menu.html'"></div>
        </div>
        <div class="col-md-9 col-content">
            <bb-alert alert="alert"></bb-alert>
    <div ng-show="deviceId">
        <!-- <pre>{{firmware.update|json}}</pre> -->
        <form name="form_firmware_update" id="form_firmware_update" class="form form-inline"
              ng-if="firmware.show"
              ng-submit="updateDeviceFirmware(firmware.input,'btn_update')" novalidate>
            <!-- Url -->
            <input id="url" type="text" value="" name="url" class="form-control" ng-model="firmware.input.url" placeholder="{{_t('firmware_url')}}" title="{{_t('firmware_url')}}" />
            <!-- Target -->
            <input id="targetId" type="text" value="" name="url" class="form-control" ng-model="firmware.input.targetId" placeholder="{{_t('target_id')}}" title="_t('target_id')" />
            <!-- File -->
            <input type="file" class="form-control" file-model="myFile" />
            <!-- Target -->
            <!--<select name="devices" class="form-control" ng-model="firmware.input.targetId">
                <option value="" ng-selected="v.id != deviceId">-&#45;&#45; {{_t('Target')}} -&#45;&#45;</option>
                <option value="{{k}}"
                        ng-repeat="(k,v) in ['Z-Wave','EnOcean']"
                        ng-selected="k === 0">{{v}}</option>
            </select>-->

            <!-- Submit -->
            <button type="submit" class="btn btn-primary" id="btn_update"
                    ng-disabled="rowSpinner['btn_update']">
                <bb-row-spinner
                        spinner="rowSpinner['btn_update']"
                        label="_t('update')"
                        icon="'fa-circle-o'">
                </bb-row-spinner>
            </button>
        </form>
    </div>
</div>
</div>
</div><!-- /ng-controler -->
