<!-- Firmware view -->
<div ng-controller="ConfigFirmwareController">
    <!-- Config navigation -->
    <div ng-include="'app/views/configuration/navi.html'"></div>
    <div class="row row-configuration">
        <div class="col-md-3 menu-vertical">
            <div ng-include="'app/views/configuration/menu.html'"></div>
        </div>
        <div class="col-md-9 col-content">
            <bb-alert alert="alert"></bb-alert>
    <div ng-show="deviceId">
        <!-- from Z-Wave.Me Firmware Storage -->
        <table class="table table-striped table-condensed table-hover" ng-if="firmwares.length > 0 && firmware.show">
            <tbody>
            <tr ng-repeat="v in firmwares| orderBy:predicate:reverse" id="row_{{v.id}}">
                <td style="white-space: nowrap;">{{v.released | date:'yyyy-MM-dd'}}</td>
                <td>{{v.toAppVersion}}</td>
                <td><span ng-if="v.target == 0">Z-Wave chip</span><span ng-if="v.target != 0">Chip #{{v.target}}</span></td>
                <td><span ng-if="v.target == 0">{{v.toFrequency}}</span></td>
                <td>{{v.comment}}</td>
                <td class="td-action">
                    <form id="form_firmware_update_{{v.id}}"
                        ng-submit="updateDeviceFirmware({action: 'url', url: cfg.firmwares_storage_url + v.file, target: v.target}, 'btn_update_' + v.id)" novalidate>
                        <button type="submit" class="btn btn-primary" id="btn_update_{{v.id}}"
                                ng-disabled="rowSpinner['btn_update_{{v.id}}']">
                            <bb-row-spinner
                                    spinner="rowSpinner['btn_update_{{v.id}}']"
                                    label="_t('update')"
                                    icon="'fa-circle'">
                            </bb-row-spinner>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clear"></div>
        <!-- from file -->
        <form name="form_firmware_update" id="form_firmware_update" class="form form-inline"
              ng-if="firmware.show"
              ng-submit="updateDeviceFirmware(firmware.input,'btn_update')" novalidate>
            <span class="">{{_t('choose_fw_install_action')}}</span>
            <select name="action" class="form-control" ng-model="firmware.input.action">
                <option value="url">{{_t('fw_upgrade_from_url')}}</option>
                <option value="file" ng-selected="true">{{_t('fw_upgrade_from_file')}}</option>
            </select>
            <!-- Url -->
            <input id="url" type="text" value="" name="url" class="form-control" ng-if="firmware.input.action == 'url'" ng-model="firmware.input.url" placeholder="{{_t('firmware_url')}}" title="{{_t('firmware_url')}}" />
            <!-- File -->
            <input type="file" class="form-control" file-model="firmware.input.file" ng-if="firmware.input.action == 'file'"/>
            <!-- Target -->
            <select name="devices" class="form-control" ng-model="firmware.input.targetId">
               <option value="" ng-selected="v.id != deviceId">--- {{_t('target_id')}} ---</option>
               <option value="{{k}}"
                       ng-repeat="(k,v) in firmware.firmware_targets"
                       ng-selected="k === 0">{{k}}: {{_t(v)}}
               </option>
            </select>
            <!-- Submit -->
            <button type="submit" class="btn btn-primary" id="btn_update"
                    ng-disabled="rowSpinner['btn_update']">
                <bb-row-spinner
                        spinner="rowSpinner['btn_update']"
                        label="_t('update')"
                        icon="'fa-circle'">
                </bb-row-spinner>
            </button>
        </form>
        <div>
            <bb-alert alert="firmware.update.alert"></bb-alert>
            <div class="progress"
                 ng-if="firmware.update.show && firmware.update.progress >= 0 && firmware.update.progress < 101">
                <div class="progress-bar"
                     style="min-height:40px;min-width: 2em; width:{{firmware.update.progress}}%;"
                     ng-class="firmware.update.progress < 100 ? 'progress-bar-danger progress-bar-striped active' : 'progress-bar-success'">
                    {{firmware.update.progress}}%
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div><!-- /ng-controler -->
