<!-- Interview view -->
<div ng-controller="ConfigInterviewController">
    <!-- Config navigation -->
    <div ng-include="'app/views/configuration/header.html'"></div>
    <div class="tab-content" ng-show="deviceId">
        <!-- rename_cont -->
        <div class="cfg-block" id="rename_cont">
            <h4><a href="" ng-click="goRename = !goRename">{{_t('device_rename_tooltip')}} <i class="fa fa-pencil"></i>
            </a></h4>
            <div ng-show="goRename">
                <form name="form_rename" id="form_rename" ng-model="form_rename" class="form form-inline"
                      ng-submit="renameDevice(deviceName,'deviceName')" novalidate>
                    <input name="device_name" id="device_name" type="text" class="form-control"
                           value="{{deviceName}}" ng-model="deviceName"/>
                    <button type="submit" class="btn btn-primary" id="btn_update"
                            ng-disabled="rowSpinner['deviceName']">

                        <bb-row-spinner
                                spinner="rowSpinner['deviceName']"
                                label="_t('btn_save_name')"
                                icon="'fa-circle-o'">
                        </bb-row-spinner>
                    </button>
                </form>
            </div>
        </div>
        <div class="cfg-block">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive_">
                        <table class="table table-striped table-condensed table-cfg-interview">
                            <tbody>
                            <tr ng-repeat="v in descriptionCont" ng-show="v.val || v.val != ''">
                                <th>{{_t(v.key)}}</th>
                                <td id="{{v.key}}">
                                    <div ng-switch on="v.key">
                                        <div ng-switch-when="command_class">
                                         <span ng-repeat="cc in interviewCommands">
                                             <a href=""
                                                ng-click="handleCmdClassModal('cmdClassModal',$event,cc.iId,cc.ccId, 'cmdData')">
                                                 {{cc.ccName}}
                                             </a> &#8226;&nbsp;
                                         </span>

                                        </div>
                                        <p class="config-interview-val" ng-switch-default
                                           ng-bind-html="v.val | toTrusted"></p>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{deviceImage}}" class="config-device-img" alt="Image"/>
                </div>
            </div>
        </div>

        <div class="cfg-block">
            <!-- call nift -->
            <button id="btn_request_nif" class="btn btn-primary"
                    ng-click="requestNodeInformation('devices[' + deviceId + '].RequestNodeInformation()')"
                    ng-disabled="rowSpinner['devices[' + deviceId + '].RequestNodeInformation()']">

                <bb-row-spinner
                        spinner="rowSpinner['devices[' + deviceId + '].RequestNodeInformation()']"
                        label="_t('config_ui_request_node_info')"
                        icon="'fa-circle-o'">
                </bb-row-spinner>
            </button>
            <!-- force interview-->
            <button class="btn btn-primary" id="btn_interview_force"
                    ng-click="interviewForce('devices[' + deviceId + '].InterviewForce()')"
                    ng-disabled="rowSpinner['devices[' + deviceId + '].InterviewForce()']">

                <bb-row-spinner
                        spinner="rowSpinner['devices[' + deviceId + '].InterviewForce()']"
                        label="_t('config_ui_force_interview')"
                        icon="'fa-fire'">
                </bb-row-spinner>
            </button>
            <!-- interview result -->
            <button id="btn_show_interview_result" class="btn btn-default"
                    ng-click="handleModal('interviewModal',$event)">
                <i class="fa fa-clone"></i> {{_t('config_ui_show_interview_results')}}
            </button>
            <!-- device description -->
            <button id="btn_show_description" class="btn btn-default"
                    ng-click="handleModal('loadXmlModal', $event)">
                <i class="fa fa-clone"></i> NEW {{_t('config_ui_select_xml')}}
            </button>

           <!-- <button id="btn_show_description" class="btn btn-default"
                    ng-click="showModalDeviceSelect('#modal_device_select', deviceId, '#modal_device_select .allert-hidden')">
                <i class="fa fa-clone"></i> {{_t('config_ui_select_xml')}}
            </button>-->
            <!-- zddx creator -->
            <a href="{{cfg.server_url + cfg.zddx_create_url + deviceId}}" class="btn btn-default" id="btn_create_zddx"
               target="_blank">
                <i class="fa fa-clone"></i> {{_t('btn_zddx_create')}}
            </a>
        </div>

    </div>
    <!-- Modal interview -->
    <div ng-include="'app/views/configuration/modal_interview.html'"></div>
    <!-- Modal Command class -->
    <div ng-include="'app/views/configuration/modal_cmdclass.html'"></div>
    <!-- Modal load xml -->
    <div ng-include="'app/views/configuration/modal_loadxml.html'"></div>



</div><!-- /ng-controler -->
