<!-- Config menu -->
<div class="configuration-select" ng-if="_.size(devices) > 30" z-wave-keyboard-control>
    <select class="form-control"
            ng-model="deviceId"
            ng-change="redirectToDevice(deviceId)" >
        <option value="{{v.id}}"
                ng-selected="v.id == deviceId"
                ng-repeat="v in devices track by $index">
            (#{{v.id}}) {{v.name | cutText:true:30}}
        </option>
    </select>
</div>
<ul class="list-group" z-wave-keyboard-control>
    <li class="list-group-item clickable" title="{{v.name }}"
        ng-repeat="v in devices track by $index"
        ng-class="v.id == deviceId ? 'active': ''">
        <a ng-href="#{{activeUrl + v.id}}">(#{{v.id}}) {{v.name | cutText:true:30}}</a>
    </li>
</ul>
