<!-- loadXmlModal -->
<div id="loadXmlModa" class="appmodal" ng-if="modalArr.loadXmlModal">
    <div class="appmodal-in" ng-controller="LoadDeviceXmlController">
        <div class="appmodal-header">
                <span class="appmodal-close" ng-click="handleModal('loadXmlModal', $event)"><i
                        class="fa fa-times"></i></span>
            <h3>{{_t('config_ui_select_xml')}}</h3>
        </div>
        <div class="appmodal-body modal-h-600">
            <p ng-bind-html="_t('select_zddx_help') | toTrusted"></p>
            <select id="select_zddx_help" class="form-control"
                    ng-change="changeDeviceXml(deviceXml.input)"
                    ng-model="deviceXml.input.fileName">
                <option value="">---</option>
                <option ng-init="selectCfg = {
                                'name':((v.brandName == '' && v.productName == '')?('Unnamed ZDDX: ' + v.fileName):(v.brandName + ' ' + v.productName))}"
                        ng-repeat="v in deviceXml.all | orderBy:'brandName':false track by $index"
                        ng-selected="deviceZddxFile == v.fileName"
                        value="{{v.fileName}}">{{selectCfg.name}}
                </option>
            </select>
            <div id="device_select_image_container" ng-if="!_.isEmpty(deviceXml.find) && deviceXml.find.deviceImage">
                <div id="device_select_image">
                    <img ng-src="{{deviceXml.find.deviceImage}}" />
                </div>
            </div>
        </div>
        <div class="appmodal-footer">
            <!-- Close -->
            <button type="button" class="btn btn-default" ng-click="handleModal('loadXmlModal', $event)">
                <i class="fa fa-times text-danger"></i> <span class="btn-name">{{_t('btn_cancel')}}</span>
            </button>
            <!-- Select -->
            <button class="btn btn-primary"
                    ng-if="!_.isEmpty(deviceXml.find)"
                    ng-click="storeDeviceXml(deviceXml.input,'storeDeviceXml')"
                    ng-disabled="rowSpinner['storeDeviceXml']">

                <bb-row-spinner
                        spinner="rowSpinner['storeDeviceXml']"
                        label="_t('btn_save')"
                        icon="'fa-circle-o'">
                </bb-row-spinner>
            </button>
        </div>
    </div>
</div>
<!-- /#llloadXmlModal -->
<!--<div class="modal fade" id="modal_device_select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_t('config_ui_select_xml')}}</h4>
            </div>
            <div class="modal-body">

                &lt;!&ndash;<div class="alert alert-warning allert-hidden">Can't select device description</div>&ndash;&gt;
                <div ng-if="deviceZddx.length > 0">
                    <p ng-bind-html="_t('select_zddx_help') | toTrusted"></p>
                    <select
                            name="select_zddx_help"
                            id="select_zddx_help"
                            class="form-control"
                            ng-change="changeDeviceSelect('#select_zddx_help', '#device_select_image',modelSelectZddx)"
                            ng-model="modelSelectZddx">
                        <option value="">-&#45;&#45;</option>
                        <option
                                ng-init="selectCfg = {
                                'name':((v.brandName == '' && v.productName == '')?('Unnamed ZDDX: ' + v.fileName):(v.brandName + ' ' + v.productName))}"
                                ng-repeat="v in deviceZddx | orderBy:'brandName':false"
                                ng-selected="deviceZddxFile == v.fileName"
                                value="{{v.fileName}}"
                                data-image="{{v.deviceImage}}">{{selectCfg.name}}
                        </option>
                    </select>
                    <div id="device_select_image_container">
                        <div id="device_select_image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="runCmdDeviceSelect(deviceId)">{{_t('btn_select')}}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_t('btn_cancel')}}</button>
            </div>
        </div>
    </div>
</div>-->
<!-- /#lloadXmlModal -->