<!-- Firmware view -->
<div ng-controller="ConfigTokenController">
    <!-- Config navigation -->
    <div ng-include="'app/views/configuration/navi.html'"></div>
    <div class="row row-configuration">
        <div class="col-md-3 menu-vertical">
            <div ng-include="'app/views/configuration/menu.html'"></div>
        </div>
        <div class="col-md-9 col-content">
            <bb-alert alert="alert"></bb-alert>
            <div ng-show_="deviceId">
                token
            </div>
        </div>
    </div>
</div><!-- /ng-controler -->
