<!--Print view -->
<div class="print-header">
    <p><strong>Network name:</strong> {{cfg.zwavecfg.network_name}}</p>
    <p><strong>Date:</strong> {{ nowDate | date :  'yyyy-MM-dd' }}</p>
</div>

<!-- Device Info und Device Status -->
<div class="print-section">
    <h2 class="section-title">Device Info and Device Status</h2>
    
    <div class="print-entry">
        <div ng-include="'app/views/device/status.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/device/type.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/device/battery.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/device/associations.html'"></div>
    </div>
</div>

<!-- Link status -->
<div class="print-section page-break">
    <h2 class="section-title">Link status</h2>

    <div class="print-entry">
        <div ng-include="'app/views/network/neighbors.html'"></div>
    </div>
    <!-- convas does not look good in this mode
    <div class="print-entry">
        <div ng-include="'app/views/network/map.html'"></div>
    </div>
    -->
    <div class="print-entry">
        <div ng-include="'app/views/network/linkstatus.html'"></div>
    </div>
</div>

<!-- Analytics -->
<div class="print-section page-break">
<h2 class="section-title">Analytics</h2>
    <div class="print-entry">
        <div ng-include="'app/views/installer/timing.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/installer/routemap.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/installer/rssi_background.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/installer/devices_rssi.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/installer/rssi_report.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/installer/packets.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/installer/statistics.html'"></div>
    </div>
</div>

<!-- Controller -->
<div class="print-section page-break">
<h2 class="section-title">Controller</h2>
    <div class="print-entry">
        <div ng-include="'app/views/network/controller.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/network/queue.html'"></div>
    </div>
</div>

<!-- Control -->
<div class="print-section page-break">
<h2 class="section-title">Devices</h2>
    <div class="print-entry">
        <div ng-include="'app/views/controll/switch.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/controll/sensors.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/controll/meters.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/controll/thermostat.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/controll/locks.html'"></div>
    </div>
    <div class="print-entry">
        <div ng-include="'app/views/controll/notifications.html'"></div>
    </div>
</div>

<!-- Notes-->
<div class="print-section page-break">
    <h2 class="section-title">{{ _t('txt_notes') }}</h2>
    <div class="print-entry" ng-controller="DataHolderController">
        <span class="newlines" ng-if="dataHolder.controller.homeNotes">
                {{dataHolder.controller.homeNotes|stripTags}}
                </span>&nbsp;
    </div>
</div>

<!--<div class="print-entry">
    <div ng-include="'app/views/network/routing.html'"></div>
    zeigt die aktuelle Routingtabelle
</div>-->
<!--<div class="print-entry">
    <div ng-include="'app/views/network/link_health.html'"></div>
    zeigt die noch zu entwickelnde Übersicht mit den Link status als Zusammenfassung der Einzelseiten aus dem
    Config-bereich
</div>-->
