<div class="app-dropdown-content">
  <div class="form-group">
    <!-- Value -->
    <select class="form-control" ng-model="zniffer.filter.speed.value" ng-change="onChangeZnifferFilter('speed')">
      <option value="">--- {{_t('all')}} ---</option>
      <option value="{{v}}" ng-repeat="v in zniffer.cfg.speed track by $index" ng-selected="v == zniffer.filter.speed.value">
        {{v}} {{_t('kbps')}}</option>
    </select>
  </div>
  <!-- Hide -->
  <div class="form-group_" ng-if="zniffer.filter.speed.value">
    <label class="switch" aria-label="{{_t('hide')}}">
      <input type="checkbox" ng-model="zniffer.filter.speed.hide" ng-change="onChangeZnifferFilter('speed')">
      <span class="slider"></span>
    </label>
  </div>
</div>
<div class="appdropdown-footer">
  <!-- Save -->
  <button class="btn btn-success" type="button" bb-dropdown=".position-relative" ng-click="setZnifferFilter('speed')" title="{{_t('th_ok')}}">
    <i class="fa fa-check"></i>
  </button>
</div>