<div class="app-dropdown-content">

  <!-- Value -->
  <select class="form-control" ng-model="zniffer.filter.type.value" ng-change="onChangeZnifferFilter('type')">
      <option value="">--- {{_t('all')}} ---</option>
      <option value="{{v}}" ng-repeat="v in zniffer.cfg.type track by $index" ng-selected="v == zniffer.filter.type.value">
        {{_t(v)}}</option>
    </select>
</div>
<div class="appdropdown-footer">
 <!-- Save -->
    <button class="btn btn-success" type="button" bb-dropdown=".position-relative" ng-click="setZnifferFilter('type')" title="{{_t('th_ok')}}">
      <i class="fa fa-check"></i>
    </button>

</div>