<div class="app-dropdown-content">
   <!-- From-->
    <div class="form-group">
      <label>{{_t('date_from')}}</label>
      <input class="form-control" type="date" ng-model="zniffer.filter.date.value" ng-change="onChangeZnifferFilter('date')" />
    </div>
     <!-- To-->
    <div class="form-group" ng-show="zniffer.filter.date.value.length > 0">
      <label>{{_t('date_to')}}</label>
         <input class="form-control" type="date" ng-model="zniffer.filter.date.to" ng-change="onChangeZnifferFilter('date')" />
      </div>
  </div>
  <div class="appdropdown-footer">
    <!-- Save -->
    <button class="btn btn-success" type="button" bb-dropdown=".position-relative" ng-click="setZnifferFilter('date')" title="{{_t('th_ok')}}">
      <i class="fa fa-check"></i>
    </button>
  </div>