<div class="app-dropdown-content">
    <div class="form-group">
      <!-- Value -->
      <input class="form-control" type="text" placeholder="{{_t('enter_value')}}. {{_t('use_charcter_delimit')}}" ng-model="zniffer.filter.date.value"
      />
    </div>
    <!-- Hide -->
    <div class="checkbox" ng-if="zniffer.filter.date.value">
      <label>
        <input type="checkbox" type="checkbox" ng-model="zniffer.filter.date.hide" /> {{_t('hide')}}
      </label>
    </div>
  </div>
  <div class="appdropdown-footer">
    <!-- Close -->
    <div class="btn-group" ng-show="!zniffer.filter.date.value.length || 0 == zniffer.filter.date.value.length">
      <button class="btn btn-default" type="button" bb-dropdown=".position-relative" ng-click="deleteZnifferFilter('date')" title="{{_t('reset_filter')}}">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="btn-group" ng-show="zniffer.filter.date.value.length > 0">
      <!-- Reset -->
      <button class="btn btn-default" type="button" bb-dropdown=".position-relative" ng-click="deleteZnifferFilter('date')" title="{{_t('reset_filter')}}">
        <i class="fa fa-trash text-danger"></i>
      </button>
      <!-- Save -->
      <button class="btn btn-success" type="button" bb-dropdown=".position-relative" ng-click="setZnifferFilter('date')" title="{{_t('th_ok')}}">
        <i class="fa fa-check"></i>
      </button>
    </div>
  </div>