<div class="app-dropdown-content">
  <div class="form-group">
    <!-- Value -->
    <select class="form-control" ng-model="zniffer.filter.hops.value">
      <option value="">--- {{_t('all')}} ---</option>
      <option value="{{v}}" ng-repeat="v in zniffer.cfg.hops track by $index" ng-selected="v == zniffer.filter.hops.value">{{v}}</option>
    </select>
  </div>
  <!-- Hide -->
  <div class="form-group_" ng-if="zniffer.filter.hops.value">
    <label class="switch" aria-label="{{_t('hide')}}">
      <input type="checkbox" ng-model="zniffer.filter.hops.hide" ng-change="onChangeZnifferFilter('hops')">
      <span class="slider"></span>
    </label>
  </div>
  <div class="appdropdown-footer">
    <!-- Save -->
    <button class="btn btn-success" type="button" bb-dropdown=".position-relative" ng-click="setZnifferFilter('hops')" title="{{_t('th_ok')}}">
      <i class="fa fa-check"></i>
    </button>
  </div>