<div class="app-dropdown-content">
  <div class="form-group">
    <!-- Value -->
    <input class="form-control" type="text" placeholder="{{_t('enter_search_query')}}" ng-model="autocomplete.term" bb-key-event="searchMe()"
    />
  </div>

  <div class="zniffer-autocomplete" title="{{v.application}}" ng-repeat="v in autocomplete.results | orderBy:'application' track by $index">
    {{v.application}}
  </div>
  <!-- Hide -->
  <div class="form-group_" ng-if="zniffer.filter.application.value">
    <label class="switch" aria-label="{{_t('hide')}}">
      <input type="checkbox" ng-model="zniffer.filter.application.hide" ng-change="onChangeZnifferFilter('application')">
      <span class="slider"></span>
    </label>
  </div>
</div>
<div class="appdropdown-footer">
  <!-- Save -->
  <button class="btn btn-success" type="button" bb-dropdown=".position-relative" ng-click="setZnifferFilter('application')" title="{{_t('th_ok')}}">
    <i class="fa fa-check"></i>
  </button>
</div>