<div class="app-dropdown-content">
  <div class="form-group">
    <!-- Value -->
    <input class="form-control" type="text" placeholder="{{_t('use_charcter_delimit')}}" ng-model="zniffer.filter.dest.value"
      ng-change="onChangeZnifferFilter('dest')" />
  </div>
  <!-- Hide -->
  <div class="form-group_" ng-if="zniffer.filter.dest.value">
    <label class="switch" aria-label="{{_t('hide')}}">
      <input type="checkbox" ng-model="zniffer.filter.dest.hide" ng-change="onChangeZnifferFilter('dest')">
      <span class="slider"></span>
    </label>
  </div>
</div>
<div class="appdropdown-footer">
  <!-- Save -->
  <button class="btn btn-success" type="button" bb-dropdown=".position-relative" ng-click="setZnifferFilter('dest')" title="{{_t('th_ok')}}">
    <i class="fa fa-check"></i>
  </button>
</div>