<div class="app-dropdown-content">
  <div class="form-group">
    <!-- Value -->
    <input class="form-control" type="text" placeholder="{{_t('use_charcter_delimit')}}" ng-model="zniffer.filter.src.value"
    ng-change="onChangeZnifferFilter('src')" />
  </div>
  <!-- Hide -->
  <div class="checkbox" ng-if="zniffer.filter.src.value">
    <label>
      <input type="checkbox" type="checkbox" ng-model="zniffer.filter.src.hide" ng-change="onChangeZnifferFilter('src')" /> {{_t('hide')}}
    </label>
  </div>
</div>
<div class="appdropdown-footer">
  <!-- Close -->
  <div class="btn-group" ng-show="!zniffer.filter.src.value.length || 0 == zniffer.filter.src.value.length">
    <button class="btn btn-default" type="button" bb-dropdown=".position-relative" ng-click="deleteZnifferFilter('src')" title="{{_t('reset_filter')}}">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="btn-group" ng-show="zniffer.filter.src.value.length > 0">
    <!-- Reset -->
    <button class="btn btn-default" type="button" bb-dropdown=".position-relative" ng-click="deleteZnifferFilter('src')" title="{{_t('reset_filter')}}">
      <i class="fa fa-trash text-danger"></i>
    </button>
    <!-- Save -->
    <button class="btn btn-success" type="button" bb-dropdown=".position-relative" ng-click="setZnifferFilter('src')" title="{{_t('th_ok')}}">
      <i class="fa fa-check"></i>
    </button>
  </div>
</div>