<!-- Test view -->
<span><a href="#network/queue" target="_blank" class="jobs">{{_t('jobs')}}</a>: {{cfg.busy_indicator.result}}&nbsp;</span>
<!-- 0 -->
<span class="text-success" ng-if="cfg.busy_indicator.result <= 0" ng-click="cfg.busy_indicator.queuePause = !cfg.busy_indicator.queuePause">
<i class="fa fa-stop"></i>
</span>
<!-- 1-20 -->
<span class="text-warning" ng-if="cfg.busy_indicator.result > 0 && cfg.busy_indicator.result < 20" ng-click="cfg.busy_indicator.queuePause = !cfg.busy_indicator.queuePause">
<i class="fa fa-stop"></i><i class="fa fa-stop"></i>
</span>
<!-- great 10 -->
<span class="text-danger" ng-if="cfg.busy_indicator.result > 19" ng-click="cfg.busy_indicator.queuePause = !cfg.busy_indicator.queuePause">
<i class="fa fa-stop"></i><i class="fa fa-stop"></i><i class="fa fa-stop"></i>
</span>
